<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title_w_link( @pcp_subject.subject_title, pcp_subject_path( @pcp_subject )) %>
  <div class="table-responsive col-sm-8">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="col-sm-1"><%= PcpMember.human_attribute_name( :account_id )%></th>
          <th class="col-sm-2"><%= I18n.t( 'pcp_members.index.user_name' )%></th>
          <th class="col-sm-2"><%= PcpMember.human_attribute_name( :pcp_group  )%></th>
          <th class="col-sm-1"><%= PcpMember.human_attribute_name( :to_access  )%></th>
          <th class="col-sm-1"><%= PcpMember.human_attribute_name( :to_update  )%></th>
          <th class="col-sm-1 hidden-print"><%= t( 'action_title.header' )%></th>
        </tr>
      </thead>
      <tbody>
      <% if @pcp_members.length.zero? %>
        <%= render partial: 'shared/index_empty_row', locals:{ columns: 5, with_link: true }%>
      <% else %>
        <% @pcp_members.each do |pm| %>
          <tr>
            <td><%= pm.account.to_id %></td>
            <td><%= link_to_contact_list( pcp_member.account ) %></td>
            <td><%= pm.pcp_group_label %></td>
            <td><%= display_boolean pm.to_access %></td>
            <td><%= display_boolean pm.to_update %></td>
            <td><%= render partial: 'shared/actions', object: pm %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <%= render partial: 'shared/footer' %>
  </div>
</div>
