<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="form-horizontal" role="form">
    <%= form_for @pcp_member, url: pcp_subject_pcp_members_path( @pcp_subject ) do |f| %>
      <%= render partial: 'shared/notice' %>
      <div class="form-group">
        <%= f.label :id, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= display_value f.object.id %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :pcp_subject, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :pcp_subject, class: "form-control", readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :account, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :account, class: "form-control", readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :pcp_group, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :pcp_group, class: "form-control", readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :to_access, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :to_access, class: "form-control", readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :to_update, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :to_update, class: "form-control", readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
          <%= link_to t( 'button_label.edit' ), edit_pcp_subject_pcp_member_path( @pcp_subject, @pcp_member ), class: "btn btn-lg btn-block btn-default" %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( 'button_label.goto_to_list' ), pcp_subject_pcp_members_path( @pcp_subject ), class: "btn btn-lg btn-block btn-default" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
