<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title_w_link( @pcp_subject.subject_title, pcp_subject_path( @pcp_subject )) %>
  <div class="form-horizontal" role="form">
    <%= form_for @pcp_item do |f| %>
      <%= render partial: 'shared/notice' %>
      <%= render( partial: 'display_item', object: @pcp_item ) unless @pcp_item_edit.nil? %>
      <%= render( partial: 'show_item',    object: @pcp_item ) unless @pcp_item_show.nil? %>
      <%- @pcp_comments_show.each do |pc| -%>
        <%- break if pc == @pcp_comment_edit %>
        <%- next unless PcpSubject.same_group?( pc.pcp_step.acting_group_index, @pcp_group_map )-%>
          <hr class="hr-small col-sm-9"/>
          <%= render( partial: 'show_comment', object: pc )%>
      <%- end -%>
      <%- unless @pcp_comment_edit.nil? then -%>
          <hr class="hr-small col-sm-9"/>
          <%= render partial: 'display_comment', object: @pcp_comment_edit %>
      <%- end -%>
      <!--hr class="hr-small col-sm-9"/-->
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
          <%= link_to t( 'button_label.edit' ), @pcp_comment_edit.nil? ? edit_pcp_item_path( @pcp_item ) : edit_pcp_comment_path( @pcp_comment_edit ), class: 'btn btn-lg btn-block btn-default' %>
        </div>
        <div class="col-sm-2">
        	<%= link_to t( 'button_label.next' ), pcp_item_next_path( @pcp_item ), class: 'btn btn-lg btn-block btn-default' %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( 'button_label.go_to_index' ), pcp_subject_pcp_items_path( @pcp_subject ), class: 'btn btn-lg btn-block btn-default' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
          <%= link_to t( '.add_item' ), new_pcp_subject_pcp_item_path( @pcp_subject ), class: 'btn btn-lg btn-block btn-default' %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( '.add_comment' ), new_pcp_comment_path( @pcp_item ), class: 'btn btn-lg btn-block btn-default' %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( '.publish' ), pcp_item_publish_path( @pcp_item ), class: 'btn btn-lg btn-block btn-default' %>
        </div>
      </div>
    <%- end -%>
  </div>
</div>
