<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="form-horizontal" role="form">
    <%= form_for @country_name do |cn| %>
      <%= render partial: 'shared/notice' %>
      <div class="form-group">
        <%= cn.label :id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value cn.object.to_id %>
        </div>
      </div>
      <div class="form-group">
        <%= cn.label :code, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value cn.object.code %>
        </div>
      </div>
      <div class="form-group">
        <%= cn.label :label, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= display_value cn.object.label %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
          <%= link_to t( 'button_label.edit' ), edit_country_name_path( @country_name ), class: 'btn btn-lg btn-block btn-default' %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( 'button_label.go_to_index' ), country_names_path, class: 'btn btn-lg btn-block btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
