      <div class="form-group">
        <%= form.label :id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value form.object.to_id %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :sir_item, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form.text_field :sir_item, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :type, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form.text_field :type, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :group, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form.text_field :group, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :due_date, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form.text_field :due_date, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :parent, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form.text_field :parent, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :no_sub_req, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form.text_field :no_sub_req, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :desc, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form.text_field :desc, class: 'form-control' %>
        </div>
      </div>

