<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="form-horizontal" role="form">
    <%= form_for @network_station do |f| %>
      <%= render partial: 'shared/notice' %>
      <div class="form-group">
        <%= f.label :id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value f.object.to_id %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :code, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value f.object.code %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :curr_name, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= display_value f.object.curr_name %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :transfer, class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%= display_check_box f.object.transfer %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :alt_code, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value f.object.alt_code %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :prev_name, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= display_value f.object.prev_name %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :note, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= display_value f.object.note %>
        </div>
      </div>
      <!-- Network Stops -->
      <%= render partial: 'network_stop_header', locals: { action_type: :show } %>
      <% if f.object.network_stops.empty? %>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4"><%= t( 'network_stations.no_stop_info' )%></div>
      </div>
      <% else %>
        <%= f.fields_for :network_stops, f.object.network_stops do |ns| %>
          <%= render partial: 'network_stop', locals: { network_stop: ns, action_type: :show } %>
        <% end %>
      <% end %>
      <%= render partial: 'network_stop_footer' %>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
          <%= link_to t( 'button_label.edit' ), edit_network_station_path( @network_station ), class: 'btn btn-lg btn-block btn-default' %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( 'button_label.go_to_index' ), network_stations_path, class: 'btn btn-lg btn-block btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
