<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="table-responsive">
    <%= form_tag({},{ method: :get }) do %>
    <%= will_paginate @abbreviations %>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="col-sm-1"><%= label_tag :ff_id,   Abbreviation.human_attribute_name( :id          ), class: 'control-label' %></th>
          <th class="col-sm-2"><%= label_tag :ff_code, Abbreviation.human_attribute_name( :code        ), class: 'control-label' %></th>
          <th class="col-sm-6"><%= label_tag :ff_desc, Abbreviation.human_attribute_name( :description ), class: 'control-label' %></th>
          <th class="col-sm-1 hidden-print"><%= filter_action_title_header -%></th>
        </tr>
      </thead>
      <tbody>
        <tr <%= filter_row( @filter_fields ) -%>>
          <td><%= filter_field @filter_fields, :ff_id,   :id -%></td>
          <td><%= filter_field @filter_fields, :ff_code, :sl -%></td>
          <td><%= filter_field @filter_fields, :ff_desc, :sw -%></td>
          <td><%= filter_action_button -%></td>
        </tr>
        <% if @abbreviations.length.zero? %>
          <%= render partial: 'shared/index_empty_row', locals:{ columns: 3, with_link: true }%>
        <% else %>
          <% @abbreviations.each do |a| %>
            <tr>
              <td><%= a.to_id %></td>
              <td><%= a.code %></td>
              <td><%= a.description %></td>
              <td><%= render partial: 'shared/actions', object: a %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <% end %>
    <%= render partial: 'shared/download_xls' %>
    <%= render partial: 'shared/footer' %>
  </div>
</div>
