<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="form-horizontal" role="form">
    <%= form_for @phase_code do |pc| %>
      <%= render partial: 'shared/notice' %>
      <div class="form-group">
        <%= pc.label :id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value pc.object.to_id %>
        </div>
      </div>
      <div class="form-group">
        <%= pc.label :code, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value pc.object.code %>
        </div>
      </div>
      <div class="form-group">
        <%= pc.label :label, class: 'col-sm-3 control-label' %>
        <div class="col-sm-5">
          <%= display_value pc.object.label %>
        </div>
      </div>
      <div class="form-group">
        <%= pc.label :acro, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value pc.object.acro %>
        </div>
      </div>
      <div class="form-group">
        <%= pc.label :siemens_phase_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value pc.object.siemens_phase_id %>
        </div>
      </div>
      <div class="form-group">
        <%= pc.label :level, class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%= display_value pc.object.level %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
          <%= link_to t( 'button_label.edit' ), edit_phase_code_path( @phase_code ), class: 'btn btn-lg btn-block btn-default' %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( 'button_label.go_to_index' ), phase_codes_path, class: 'btn btn-lg btn-block btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

  