<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="form-horizontal" role="form">
    <%= form_for( @person, url: profile_path ) do |p| %>
      <%= render partial: 'shared/notice' %>
      <div class="form-group">
        <%= p.label :id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value p.object.to_id %>
        </div>
      </div>
      <div class="form-group">
        <%= p.label :formal_name, class: 'col-sm-3 control-label' %>    
        <div class="col-sm-4">
          <%= display_value p.object.formal_name %>
        </div>
      </div>
      <div class="form-group">
        <%= p.label :informal_name, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= display_value p.object.informal_name %>
        </div>
      </div>
      <div class="form-group">
        <%= p.label :email, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= display_value p.object.email %>
        </div>
      </div>
      <%= render partial: 'people/account_header' %>
      <%= p.fields_for :accounts, p.object.accounts.find( @user_id ) do |a| %>
        <div class="form-group">
          <%= a.label :name, class: 'col-sm-3 control-label' %>
          <div class="col-sm-4">
            <%= display_value a.object.name %>
          </div>
        </div>
        <div class="form-group">
          <%= a.label :password, class: 'col-sm-3 control-label' %>
          <div class="col-sm-4">
            <p class="form-control-static"><%= t( '.click2edit' ) -%></p>
          </div>
        </div>
        <div class="form-group">
          <%= a.label :keep_base_open, class: 'col-sm-3 control-label' %>
          <div class="col-sm-1">
            <%= display_check_box a.object.keep_base_open %>
          </div>
        </div>
      <% end %>
      <%= render partial: 'people/contact_info_header' %>
      <!-- Contact Info -->
      <% if p.object.contact_infos.empty? %>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4"><%= t( 'action_title.empty_row' ) %></div>
      </div>
      <% else %>
        <%= p.fields_for :contact_infos, p.object.contact_infos.order( :info_type ) do |ci| %>
          <%= render partial: 'people/contact_info', locals: { contact_info: ci, action_type: :show } %>
        <% end %>
      <% end %>
      <%= render partial: 'people/contact_info_footer' %>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
          <%= link_to t( 'button_label.edit' ), "/profile/edit", class: 'btn btn-lg btn-block btn-default' %>
        </div>
        <div class="col-sm-2">
          <%= link_to_help feature_help_file, t( 'button_label.help' ), class: 'btn btn-lg btn-block btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
