      <div class="form-group">
        <%= form.label :id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value form.object.to_id %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :if_code, class: 'col-sm-3 control-label' %>
        <div class="col-sm-3">
          <%= display_value form.object.if_code %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :l_group_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= form.select :l_group_id, @isr_groups, { include_blank: true },{ class: 'form-control' }%>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :p_group_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= form.select :p_group_id, @isr_groups, { include_blank: true },{ class: 'form-control' }%>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :title, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= form.text_field :title, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :desc, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= form.text_area :desc, class: 'form-control', cols: DEFAULT_COLS_TEXTAREA, rows: DEFAULT_ROWS_TEXTAREA %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :current_status, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form.text_field :current_status, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :current_task, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form.text_field :current_task, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :cfr_record_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= form.text_field :cfr_record_id, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :safety_related, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form.text_field :safety_related, class: 'form-control' %>
        </div>
      </div>

