      <%- if @workflow.param_permitted?( :ia_type )%>
        <%= form_ia.hidden_field :ia_type %>
      <%- end %>
      <div class="form-group">
        <%= form_ia.label :code, IsrAgreement.human_attribute_name( :ia_code ), class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= display_value form_ia.object.code_and_revision %>
        </div>
      </div>
      <div class="form-group">
        <%= form_ia.label :l_group_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form_ia.select :l_group_id, @isr_l_groups, { prompt: true },{ class: 'form-control', required: true }%>
        </div>
      </div>
      <%= render partial: 'shared/edit_account', locals: { fbo: form_ia, a_id: :l_owner_id, wbtn: true }%>
      <%= render partial: 'shared/edit_account', locals: { fbo: form_ia, a_id: :l_deputy_id }%>
      <div class="form-group">
        <%= form_ia.label :p_group_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form_ia.select :p_group_id, @isr_p_groups, { prompt: true }, { class: 'form-control', required: true }%>
        </div>
      </div>
      <%= render partial: 'shared/edit_account', locals: { fbo: form_ia, a_id: :p_owner_id, wbtn: true  }%>
      <%= render partial: 'shared/edit_account', locals: { fbo: form_ia, a_id: :p_deputy_id }%>
      <div class="form-group">
        <%= form_ia.label :def_text, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= form_ia.text_area :def_text, class: 'form-control', cols: DEFAULT_COLS_TEXTAREA, rows: DEFAULT_ROWS_TEXTAREA %>
        </div>
      </div>
      <%= render partial: 'shared/edit_cfr', locals: { fbo: form_ia }%>
      <%= render partial: 'shared/edit_tia', locals: { fbo: form_ia, a_id: :res_steps_id, a_as: :res_steps }%>
      <%= render partial: 'shared/edit_tia', locals: { fbo: form_ia, a_id: :val_steps_id, a_as: :val_steps }%>
      <div class="form-group">
        <%= form_ia.label :ia_status, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value form_ia.object.ia_status_label %>
        </div>
      </div>
      <div class="form-group">
        <%= form_ia.label :current_status_task, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= display_value @workflow.status_task_label %>
        </div>
      </div>
      <div class="form-group">
        <%= form_ia.label :next_status_task, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= select_tag :next_status_task,
            options_for_select( @workflow.next_status_task_labels_for_select, selected: 0 ), { class: 'form-control' } %>
        </div>
      </div>
