          <div class="form-group p-group">
            <p class="col-sm-3 p-label"><%= t( 'isr_interfaces.show.ia_label' )%></p>
            <p class="col-sm-3"><%= link_to show_ia.code_and_revision, isr_agreement_path( show_ia ) %></p>
            <p class="col-sm-1 p-label"><%= IsrAgreement.human_attribute_name( :ia_status )%></p>
            <p class="col-sm-2"><%= show_ia.ia_status_label %></p>
          </div>
          <div class="form-group p-group">
            <p class="col-sm-3 p-label"><%= t( 'isr_interfaces.show.groups' ) %></p>
            <p class="col-sm-3"><%= show_ia.l_group.try( :code_and_label )%></p>
            <p class="col-sm-3"><%= show_ia.p_group.try( :code_and_label )%></p>
          </div>
          <%- if show_ia.l_owner_id || show_ia.p_owner_id %>
            <div class="form-group p-group">
              <p class="col-sm-3 p-label"><%= t( 'isr_interfaces.show.owners' )%></p>
              <p class="col-sm-3"><%= link_to_contact_list show_ia.l_owner %></p>
              <p class="col-sm-3"><%= link_to_contact_list show_ia.p_owner %></p>
            </div>
          <%- end -%>
          <%- if show_ia.l_deputy_id || show_ia.p_deputy_id %>
            <div class="form-group p-group">
              <p class="col-sm-3 p-label"><%= t( 'isr_interfaces.show.deputies' )%></p>
              <p class="col-sm-3"><%= link_to_contact_list show_ia.l_deputy %></p>
              <p class="col-sm-3"><%= link_to_contact_list show_ia.p_deputy %></p>
            </div>
          <%- end -%>
          <%- unless show_ia.l_sign_time.nil? %>
            <div class="form-group p-group">
              <p class="col-sm-3 p-label"><%= t( 'isr_interfaces.show.signed_on' ) %></p>
              <p class="col-sm-3"><%= db_formatted_dt show_ia.l_sign_time %></p>
              <p class="col-sm-3"><%= db_formatted_dt show_ia.p_sign_time %></p>
            </div>
            <div class="form-group p-group">
              <p class="col-sm-3 p-label"><%= t( 'isr_interfaces.show.signed_by' ) %></p>
              <p class="col-sm-3"><%= db_formatted_dt show_ia.l_signature %></p>
              <p class="col-sm-3"><%= db_formatted_dt show_ia.p_signature %></p>
            </div>
          <%- end -%>
          <div class="form-group p-group">
            <p class="col-sm-3 p-label"><%= IsrAgreement.human_attribute_name( :def_text )%></p>
            <p class="col-sm-6"><%= show_ia.def_text %></p>
          </div>
          <%- unless show_ia.cfr_record_id.nil? -%>
            <div class="form-group p-group">
              <p class="col-sm-3 p-label"><%= IsrAgreement.human_attribute_name( :cfr_record_id )%></p>
              <p class="col-sm-6"><%= link_to_cfr( show_ia.cfr_record )%></p>
            </div>
          <%- end -%>
          <%- if show_ia.res_steps_id || show_ia.val_steps_id -%>
            <div class="form-group p-group">
              <p class="col-sm-3 p-label"><%= t( 'isr_interfaces.show.res_val_steps' )%></p>
              <p class="col-sm-3"><%= link_to_tia( show_ia.res_steps, :link, :label )%></p>  
              <p class="col-sm-3"><%= link_to_tia( show_ia.val_steps, :link, :label )%></p>  
            </div>
          <%- end -%>
          <div class="form-group p-group">
            <p class="col-sm-3 p-label"><%= IsrAgreement.human_attribute_name( :current_status_task )%></p>
            <p class="col-sm-4"><%= @workflow.status_task_label %></p>
          </div>
