      <%- code = defined?( if_code ) ? :if_code : :code -%>
      <div class="form-group">
        <%= show_all_if.label :code, IsrInterface.human_attribute_name( code ), class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value show_all_if.object.code %>
        </div>
      </div>
      <div class="form-group">
        <%= show_all_if.label :l_group_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= display_value show_all_if.object.l_group.try( :code_and_label ) %>
        </div>
      </div>
      <div class="form-group">
        <%= show_all_if.label :p_group_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= display_value show_all_if.object.p_group.try( :code_and_label ) %>
        </div>
      </div>
      <div class="form-group">
        <%= show_all_if.label :title, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= display_value show_all_if.object.title %>
        </div>
      </div>
      <div class="form-group">
        <%= show_all_if.label :desc, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= display_lines show_all_if.object.desc %>
        </div>
      </div>
      <div class="form-group">
        <%= show_all_if.label :safety_related, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= display_check_box show_all_if.object.safety_related %>
        </div>
      </div>
      <div class="form-group">
        <%= show_all_if.label :if_level, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value show_all_if.object.if_level_label %>
        </div>
      </div>
      <div class="form-group">
        <%= show_all_if.label :cfr_record_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= show_all_if.object.cfr_record_id.nil? ? display_nil : link_to_cfr( show_all_if.object.cfr_record, :button ) %>
        </div>
      </div>
      <div class="form-group">
        <%= show_all_if.label :if_status, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value show_all_if.object.if_status_label %>
        </div>
      </div>
      <%- if defined?( note )-%>
      <div class="form-group">
        <%= show_all_if.label :note, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%- if note == :edit -%>
            <%= show_all_if.text_field :note, class: 'form-control' %>
          <%- else -%>
            <%= display_value show_all_if.object.note %>
          <%- end -%>
        </div>
      </div>
      <%- end -%>
