<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="form-horizontal" role="form">
    <%= form_for @isr_agreement do |a| %>
      <%= render partial: 'shared/errors', object: @isr_interface.errors %>
      <%= render partial: 'shared/errors', object: @isr_agreement.errors %>
      <%= render partial: 'shared/notice' %>
      <%= fields_for @isr_interface do |f| %>
        <%- if @isr_interface.is_frozen? %>
          <%= render partial: 'show_if', object: f, locals:{ note: :edit }%>
        <%- else %>
          <%= render partial: 'form_if', object: f, locals:{ note: :edit } %>
        <%- end %>
      <%- end %>
      <!-- Divider Line -->
      <div class="form-group">
        <hr style="margin:4px"/>  
      </div>
      <%- if confirm_or_reject? %>
        <%= render partial: 'show_ia', object: @isr_agreement %>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-2">
            <%= a.submit t('isr_interfaces.edit.confirm'), class: 'btn btn-lg btn-block btn-primary' %>
          </div>
          <div class="col-sm-2">
            <%= a.submit t('isr_interfaces.edit.reject'), class: 'btn btn-lg btn-block btn-primary' %>
          </div>
      <%- else %>
        <%= render partial: 'form_ia', object: a %>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-2">
            <%= a.submit class: 'btn btn-lg btn-block btn-primary' %>
        	</div>
      <%- end -%>
          <div class="col-sm-2">
            <%= link_to t( 'button_label.cancel_to_show' ), isr_agreement_details_path( @isr_agreement ), class: 'btn btn-lg btn-block btn-default' %>
          </div>
        </div>
      <div>
    <%- end %>
  </div>
</div>
