<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="form-horizontal" role="form">
    <%= form_for @isr_agreement do |a| %>
      <%= render partial: 'shared/errors', object: @isr_interface.errors %>
      <%= render partial: 'shared/errors', object: @isr_agreement.errors %>
      <%= render partial: 'shared/notice' %>
      <%= fields_for @isr_interface do |f| %>
        <%= render partial: 'form_if', object: f, locals:{ note: :edit } %>
      <%- end %>
      <%= render partial: 'form_ia', object: a %>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
        <%- if confirm_or_reject? %>
            <%= a.submit t('isr_interfaces.edit.confirm'), class: 'btn btn-lg btn-block btn-primary' %>
          </div>
          <div class="col-sm-2">
            <%= a.submit t('isr_interfaces.edit.reject'), class: 'btn btn-lg btn-block btn-primary' %>
        <%- else %>
            <%= a.submit class: 'btn btn-lg btn-block btn-primary' %>
        <%- end %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( 'button_label.cancel_to_show' ), isr_agreement_details_path( @isr_interface ), class: 'btn btn-lg btn-block btn-default' %>
        </div>
      <div>
    <% end %>
  </div>
</div>
