  <%- page_title %>
  <div class="no-print" id="nav">
    <a href="javascript:window.print()"><%= t( 'button_label.print' )%></a>
    <%= link_to t( 'button_label.show'  ), @isr_interface %>
    <%= link_to t( 'button_label.index' ), isr_interfaces_path %>
  </div>
  <h1><%= t( '.main_heading' )%></h1>
  <table class="no-lines">
    <tbody>
      <tr>
        <td class="row-head"><%= IsrInterface.human_attribute_name( :if_code ) %>:</td>
        <td><strong><%= @isr_interface.if_code %></strong></td>
      </tr>
      <tr>
        <td class="row-head"><%= IsrInterface.human_attribute_name( :if_status ) %>:</td>
        <td><%= @isr_interface.if_status_label %></td>
      </tr>
      <tr>
        <td class="row-head"><%= t( '.as_of' ) %>:</td>
        <td><%= db_formatted_dt @isr_interface.updated_at %></td>
      </tr>
      <tr>
        <td class="row-head"><%= IsrInterface.human_attribute_name( :l_group_id ) %>:</td>
        <td><%= @isr_interface.l_group.try( :code_and_label ) %></td>
      </tr>
      <tr>
        <td class="row-head"><%= IsrInterface.human_attribute_name( :p_group_id ) %>:</td>
        <td><%= @isr_interface.p_group.try( :code_and_label ) %></td>
      </tr>
      <tr>
        <td class="row-head"><%= IsrInterface.human_attribute_name( :safety_related ) %>:</td>
        <td><%= display_boolean @isr_interface.safety_related %></td>
      </tr>
      <tr>
        <td class="row-head"><%= IsrInterface.human_attribute_name( :if_level ) %>:</td>
        <td><%= @isr_interface.if_level_label %></td>
      </tr>
      <tr>
        <td class="row-head"><%= IsrInterface.human_attribute_name( :title ) %>:</td>
        <td><strong><%= @isr_interface.title %></strong></td>
      </tr>
      <tr>
        <td class="row-head"><%= IsrInterface.human_attribute_name( :desc ) %>:</td>
        <td><%= display_lines_w_br @isr_interface.desc %></td>
      </tr>
      <tr>
        <td class="row-head"><%= t( '.references' ) %>:</td>
        <td><%= @isr_interface.cfr_record.try( :text_and_id, :title ) %></td>
      </tr>
      <tr>
        <td class="row-head"><%= IsrInterface.human_attribute_name( :l_signature ) %>:</td>
        <td>
          <%- unless @isr_interface.l_signature.blank? %>
            <%= @isr_interface.l_signature %><br/>
            <%= t( 'isr_interfaces.on_time' ) %>
            <%= db_formatted_dt @isr_interface.l_sign_time %>
          <%- else -%>
            &nbsp;
          <%- end -%>
        </td>
      </tr>
      <tr>
        <td class="row-head"><%= IsrInterface.human_attribute_name( :p_signature ) %>:</td>
        <td>
          <%- unless @isr_interface.p_signature.blank? %>
            <%= @isr_interface.p_signature %><br/>
            <%= t( 'isr_interfaces.on_time' ) %>
            <%= db_formatted_dt @isr_interface.p_sign_time %>
          <%- else -%>
            &nbsp;
          <%- end -%>
        </td>
      </tr>
    </tbody>
  </table>

