<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="table-responsive">
    <%= form_tag({},{ method: :get }) do %>
    <%= will_paginate @isr_interfaces %>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="col-sm-2" colspan="2"><%= label_tag :ff_id, IsrInterface.human_attribute_name( :code ), class: 'control-label' %></th>
          <th class="col-sm-4"><%= label_tag :ff_txt, t( '.if_title' ), class: 'control-label' %></th>
          <th class="col-sm-1"><%= label_tag :ff_sts, IsrInterface.human_attribute_name( :status ), class: 'control-label' %></th>
          <th class="col-sm-1"><%= label_tag :ff_lvl,  IsrInterface.human_attribute_name( :if_level ), class: 'control-label' %></th>
          <th class="col-sm-3"><%= label_tag :ff_wfs, IsrAgreement.human_attribute_name( :current_status_task ), class: 'control-label' %></th>
          <th class="col-sm-1 hidden-print"><%= filter_action_title_header %></th>
        </tr>
      </thead>
      <tbody>
        <tr <%= filter_row( @filter_fields ) -%>>
          <td class="col-sm-1"><%= filter_field @filter_fields, :ff_id, :id %></td>
          <td class="col-sm-1"><%= filter_select_from_array @filter_fields, :ff_grp, @filter_groups %></td>
          <td><%= filter_field @filter_fields, :ff_txt, :sw %></td>
          <td><%= filter_select_from_string_set @filter_fields, :ff_sts, IsrInterface::ISR_IF_STATUS_LABELS %><br/><br/>
              <%= filter_select_from_string_set @filter_fields, :ff_ats, IsrAgreement::ISR_IA_STATUS_LABELS %></td>
          <td><%= filter_select_from_string_set @filter_fields, :ff_lvl, IsrInterface::ISR_IF_LEVEL_LABELS %></td>
          <td><br/><br/><%= filter_select_from_array @filter_fields, :ff_wfs, @filter_states %></td>
          <td><%= filter_action_button %></td>
        </tr>
      <% if @isr_interfaces.length.zero? %>
        <%= render partial: 'shared/index_empty_row', locals:{ columns: 6, with_link: true }%>
      <% else %>
        <% @isr_interfaces.each do |isr| %>
          <tr>
            <td colspan="2"><%= isr.code %></td>
            <td><%= isr.title %></td>
            <td><%= isr.if_status_label %></td>
            <td><%= isr.if_level_label %></td>
            <td>&nbsp;</td>
            <td><%= render partial: 'shared/actions', object: isr %></td>
          </tr>
          <% isr.isr_agreements.isr_active.each do |isa| %>
          <tr>
            <td colspan="2">&nbsp;</td>
            <td><%= isa.code %></td>
            <td colspan="2"><%= isa.ia_status_label %></td>
            <td><%= @workflow.status_task_label( isa.current_status, isa.current_task, 0 ) %></td>
            <td><%= render partial: 'actions', object: isa %></td>
          </tr>
          <% end %> 
        <% end %>
      <% end %>
      </tbody>
    </table>
    <%- end -%>
    <%= render partial: 'shared/footer' %>
  </div>
</div>
