<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="table-responsive col-sm-10">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="col-sm-1"><%= OrlType.human_attribute_name( :id ) %></th>
          <th class="col-sm-4"><%= OrlType.human_attribute_name( :label )%></th>
          <th class="col-sm-2"><%= OrlType.human_attribute_name( :r_group_id )%></th>
          <th class="col-sm-2"><%= OrlType.human_attribute_name( :o_group_id )%></th>
          <th class="col-sm.1"><%= t( 'action_title.header' )%></th>
        </tr>
      </thead>
      <tbody>
      <% if @orl_types.length.zero? %>
        <%= render partial: 'shared/index_empty_row', locals:{ columns: 4, with_link: true }%>
      <% else %>
        <% @orl_types.each do |ot| %>
          <tr>
            <td><%= ot.to_id %></td>
            <td><%= ot.label %></td>
            <td><%= ot.r_group.code %></td>
            <td><%= ot.o_group.code %></td>
            <td><%= render partial: 'shared/actions', object: ot %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <%= render partial: 'shared/footer' %>
  </div>
</div>
