<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="form-horizontal" role="form">
    <%= form_for @orl_type do |f| %>
      <%= render partial: 'shared/notice' %>
      <div class="form-group">
        <%= f.label :id, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= display_value f.object.id %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :label, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= display_value f.object.label %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :r_group_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= display_value f.object.r_group.code %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :o_group_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= display_value f.object.o_group.code %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
          <%= link_to t( 'button_label.edit' ), edit_orl_type_path( @orl_type ), class: "btn btn-lg btn-block btn-default" %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( 'button_label.goto_to_list' ), orl_types_path, class: "btn btn-lg btn-block btn-default" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
