<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="form-horizontal" role="form">
    <%= form_for @person do |p| %>
      <%= render partial: 'shared/notice' %>
      <div class="form-group">
        <%= p.label :id, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= p.text_field :id, class: "form-control", readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <%= p.label :formal_name, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= p.text_field :formal_name, class: "form-control", readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <%= p.label :informal_name, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= p.text_field :informal_name, class: "form-control", readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <%= p.label :email,  class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= p.email_field :email, class: "form-control", readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <%= p.label :involved, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= p.check_box :involved, disabled: true, readonly: true %>
        </div>
      </div>
      <%= render partial: 'contact_info_header', locals: { action_type: :show } %>
      <!-- Contact Info -->
      <% if p.object.contact_infos.empty? %>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4"><%= t( 'action_title.empty_row' ) %></div>
      </div>
      <% else %>
        <%= p.fields_for :contact_infos, p.object.contact_infos.order( :info_type ) do |ci| %>
          <%= render partial: 'contact_info', locals: { contact_info: ci, action_type: :show } %>
        <% end %>
      <% end %>
      <%= render partial: 'contact_info_footer' %>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
          <%= link_to t( 'button_label.edit' ), edit_person_path(@person), class: "btn btn-lg btn-block btn-default" %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( 'button_label.goto_to_list' ), people_path, class: "btn btn-lg btn-block btn-default" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
