<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="table-responsive">
    <%= form_tag({},{ method: :get }) do %>
    <%= will_paginate @glossary_items %>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="col-sm-1"><%= label_tag :ff_id,   GlossaryItem.human_attribute_name( :id   ), class: 'control-label' %></th>
          <th class="col-sm-2"><%= label_tag :ff_desc, GlossaryItem.human_attribute_name( :term ), class: 'control-label' %></th>
          <th class="col-sm-1"><%= label_tag :ff_code, GlossaryItem.human_attribute_name( :code ), class: 'control-label' %></th>
          <th class="col-sm-5"><%= label_tag :ff_desc, GlossaryItem.human_attribute_name( :description ), class: 'control-label' %></th>
          <th class="col-sm-2"><%= label_tag :ff_ref,  GlossaryItem.human_attribute_name( :reference ), class: 'control-label' %></th>
          <th class="col-sm-1 hidden-print"><%= filter_action_title_header -%></th>
        </tr>
      </thead>
      <tbody>
        <tr <%= filter_row( @filter_fields ) -%>>
          <td><%= filter_field @filter_fields, :ff_id,   :id -%></td>
          <td><%= filter_field @filter_fields, :ff_term, :sw -%></td>
          <td><%= filter_field @filter_fields, :ff_code, :sl -%></td>
          <td><%= filter_field @filter_fields, :ff_desc, :sw -%></td>
          <td><%= filter_select_from_array @filter_fields, :ff_ref, @references -%></td>
          <td><%= filter_action_button -%></td>
          </div>
        </tr>
        <% if @glossary_items.length.zero? %>
          <%= render partial: 'shared/index_empty_row', locals:{ columns: 5, with_link: true }%>
        <% else %>
          <% @glossary_items.each do |g| %>
            <tr>
              <td><%= g.to_id %></td>
              <td><%= g.term %></td>
              <td><%= g.code %></td>
              <td><%= display_lines_w_br g.description %></td>
              <td><%= link_to g.reference_with_id, reference_path( g.reference_id ) unless g.reference.nil? %></td>
              <td><%= render partial: 'shared/actions', object: g %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <% end %>
    <%= render partial: 'shared/download_xls' %>
    <%= render partial: 'shared/footer' %>
  </div>
</div>
