<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="table-responsive col-sm-9">
    <%= form_tag({}, { method: :get }) do %>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th class="col-sm-2"><%= label_tag :as_code, t( 'coding_systems.code' ),  class: 'control-label' %></th>
          <th class="col-sm-6"><%= label_tag :as_desc, t( 'coding_systems.label' ), class: 'control-label' %></th>
          <th class="col-sm-1 hidden-print"><%= t( 'action_title.header' ) -%></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= filter_field @filter_fields, :as_code, :sw -%></td>
          <td><%= filter_field @filter_fields, :as_desc, :sw -%></td>
          <td><%= filter_action_button -%></td>
        </tr>
        <% if @total_rows == 0 -%>
          <%= render partial: 'shared/index_empty_row', locals: { columns: 3 }%>
        <% end %>
        <% unless @function_codes.length.zero? -%>
        <!-- function codes - - - - - - - - - -->
          <tr>
            <td class="td-subtitle" colspan="3"><%= t( '.list_source', table: FunctionCode.model_name.human )-%></td>
          </tr>
          <% @function_codes.each do |a| %>
          <tr>
            <td><%= a.code %></td>
            <td><%= a.label %></td>
            <td><%= render partial: 'shared/actions', object: a, locals: { use_model_route: nil }  %></td>
          </tr>
          <% end -%>
        <% end -%>
        <% unless @service_codes.length.zero? -%>
        <!-- service codes - - - - - - - - - - - - -->
          <tr>
            <td class="td-subtitle" colspan="3"><%= t( '.list_source', table: ServiceCode.model_name.human )-%></td>
          </tr>
          <% @service_codes.each do |gi| %>
          <tr>
            <td><%= gi.code %></td>
            <td><%= gi.label %></td>
            <td><%= render partial: 'shared/actions', object: gi, locals: { use_model_route: nil }  %></td>
          </tr>
          <% end -%>
        <% end -%>
        <% unless @product_codes.length.zero? -%>
        <!-- product codes - - - - - - - - - -->
          <tr>
            <td class="td-subtitle" colspan="3"><%= t( '.list_source', table: ProductCode.model_name.human )-%></td>
          </tr>
          <% @product_codes.each do |sb| %>
          <tr>
            <td><%= sb.code %></td>
            <td><%= sb.description %></td>
            <td><%= render partial: 'shared/actions', object: sb, locals: { use_model_route: nil }  %></td>
          </tr>
          <% end -%>
        <% end -%>
        <% unless @location_codes.length.zero? -%>
        <!-- location codes - - - - - - - - - -->
          <tr>
            <td class="td-subtitle" colspan="3"><%= t( '.list_source', table: LocationCode.model_name.human )-%></td>
          </tr>
          <% @location_codes.each do |lc| %>
          <tr>
            <td><%= lc.code %></td>
            <td><%= lc.label %></td>
            <td><%= render partial: 'shared/actions', object: lc, locals: { use_model_route: nil }  %></td>
          </tr>
          <% end -%>
        <% end -%>
        <% unless @phase_codes.length.zero? -%>
        <!-- phase codes - - - - - - - - - -->
          <tr>
            <td class="td-subtitle" colspan="3"><%= t( '.list_source', table: PhaseCode.model_name.human )-%></td>
          </tr>
          <% @phase_codes.each do |p| %>
          <tr>
            <td><%= p.code %></td>
            <td><%= p.label %></td>
            <td><%= render partial: 'shared/actions', object: p, locals: { use_model_route: nil }  %></td>
          </tr>
          <% end -%>
        <% end -%>
        <% unless @groups.length.zero? -%>
        <!-- groups - - - - - - - - - -->
          <tr>
            <td class="td-subtitle" colspan="3"><%= t( '.list_source', table: Group.model_name.human )-%></td>
          </tr>
          <% @groups.each do |g| %>
          <tr>
            <td><%= g.code %></td>
            <td><%= g.label %></td>
            <td><%= render partial: 'shared/actions', object: g, locals: { use_model_route: nil } %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <% end %>
  <%= render partial: 'shared/footer' %>    
  </div>
</div>
