      <%= form.hidden_field :sir_log_id, value: @sir_log.id %>
      <div class="form-group">
        <%= form.label :seqno, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value form.object.item_code %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :reference, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= form.text_field :reference, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :group_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form.select :group_id, @sir_groups, { prompt: true }, { class: 'form-control', required: true } %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :label, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= form.text_field :label, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :description, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= form.text_area :description, class: 'form-control', cols: DEFAULT_COLS_TEXTAREA, rows: DEFAULT_ROWS_TEXTAREA %>
        </div>
      </div>
      <%= render partial: 'shared/edit_cfr', locals: { fbo: form }%>
      <div class="form-group">
        <%= form.label :category, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= form.select :category, select_options( SirItem::SIR_ITEM_CATEGORY_LABELS ), {}, { class: 'form-control' }%>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :status, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%- if action_name == 'new' -%>
            <%= display_value form.object.status_label %>
          <%- else -%>
            <%= form.select :status, select_options( SirItem::SIR_ITEM_STATUS_LABELS ), {}, { class: 'form-control' }%>
          <%- end -%>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :phase_code_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form.select :phase_code_id, @sir_phases, { prompt: true }, { class: 'form-control' } %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :archived, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= form.check_box :archived %>
        </div>
      </div>

