      <div class="form-group">
        <%= form.label :id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value form.object.to_id %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :group, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form.text_field :group, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :ref_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form.text_field :ref_id, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :cfr_record, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form.text_field :cfr_record, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :label, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form.text_field :label, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :status, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form.text_field :status, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :category, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form.text_field :category, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :phase, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form.text_field :phase, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :archived, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form.text_field :archived, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :desc, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form.text_field :desc, class: 'form-control' %>
        </div>
      </div>

