<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Group</th>
          <th>Ref</th>
          <th>Cfr record</th>
          <th>Label</th>
          <th>Status</th>
          <th>Category</th>
          <th>Phase</th>
          <th>Archived</th>
          <th>Desc</th>
          <th><%= t( 'action_title.header' )%></th>
        </tr>
      </thead>
      <tbody>
      <% if @sir_items.length.zero? %>
        <%= render partial: 'shared/index_empty_row', locals:{ columns: 10, with_link: true }%>
      <% else %>
        <% @sir_items.each do |sir_item| %>
          <tr>
            <td><%= sir_item.id %></td>
            <td><%= sir_item.group %></td>
            <td><%= sir_item.ref_id %></td>
            <td><%= sir_item.cfr_record %></td>
            <td><%= sir_item.label %></td>
            <td><%= sir_item.status %></td>
            <td><%= sir_item.category %></td>
            <td><%= sir_item.phase %></td>
            <td><%= sir_item.archived %></td>
            <td><%= sir_item.desc %></td>
            <td><%= render partial: 'shared/actions', object: sir_item %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <%= render partial: 'shared/footer' %>
  </div>
</div>
