<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="form-horizontal" role="form">
    <%= form_for @sir_item do |f| %>
      <%= render partial: 'shared/notice' %>
      <%= render partial: 'show_item', object: @sir_item %>
      <!-- Divider Line -->
      <div class="form-group">
        <hr style="margin:4px"/>  
      </div>
      <!-- SIR Entries -->
      <%- if @sir_entries.empty? -%>
        <div class="form-group p-group"><p><%= t( '.no_entries' ) %></p></div>
        <div class="form-group p-group"><p><%= entry_action :comment, @sir_item %> | 
          <%= entry_action :forward, @sir_item %></p>
        </div>
      <%- else -%>
        <%- @was_visible = true %>
        <%- @sir_entries.each do |se| %>
          <%= render partial: 'show_entry', object: se, locals: { depth: SirItem.depth!( @group_stack, se )} %>
        <%- end %>
      <%- end -%>
      <%- if @sir_entries.last && @sir_entries.last.is_visible? %>
        <%- if SirItem.depth( @group_stack ) > 0 -%>
          <div class="col-sm-offset-<%= SirItem.depth( @group_stack )%> form-group p-group"><p>
            <%= entry_action :respond, @sir_item %> |
        <%- else %>
          <div class="form-group p-group"><p>
        <%- end -%>
            <%= entry_action :comment, @sir_item %> |
            <%= entry_action :forward, @sir_item %></p>
          </div>
      <%- end %>
      <!-- Divider Line -->
      <div class="form-group">
        <hr style="margin:4px"/>  
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
          <%= link_to t( 'button_label.all' ), sir_item_details_path( @sir_item ), class: 'btn btn-lg btn-block btn-default' %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( 'button_label.edit' ), edit_sir_item_path( @sir_item ), class: 'btn btn-lg btn-block btn-default' %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( 'button_label.go_to_index' ), sir_log_sir_items_path( @sir_item.sir_log ), class: 'btn btn-lg btn-block btn-default' %>
        </div>
      </div>
    <%- end %>
  </div>
</div>
