<% help_title "Help on Global Search for Abbreviations"%>
  <div class="container">
    <%= helpcrumbs %>
    <%= help_header %>
    <p class="lead">Find an abbreviation in any of the feature tables:</p>
    <p>The Global Search feature will search for the given abbreviation or part of the long text in the
      following tables:</p>
    <ul>
      <li><%= link_to_help 'abbreviations', Abbreviation.model_name.human -%></li>
      <li><%= link_to_help 'glossary_items', GlossaryItem.model_name.human -%></li>
      <li><%= link_to_help 'standards_bodies', StandardsBody.model_name.human -%></li>
      <li><%= link_to_help 'phase_codes', PhaseCode.model_name.human -%></li>
      <li><%= link_to_help 'groups', Group.model_name.human -%></li>
      <li><%= link_to_help 'country_names', CountryName.model_name.human -%></li>
      <li><%= link_to_help 'region_names', RegionName.model_name.human -%></li>
      <li><%= link_to_help 'unit_names', UnitName.model_name.human -%></li>
    </ul>
    <p>Each of the above tables will be searched for the given abbreviation in
      the respective fields: The result will contain all abbreviations
      starting with the given string, and/or the text in any of the
      description or label fields.</p>
    <p>Please be aware that the search is case-insensitive and that the
      search in the descriptions will search for <strong>any</strong>
      occurance in the description.</p>
    <p>The following two 'wild-card' characters have a special meaning:</p>
    <ul>
      <li>% (percent) represents a string of zero or more characters</li>
      <li>_ (underline) stands for any single character</li>
    </ul>
    <p>The abbreviation search already appends a percent character to 
      the search strings when searching for a code - hence, all abbreviations
      starting with the given string are found. When searching for strings 
      in the description, the given search string is enclosed in two percent
      characters so the string is found anywhere in the description.</p>
    <%= help_footer FEATURE_ID_ABBR_SEARCH %>
  </div> <!-- /container -->
