<% help_title 'About pmodbase' %>
  <div class="container">
    <%= helpcrumbs %>
    <%= help_header %>
    <p>For general information about pmodbase, see <%= link_to_help :help_general, 'General Help'%>.<br/>
    The overview about all available help information is available <%= link_to_help :help_pages, 'here'%>.</p>
    <h3>License Information</h3>
    <p>This tool is developed and runs with the help of the following software:</p>
    <ul>
    	<li><a href="http://ruby-lang.org">Ruby</a> - the programming language</li>
    	<li><a href="http://rubyonrails.org">Ruby on Rails</a> - the web-application framework</li>
    	<li><a href="http://getbootstrap.com">Bootstrap</a> - the HTML, CSS and JS framework</li>
    	<li><a href="http://jquery.com">jQuery</a> - for browser support</li>
    	<li><a href="http://github.com">github</a> - my software depository</li>
    	<li><a href="http://github.com/capistrano">Capistrano</a> - for the software deployment</li>
    	<li><a href="https://httpd.apache.org">Apache</a> - the HTTP Server</li>
        <li><a href="http://www.qqlite.org">SQLite</a> - my development database management system</li>
        <li><a href="http://www.mysql.com">MySQL</a> - the production database management system</li>
    	<li><a href="http://www.opensuse.org">openSUSE</a> - as operating system for development and deployment</li>
    	<li><a href="http://sublimetext.com">sublime</a> - my favourite editor</li>
    </ul>
    <h3>Copyright</h3>
    <p>All Rights Reserved: Wilfried Römer, Berlin.</p>
    <%= help_footer FEATURE_ID_HELP_PAGES %>
  </div> <!-- /container -->
