<% help_title "Help on #{ I18n.t( 'all_tia_lists.title' )}" %>
  <div class="container">
    <%= helpcrumbs %>
    <%= help_header %>
    <p>This feature allows project-wide administration of <%= TiaList.model_name.human -%>.</p>
    <p>See Help on <%= link_to_help :my_tia_lists, I18n.t( 'my_tia_lists.title' ) -%>
      for all details. Note: links to the individual users (owner, deputy, list members) lead
      to the account information rather than to the contract list information on that user.</p>
    <%= help_footer FEATURE_ID_ALL_TIA_LISTS %>
  </div> <!-- /container -->
