<% help_title "Help on DSR Statistics" %>
  <div class="container">
    <%= helpcrumbs %>
    <%= help_header %>
    <p class="lead">Progress status and other statistics on the Document
      Status Register (DSR) provide an overview of the current situation.</p>
    <h3>1. <%= t( 'dsr_status_records.stats_1.form_title' )%></h3>
    <p>This table shows the number of documents per Project Group,
      and within each group, per Document Status.</p>
    <p>The various columns contain the following information:</p>
    <ul>
      <li><%= help_term DsrStatusRecord.human_attribute_name( :quantity )%>
        is the heading for the first
        (<%= Group.human_attribute_name( :code_short ) %>) and second level 
        (<%= DsrStatusRecord.human_attribute_name( :document_status ) %>)
        horizontal nesting of the data.</li>
      <li><%= help_term t('dsr_status_records.stats.curr') %> columns
        contain the data as they are currently calculated in the database.</li>
      <li><%= help_term t('dsr_status_records.stats.base') %> are the data 
        from the last time a baseline was created.</li>
      <li><%= help_term t('dsr_status_records.stats.var' ) %> shows the
        difference between the <%= t('dsr_status_records.stats.curr') %>
        and the <%= t('dsr_status_records.stats.base') %> columns.</li>
    </ul>
    <p>The <%= help_term t('dsr_status_records.stats.abs') %> columns
      contain the absolute number (computed as the sum of all quantities in
      the DSR Status Records) of documents in that 
      <%= Group.human_attribute_name( :code_short ) %> having that
      <%= DsrStatusRecord.human_attribute_name( :document_status ) %>.</p>
    <p>The columns labeled <%= help_term t('dsr_status_records.stats.rel') %>
      for the current and baseline data refer to the column percent
      within a group. Thus the row labelled 
      <%= help_term t('dsr_status_records.stats.grand_total' ) %> always contains 100%,
      and the rows labelled 
      <%= help_term t('dsr_status_records.stats.sub_total' ) %> for each project group
      shows their relationship to the 
      <%= help_term t('dsr_status_records.stats.grand_total' ) %>; however, within each
      project group, the column percent values refer to the group's total in the 
      row labelled <%= help_term t('dsr_status_records.stats.sub_total') %>.</p>
    <p>The first group of data contains the <%= help_term( 
      t('dsr_status_records.stats.grand_total' ))%>,
      that is the sum over all project groups. All percentages relate to
      the ratio between the count and the sub total count for that column.</p>
    <p>However, the <%= help_term t('dsr_status_records.stats.rel') %> for the
      <%= help_term t('dsr_status_records.stats.var' ) %> shows the percentage
      of the change, i.e. 0% means 'no change', 100% is output to indicate
      'twice as many' as in the baseline, or when the baseline is empty;
      50% means a 50% increase compared to the baseline.</p>
    <h3>2. <%= t( 'dsr_status_records.stats_2.form_title' )%></h3>
    <p>This table shows the combined weight (i.e. the sum of all weights) of all
      documents per Project Group, and within each
      <%= Group.human_attribute_name( :code_short ) %>, per Document Status.</p>
    <p>The various columns contain the following information:</p>
    <ul>
      <li><%= help_term DsrStatusRecord.human_attribute_name( :weight )%>
        is the heading for the first
        (<%= Group.human_attribute_name( :code_short ) %>) and second level 
        (<%= DsrStatusRecord.human_attribute_name( :document_status ) %>)
        horizontal nesting of the data.</li>
      <li><%= help_term t('dsr_status_records.stats.curr') %> columns
        contain the data as they are currently calculated in the database.</li>
      <li><%= help_term t('dsr_status_records.stats.base') %> are the data 
        from the last time a baseline was created.</li>
      <li><%= help_term t('dsr_status_records.stats.var' ) %> shows the
        difference between the <%= t('dsr_status_records.stats.curr') %>
        and the <%= t('dsr_status_records.stats.base') %> columns.</li>
    </ul>
    <p>The <%= help_term t('dsr_status_records.stats.abs') %> columns
      contain the absolute weight (computed as the sum of all weight values in
      the DSR Status Records) of all documents in that 
      <%= Group.human_attribute_name( :code_short ) %> having that
      <%= DsrStatusRecord.human_attribute_name( :document_status ) %>.</p>
    <p>The columns labeled <%= help_term t('dsr_status_records.stats.rel') %>
      for the current and baseline data refer to the column percent
      within a group. Thus the row labelled 
      <%= help_term t('dsr_status_records.stats.grand_total' ) %> always contains 100%,
      and the rows labelled 
      <%= help_term t('dsr_status_records.stats.sub_total' ) %> for each project group
      shows their relationship to the 
      <%= help_term t('dsr_status_records.stats.grand_total' ) %>; however, within each
      project group, the column percent values refer to the group's total in the 
      row labelled <%= help_term t('dsr_status_records.stats.sub_total') %>.</p>
    <p>The first group of data contains the <%= help_term( 
      t('dsr_status_records.stats.grand_total' ))%>,
      that is the sum over all project groups. All percentages relate to
      the ratio between the combined weight and the sub total weight for that column.</p>
    <p>However, the <%= help_term t('dsr_status_records.stats.rel') %> for the
      <%= help_term t('dsr_status_records.stats.var' ) %> shows the percentage
      of the change, i.e. 0% means 'no change', 100% is output to indicate
      'twice as much' as in the baseline, or when the baseline is empty;
      50% means a 50% increase compared to the baseline.</p>
    <h3>3. <%= t( 'dsr_status_records.stats_3.form_title' )%></h3>
    <p>This table shows the summerized progress of documents per Project Group
    according to the document progress rates defined by the <%= link_to_help( :dsr_progress_rates,
      DsrProgressRate.model_name.human )%> feature table: For each document status, a specific
      progress is defined. The total progress of all documents in a group is then the sum of
      all individual document progress rates divided by the number of documents in that group.</p>

    <h3>4. <%= t( 'dsr_status_records.stats_4.form_title' )%></h3>
    <p>... help text ...</p>
    <h3>5. <%= t( 'dsr_status_records.stats_5.form_title' )%></h3>
    <p>... help text ...</p>
    <h3>6. <%= t( 'dsr_status_records.stats_6.form_title' )%></h3>
    <p>... help text ...</p>
    <h3>7. <%= t( 'dsr_status_records.stats_7.form_title' )%></h3>
    <p>... help text ...</p>
    <h3>8. <%= t( 'dsr_status_records.stats_8.form_title' )%></h3>
    <p>... help text ...</p>
    <h3>9. <%= t( 'dsr_status_records.stats_9.form_title' )%></h3>
    <p>... help text ...</p>
    <h3>10. <%= t( 'dsr_status_records.stats_10.form_title' )%></h3>
    <p>... help text ...</p>
    <h3>11. <%= t( 'dsr_status_records.stats_11.form_title' )%></h3>
    <p>... help text ...</p>
    <h3>12. <%= t( 'dsr_status_records.stats_12.form_title' )%></h3>
    <p>... help text ...</p>
    <h3>13. <%= t( 'dsr_status_records.stats_13.form_title' )%></h3>
    <p>... help text ...</p>
    <h3>14. <%= t( 'dsr_status_records.stats_14.form_title' )%></h3>
    <p>... help text ...</p>
    <h3>15. <%= t( 'dsr_status_records.stats_15.form_title' )%></h3>
    <p>... help text ...</p>
    <h3>16. <%= t( 'dsr_status_records.stats_16.form_title' )%></h3>
    <p>... help text ...</p>
    <%= help_footer FEATURE_ID_DSR_STATUS_RECORDS %>
  </div> <!-- /container -->
