<% help_title "Help on #{ DsrProgressRate.model_name.human }" %>
  <div class="container">
    <%= helpcrumbs %>
    <%= help_header %>
    <p class="lead">Contains the progress rates per document.</p>
    <p>This table contains per <%= help_term DsrStatusRecord.human_attribute_name( :document_status ) -%>
      the progress rate. For a detailed description of the
      <%= help_term DsrStatusRecord.human_attribute_name( :document_status ) -%>
      see the help on <%= link_to_help :dsr_status_records, DsrStatusRecord.model_name.human -%>.</p>
    <ul>
      <li><%= help_param DsrProgressRate.human_attribute_name( :document_status ) -%>
        is the internal, numerical index of the 
        <%= help_term DsrStatusRecord.human_attribute_name( :document_status ) -%>.</li>
      <li><%= help_param DsrProgressRate.human_attribute_name( :label ) -%> describes
        one of the possible states used as 
        <%= help_term DsrStatusRecord.human_attribute_name( :document_status ) -%>.
        This text is derived from internal translation tables and cannot be modified 
        here.</li>
      <li><%= help_param DsrProgressRate.human_attribute_name( :document_progress ) -%>
        must be a value between 0 and 100, representing the accumulated progress at
        the specified <%= help_term DsrStatusRecord.human_attribute_name( :document_status ) -%>.</li>
      <li><%= help_param DsrProgressRate.human_attribute_name( :prepare_progress ) -%>
        must be a value between 0 and 100, representing the accumulated progress for those
        states applicable to the 
        <%= help_term DsrStatusRecord.human_attribute_name( :prep_activity_id ) -%>.
        This is normally be the ratio between the given
        <%= help_term DsrStatusRecord.human_attribute_name( :document_progress ) -%>
        for this <%= help_term DsrStatusRecord.human_attribute_name( :document_status ) -%>
        and the progress at submission; 100 for any states after submission.</li>
      <li><%= help_param DsrProgressRate.human_attribute_name( :approve_progress ) -%>
        must be a value between 0 and 100, representing the accumulated progress for those
        states applicable to the 
        <%= help_term DsrStatusRecord.human_attribute_name( :subm_activity_id ) -%>.
        This is normally 0 for any pre-submission states, or the ratio between the given
        <%= help_term DsrStatusRecord.human_attribute_name( :document_progress ) -%>
        for this <%= help_term DsrStatusRecord.human_attribute_name( :document_status ) -%>
        minus the progress at submission and the difference between 100 and progress at
        submission. For example, if the progress at submission is 60, the progress for
        this <%= help_term DsrStatusRecord.human_attribute_name( :document_status ) -%>
        is 80, then the 
        <%= help_param DsrProgressRate.human_attribute_name( :approve_progress ) -%>
        would be 50 = (80-60)*100/(100-60).</li>
    </ul>
    <p>Note: A user can only modify any progress rates but adding or removing
      records is not possible: Such changes would require modifications to the logic
      of the workflow which can only be done within the application.</p>
    <%= help_footer FEATURE_ID_DSR_PROGRESS_RATES %>
  </div> <!-- /container -->
