<% help_title "Help on #{ Group.model_name.human }"%>
  <div class="container">
    <%= helpcrumbs %>
    <%= help_header %>
    <p class="lead">These are the various entities involved in a project.</p>
    <p>For example, <%= Group.model_name.human -%> are:</p>
    <ul>
      <li>The Client's organisation</li>
      <li>The Consortium's Project Management Team</li>
      <li>Public Utilities</li>
      <li>Government Bodies</li>
      <li>The various lots and subsystems, such as</li>
        <ul>
          <li>Civil Works - possibly different groups for different locations</li>
          <li>Track Works</li>
          <li>Power Supply</li>
          <li>Signalling</li>
          <li>Communication</li>
          <li>Fare Collection</li>
          <li>Building Services</li>
          <li>...</li>
        </ul>
      </ul>
    <p>The acronyms for these entities are used in various tools and tables,
      to specify responsibilities, for document and correspondence coding,
      in any Task/Issue/Action Item List, for Interface Management, and the
      like.</p>
    <p>For each <%= Group.model_name.human.singularize -%>, the following 
      attributes are managed:</p>
    <ul>
      <li>The group's <%= help_param Group.human_attribute_name( :code  ) -%>,
        an acronym of the Group's name: Normally, that acronym should reflect
        the function of the group within the project rather than the actual
        name of the party: This mitigates problems if for some reason that
        name is changed during the execution of the project. Hence, it should
        be 'TRK' for the group responsible for the Track Works rather than
        'XYZ' if XYZ is the abbreviation of the company doing the Track
        Works.</li>
      <li>The <%= help_param Group.human_attribute_name( :label ) -%> is the
        text explaining the Project Group's Code. This label can be modified
        at any time so it would be OK to have 'Track Works (XYZ)' as label
        for the company XYZ doing the Track Works portion of the project.</li>
      <li><%= help_param Group.human_attribute_name( :notes ) -%> is a field
        which can be used for various purposes, for example to provide other
        codes used for that Project Group.</li>
      <li>The <%= help_param Group.human_attribute_name( :seqno ) -%> is used
        for reporting: All Project Groups (within a given Project Group
        Category) are listed in ascending order of the Sequence Number given
        here.</li>
      <li><%= help_param Group.human_attribute_name( :group_category_id ) %>
        provides means to roughly group the project participants.</li>
      <li><%= help_param Group.human_attribute_name( :belongs_to ) %> refers
        to another project group which this group is part of. This allows 
        you to create a hierarchical structure of all project groups.
        Other features may use this information to group information 
        according to this group hierarchy. This relationship among the
        project groups is validated such that any invalid - non-hierarchical - 
        relationships (e.g. A belongs to B and B belongs to A) is detected
        and reported.</li>
      <li><%= help_param Group.human_attribute_name( :participating )-%> is
        a flag which is set for all actively participating groups in the
        project. This flag is used to select all groups which could be
        mentioned in any feature. Groups (codes) which are only used as sender or
        receiver of correspondende should have this flag clear (not set).</li>
      <li><%= help_param Group.human_attribute_name( :s_sender_code )-%> is
        a flag which determines whether this group can be used as 
        <%= help_term SDocumentLog.human_attribute_name( :group_id )-%>
        code for any entry in the <%= link_to_help :s_document_log, 
        SDocumentLog.model_name.human -%>.</li> 
      <li><%= help_param Group.human_attribute_name( :s_receiver_code )-%> is
        a flag which determines whether this group can be used as
        <%= help_term SDocumentLog.human_attribute_name( :receiver_group )-%>
        code for any entry in the <%= link_to_help :s_document_log, 
        SDocumentLog.model_name.human -%>.</li> 
      <li><%= help_param Group.human_attribute_name( :sub_group_of_id )-%> allows
        an indication of whether a group is a major group in the project (i.e.
        this parameter would be left blank), or if this group is a sub-group
        of another group.</li>
      <li><%= help_param Group.human_attribute_name( :active )-%> is
        a flag which allows to mark groups as not active: Inactive groups
        cannot be used anymore for other features but they are kept in the
        system as they may have been referenced in earlier stages of the
        project.<br/>
        Mark groups as not active when this group must not be used anymore
        in the project anywhere. This requires that that no account has any
        specific permission for this group!</li> 
      <li><%= help_param Group.human_attribute_name( :standard )-%> is
        a flag which signals that the group code is a standard code within
        the Siemens organization. This flag is for information only as it
        shows which codes are preferred.</li>
    </ul>
    <%= help_footer FEATURE_ID_GROUPS %>
  </div> <!-- /container -->
