<% help_title 'ISR - General Help' %>
  <div class="container">
    <%= helpcrumbs %>
    <%= help_header %>
    <p class="lead">General Information on the Interface Status Register (ISR)</p>
    <h3>Overview</h3>
    <p>The ISR (Interface Status Register) collects all information required for the project's
    Interface Management. It supports the responsible Interface Manager (IFM) to guide and control
    all tasks during the Interface Management processes. Further major process participants are the
    Interface Leader (IFL) and the Interface Partner (IFP). Other users may have access to the status
    information or details of the interface.</p>
    <h3>Principles</h3>
    <div class="row">
    <div class="col-sm-4">
    <%= image_tag 'isr_drawing_01.png', alt: 'Interface Data Structure', class: 'img-responsive' -%>
    </div>
    <div class="col-sm-8">
    <p>There are two major levels of Interface Management implemented here: <strong>Interfaces</strong>
    (IF - elsewhere in <a href=#refs>literature</a> called 'Interface Points' (IP)) and
    <strong>Interface Agreements (IA)</strong>.</p>
    <p>In general, <strong>Interfaces</strong> are the shared boundaries across two separate, independent
    but interacting systems, organizations, stakeholders, project phases and scopes, and construction elements.
    Another definition describes an Interface as a soft and/or hard contact point between two independent
    interface stakeholders. An Interface is also often a definition of part of the project's scope split
    as defined by project agreements.</p>
    <p>In technical terms, an Interface is the physical, functional, or communication boundary between
    two (or more) adjacent elements. Sometimes, this may be reduced to the boundary between two physical
    objects as parts of a technical system.</p>
    <p>An <strong>Interface Agreement</strong> is a formal and documented communication between two
    interface stakeholders (the 'Interface Partners'), including the deliverable description, need dates,
    and required actions. The Interface Agreement is often supplemented with tasks/activities that
    need to be performed to provide the agreement deliverables (<strong>Resolution Steps</strong>). 
    Additional validation tasks (<strong>Validation Steps</strong>) may be agreed to ensure the correct
    implementation of the agreed interface.</p>
    <p>Supporting documentation (drawings, specifications, etc.) may be created to illustrate the interface 
    and any agreed solution specifics.</p>
    <p>In the simple case, we are dealing with a single Interface and a single Interface Agreement. In this
    case, a differentiation between Interface and Interface Agreement may be neglected: When discussing the
    IF, we can discuss the IA regarding this IF at the same time. Here, IF and IA can be treated as single
    set of data.</p>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-6">
    <p>In more complex situations, an IA may need be split into several IAs: For example, the initial
    IA was made among the consortium members before the start of a project. Later, the project's scope
    was split into several lots, and the initial (consortium level) IA must be re-negotiated with the
    new lots, possibly resulting in different deadlines for the deliverables, or even a different 
    solution of the IF.</p>
    <p>Once the new IAs have been agreed upon with each new lot, the original IA can be marked as
    'superseded by specific IAs'.</p>
    <p>In addition, we must consider that IAs might need to be revised, i.e. a former IA requires a
    revision of the original IA. In this case, the new IA will eventually replace the previous IA. The
    previous IA can be marked as 'superseded by revision'.</p>
    </div>
    <div class="col-sm-6">
    <%= image_tag 'isr_drawing_02.png', alt: 'Interface Agreements Scenario 1', class: 'img-responsive' -%>
    </div>
    </div>
    <p><strong>Resolution Steps</strong> and <strong>Validation Steps</strong> are each an IA-specific list
    of action items. These action items will be followed up item by item with item-specific deadlines.</p>
    <h3>Interface Status Register (ISR)</h3>
    <p>The ISR (Interface Status Register) is the central point of access for all interface-related information:
    The ISR contains the description of all IFs in the project and their attributes. All IAs associated with
    a specific IF can be located there as well. Resolutions and Validation Steps are maintained separately
    as IA-specific Task/Issue/Action Item Lists. The ISR provides management information about the overall
    status on IFs and IAs, specifically by providing various statistics on IFs and IAs.</p>
    <p>The administration of IFs and IAs is implemented as workflows, each workflow consisting of a network
    of tasks. Access to certain attributes and functions are restricted to those accounts having the
    respective permissions.</p>
    <h3>Types of Interfaces</h3>
    <div class="row">
    <div class="col-sm-6">
    <%= image_tag 'isr_drawing_03.png', alt: 'Types of Interface', class: 'img-responsive' -%>
    </div>
    <div class="col-sm-6">
    <p>The scope of supply, as specified in the tender or contract, is provided by several companies and
    sub-contractors. Each member of the project delivers one or more sub-systems of the total scope. The
    drawing 'Types of Interfaces' depicts the different types of IFs which can be object of the
    Interface Management processes:</p>
    <p><strong>External Interfaces</strong> (or 'Extra-Project Interfaces') are IFs between a sub-system
    delivered by one of the project partners and systems supplied by the client or other external parties;
    for example, power utility, water utility, telephone company, property owners, and the like.
    As these parties have no contractual relationship to the project, any IF must be clarified under the
    sole responsibility of the involved/effected sub-system. As no binding IA can be formally agreed,
    all activities to resolve the IF must be handled by the effected sub-system alone.</p>
    <p><strong>Internal Interfaces</strong> (or 'Inter-Project Interfaces') are IFs between different 
    sub-systems within the project scope.
    This is the classical case for IAs - formal agreements between legal entities on how an IF is resolved.
    The leading sub-system has the responsibility to drive all actions required to close any Interface
    Resolution and Validation Steps.</p>
    <p><strong>Sub-System Internal Interfaces</strong> (or 'Intra-Project Interfaces') are IFs within
    a sub-system. Although such IFs may not require a formal agreement to be resolved, it might be a useful
    idea to track the resolution of these interfaces using the same methods and processes as for (project)
    Internal Interfaces.</p>
    <p>The type of an Interface effects some of the implemented workflows: An IF without a formal IA must
    allow the IFL to follow the workflow steps without actual involvment of the IFP. 
    </div>
    </div>
    <h3>Status Transitions (IF)</h3>
    <div class="row">
    <div class="table-responsive col-sm-8">
 		<table class="table table-bordered table-condensed">
 			<caption>On the Interfaces (IF) level, the following IF states are identified and used in IF-level statistics:</caption>
 			<colgroup>
 				<col class="col-sm-1"/>
 				<col class="col-sm-2"/>
 				<col class="col-sm-5"/>
 			</colgroup>
    	<thead>
    	<tr>
    		<th>IF State</th>
    		<th>Sub-State</th>
    		<th>Description</th></tr>
    	</thead>
    	<tbody>
    	<tr>
    		<th colspan="2"><%= IsrInterface::ISR_IF_STATUS_LABELM[ 0 ] %></th>
    		<td>Initial Status: Automatically set when an IF is created.</td>
    	</tr>
    	<tr>
    		<th rowspan="2"><%= IsrInterface::ISR_IF_STATUS_LABELM[ 1 ] %></th>
    		<td><%= IsrInterface::ISR_IF_STATUS_LABELS[ 1 ] %></td>
    		<td>This status can be set by the IFM for statistical purposes once the documentation of the IF
    		is complete, i.e. the IF is named and described sufficiently, IFL and IFP are appointed.</td>
    	</tr>
    	<tr>
    		<td><%= IsrInterface::ISR_IF_STATUS_LABELS[ 2 ] %></td>
    		<td>This status is set automatically when the first IA for this IF is released by the IFL for
    		confirmation by the IFP. This will prohibit any changes to the IF attributes once the IF is
    		agreed.</td>
    	</tr>
    	<tr>
    		<th rowspan="2"><%= IsrInterface::ISR_IF_STATUS_LABELM[ 2 ] %></th>
    		<td><%= IsrInterface::ISR_IF_STATUS_LABELS[ 3 ] %></td>
    		<td>An IF was identified but later found to be not applicable to this project.</td>
    	</tr>
    	<tr>
    		<td><%= IsrInterface::ISR_IF_STATUS_LABELS[ 4 ] %></td>
    		<td>An IF was defined but later found to be not required for this project. This status would
    		be used in those cases when all associated IAs would be terminated as well.</td>
    	</tr>
    	</tbody>
    </table>
    </div>
    </div>
    <h3>Status Transitions (IA)</h3>
    <p>Interface Agreements (IA) always relate to a specific Interface (IF) but there can be 1 or more IAs
    for any given IF. Hence, the number of IAs can differ from the number of IFs.</p>
    <p>Furthermore, a specific IA may consist of several <%= help_term 'IA Records'%> - each IA Record
    tracing a new revision or status change of the IA. The previous - normally agreed - IA Record shows 
    the currently valid agreement, the new IA Record is in the workflow to revise the previous agreement
    or to change the status of the previous agreement. The previous IA Record is still valid (as agreement)
    until the new, revised IA (status) becomes effective per mutual agreement.</p>
    <p>In the simple case, an IA is represented by the most recent IA Record. The status of that IA Record
    can be used as status of the IA in total.</p>
    <p>When an IA is in the process of being revised, the IA is represented by two IA Records: The original,
    agreed IA Record is shown together with the new IA Record under revision until the new IA Record 
    replaced the previous IA Record.</p>
    <div class="row">
    <div class="table-responsive col-sm-8">
 		<table class="table table-bordered table-condensed">
 			<caption>States used for IAs/IA Records</caption>
 			<colgroup>
 				<col class="col-sm-2"/>
 				<col class="col-sm-6"/>
 			</colgroup>
    	<thead>
    	<tr>
    		<th>IA State</th>
    		<th>Description</th></tr>
    	</thead>
    	<tbody>
    	<tr>
    		<th><%= IsrAgreement::ISR_IA_STATUS_LABELS[ 0 ] %></th>
    		<td>Initial Status: Automatically set when an IA (Record) is created.</td>
    	</tr>
    	<tr>
    		<th><%= IsrAgreement::ISR_IA_STATUS_LABELS[ 1 ] %></th>
    		<td>Set when both Interface Partners have agreed to the IA (or the new IA Record).</td>
    	</tr>
    	<tr>
    		<th><%= IsrAgreement::ISR_IA_STATUS_LABELS[ 2 ] %></th>
    		<td>An IA can be considered <%= help_term IsrAgreement::ISR_IA_STATUS_LABELS[ 2 ] %>
            when all agreed Resolution Steps have been closed. This status is set by 
            agreement of the involved parties (as a revision of the IA). The status of the
            preceding IA Record is set to
            <%= help_term IsrAgreement::ISR_IA_STATUS_LABELS[ 6 ] %>.</td>
    	</tr>
    	<tr>
    		<th><%= IsrAgreement::ISR_IA_STATUS_LABELS[ 3 ] %></th>
    		<td>An IA is marked <%= help_term IsrAgreement::ISR_IA_STATUS_LABELS[ 3 ] %>
            when all associated Validation Steps have been successfully completed. This
            status is set by agreement of the involved parties (as a revision of the IA).
            The status of the preceding IA Record is set to
            <%= help_term IsrAgreement::ISR_IA_STATUS_LABELS[ 6 ] %>.</td>
    	</tr>
    	<tr>
    		<th><%= IsrAgreement::ISR_IA_STATUS_LABELS[ 4 ] %></th>
    		<td>A temporary status when an agreed IA is in the process to be changed.
            This - the previously agreed - IA (Record) is still valid, and the new IA (Record) will be
            considered as <%= help_term IsrAgreement::ISR_IA_STATUS_LABELS[ 0 ] %> at the same time.
            Once the new, revised IA is agreed by both partners, its status changes to
            <%= help_term IsrAgreement::ISR_IA_STATUS_LABELS[ 1 ] %> and the previous IA (Record) is
            marked as <%= help_term IsrAgreement::ISR_IA_STATUS_LABELS[ 6 ] %>.</td>
    	</tr>
    	<tr>
    		<th><%= IsrAgreement::ISR_IA_STATUS_LABELS[ 5 ] %></th>
    		<td>This status is similar to the status 
            <%= help_term IsrAgreement::ISR_IA_STATUS_LABELS[ 4 ]%>:
            It is set when a new revision (IA Record) of the IA is created with the purpose to
            change the status of the IA to
            <%= help_term IsrAgreement::ISR_IA_STATUS_LABELS[ 2 ]%>, or
            <%= help_term IsrAgreement::ISR_IA_STATUS_LABELS[ 3 ]%>, or when an IA is to be
            terminated for some reason. The new IA has the status 
            <%= help_term IsrAgreement::ISR_IA_STATUS_LABELS[ 0 ]%> until all parties have
            agreed to the new status at which time the previous IA (Record) is marked as
            <%= help_term IsrAgreement::ISR_IA_STATUS_LABELS[ 6 ] %>.</td>
    	</tr>
    	<tr>
    		<th><%= IsrAgreement::ISR_IA_STATUS_LABELS[ 6 ] %></th>
            <td>This status is used for IA Records which were replaced by a revised IA, or an IA Record
            with a new status of the IA. IA Records with this status are normally not shown as they
            represent no valid agreement anymore.</td>
    	</tr>
        <tr>
            <th><%= IsrAgreement::ISR_IA_STATUS_LABELS[ 7 ] %></th>
            <td>This status for an IA (Record) indicates that the IA has been terminated by both parties
            by mutual agreement. It is the result of a status change request. The previous IA Record is
            marked as <%= help_term IsrAgreement::ISR_IA_STATUS_LABELS[ 6 ] %>.</td>
        </tr>
        <tr>
            <th><%= IsrAgreement::ISR_IA_STATUS_LABELS[ 8 ] %></th>
            <td>An IA Record is marked as <%= help_term IsrAgreement::ISR_IA_STATUS_LABELS[ 8 ] %>
            during a workflow when an attempt to revise an IA was aborted. The status of the 
            previous IA Record is reset to <%= help_term IsrAgreement::ISR_IA_STATUS_LABELS[ 1 ] %>
            again, indicating that the previous IA Record reflects the current status of the IA.</td>
        </tr>
        <tr>
            <th><%= IsrAgreement::ISR_IA_STATUS_LABELS[ 9 ] %></th>
            <td>An IA Record is marked as <%= help_term IsrAgreement::ISR_IA_STATUS_LABELS[ 9 ] %>
            during a workflow when a request for a status change of an IA was aborted. The status of the 
            previous IA Record is reset to <%= help_term IsrAgreement::ISR_IA_STATUS_LABELS[ 1 ] %>
            again, indicating that the previous IA Record reflects the current status of the IA.</td>
        </tr>
        <tr>
            <th><%= IsrAgreement::ISR_IA_STATUS_LABELS[ 10 ] %></th>
            <td>An IA is marked <%= help_term IsrAgreement::ISR_IA_STATUS_LABELS[ 10 ] %> when 
            during the creation (workflow) of an IA, the IA was found to be not applicable or
            not useful.</td>
        </tr>
    </tbody>
    </table>
    </div>
    </div>
    <p>The various statistics based on the status of IFs, IAs, and IA Records are documented
    in the help text for <%= link_to_help :isr_agreements, IsrAgreement.model_name.human %>.</p>
    <h3>Status from Responsibility and Validation Steps (RS/VS) - Proposal</h3>
    <p>Since Responsiblity and Validation Steps are implemented as Task/Issue/Action Item Lists,
    the status from these lists is could be an agregation of the individual items: Each item can
    be either 'open' or it is 'closed' ('waiting' should be considered 'open', 'obsolete' should be
    considered 'closed'). A list of Resolution (or Validation) Steps is thus either 'open' (one or
    more items is still 'open') or 'closed' (all items are 'closed').</p>
    <hr/>
    <h3><a name="refs"></a>References</h3>
    <p>The Interface Management processes here (the implementation, terminology and also some of the phrases used
    in the documentation) have been influenced by the following sources:</p>
    <p>&quot;Interface Management for Complex Capital Projects&quot; by Smin Shokri; A thesis presented to
    the University of Waterloo in fulfillment of the theseis requirement for the degree of Doctor of
    Philosophy in Civil Engineering; Waterloo, Ontrario, Canada, 2014.</p>
    <p>&quot;Interface Management in multidisciplinary infrastructure project developement&quot;
    by Sebastiaan Staats; MSc Thesis / Construction Management and Engineering; Delft University
    of Technology, Faculty of Civil Engineering and Geosciences; March, 2014.</p>
    <p>&quot;Technical Interface Management&quot; by Dr. Pekruhn; Siemens Industry Work Instruction;
    I MO CT - 5313, Version 1.0, valid from 2011-01-12.</p>
    <%= help_footer FEATURE_ID_ISR_INTERFACES %>
  </div> <!-- /container -->
