<% help_title "Help on #{ IsrInterface.model_name.human }" %>
  <div class="container">
    <%= helpcrumbs %>
    <%= help_header %>
    <p class="lead">Manage Interfaces within the Interface Status Register (ISR)</p>
    <p>This help text contains information on the handling of the top-level information of interfaces. For more information on the Interface Status Register (ISR) in general, see <%= link_to_help :isr_general, 'here' %>.
    <h3>Interface Attributes</h3>
    <ul>
      <li><%= help_param IsrInterface.human_attribute_name( :if_code ) -%> is the unique identifier
      of an Interface. It has the format
      '<strong>IF-</strong>&lt;n&gt;<strong>-</strong>&lt;IFL&gt;<strong>-</strong>&lt;IFP&gt;'
      where '&lt;n&gt;' is a unique, generated number,
      '&lt;IFL&gt;' is the group code of the leading project group (the 'Interface Leader' or
      <%= help_term IsrInterface.human_attribute_name( :l_group_id)-%>), and
      '&lt;IFP&gt;' is the group code of the partner project group (the 'Interface Partner' or
      <%= help_term IsrInterface.human_attribute_name( :p_group_id )-%>).</li>
      <li><%= help_param IsrInterface.human_attribute_name( :l_group_id )-%> is the group code
      of the 'Interface Leader'. This group is responsible to resolve the documented interface.</li>
      <li><%= help_param IsrInterface.human_attribute_name( :p_group_id )-%> is the group code
      of the 'Interface Partner'. This group is responsible to provide support to resolve any
      issues related to the specified interface.</li>
      <li>The <%= help_param IsrInterface.human_attribute_name( :title )-%> provides a short
      topic of the interface.</li>
      <li><%= help_param IsrInterface.human_attribute_name( :desc )-%> contains an elaboration
      of the respective interface. This text can be up to 255 characters long.</li>
      <li><%= help_param IsrInterface.human_attribute_name( :safety_related )-%> is a flag
      which must be marked when this interface is related to any safety requirements.</li>
      <li><%= help_param IsrInterface.human_attribute_name( :if_level )-%> groups interfaces into
      the following categories:<br/>
      	<%= help_term IsrInterface::ISR_IF_LEVEL_LABELS[ 0 ]-%><br/>
      	<%= help_term IsrInterface::ISR_IF_LEVEL_LABELS[ 1 ]-%><br/>
      	<%= help_term IsrInterface::ISR_IF_LEVEL_LABELS[ 2 ]-%> are those interfaces which should
      	be tracked in the project schedule as they are important for the progress of the project.</li>
      <li><%= help_param IsrInterface.human_attribute_name( :cfr_record_id )-%> allows to specify
      a Central File Register (CFR) record linking to a single document or a set of documents 
      containing information on this interface. On input, you will need to enter the numerical
      <%= help_term t( 'isr_interfaces.form.cfr_record_id' )-%>. The button next to the input field
      labelled <%= help_term t( 'isr_interfaces.form.cfr_record_link' )-%> leads to the listing
      of all CFR records.<br/>
      When an Interface is defined (IFL releases his definition), this CFR Record will be frozen.<br/>
      It is the task of the Interface Manager to ensure that all related documents are correctly
      stored in the project's document management system after confirmation of the Interface
      definition.</li>
      <li><%= help_param IsrInterface.human_attribute_name( :if_status )-%> shows the current status
      of the Interface:<br/>
      	<%= help_term IsrInterface::ISR_IF_STATUS_LABELS[ 0 ]-%><br/>
        <%= help_term IsrInterface::ISR_IF_STATUS_LABELS[ 1 ]-%><br/>
        <%= help_term IsrInterface::ISR_IF_STATUS_LABELS[ 2 ]-%><br/>
        <%= help_term IsrInterface::ISR_IF_STATUS_LABELS[ 3 ]-%><br/>
        <%= help_term IsrInterface::ISR_IF_STATUS_LABELS[ 4 ]-%><br/>
        <%= help_term IsrInterface::ISR_IF_STATUS_LABELS[ 5 ]-%></li>
      <li><%= help_param IsrInterface.human_attribute_name( :current_status_task )-%> shows the
      current status and the current task according to the workflow.</li>
      <li><%= help_param IsrInterface.human_attribute_name( :next_status_task )-%> is the input
      field from which you can select the next possible workflow status and task.</li>
    </ul>
    <h3>Detailed Workflow Information</h3>
      <p>Information on the workflow tasks and possible status transitions
      can be found <%= link_to 'here', isr_workflow_info_path %>.</p>
    <h3>Permissions</h3>
      <p>The tasks within this workflow are to be performed by the Interface Manager (IFM), the
      Interface Leader (IFL), and the Interface Partner (IFP):</p>
      <ul class="no-marker">
        <li>0 - add a new interface (IFM)</li>
        <li>1 - identify the interface (IFM)</li>
        <li>2 - define the interface (IFL)</li>
        <li>3 - confirm interface definition (IFP)</li>
        <li>4 - archive the interface status (IFM)</li>
        <li>5 - process Interface Agreements (IFM)</li>
        <li>6 - update interface (IFM)</li>
        <li>7 - perform withdrawel of the interface upon request (IFM)</li>
      </ul>
      <p>The required access to the workflow tasks are:</p>
      <ul class="no-martker">
        <li>IFM: 0, 1, 4, 5, 6, 7.</li>
        <li>IFL: 2</li>
        <li>IFP: 3</li>
      </ul>
    <%= help_footer FEATURE_ID_ISR_INTERFACES %>
  </div> <!-- /container -->
