<% help_title "Help on #{ OrlType.model_name.human }" %>
  <div class="container">
    <%= helpcrumbs %>
    <%= help_header %>
    <p class="lead">... lead text ...</p>
    <h3>... subtitle ...</h3>
    <p>... help text ...</p>
    <ul>
      <li><%= help_param OrlType.human_attribute_name( :id ) -%></li>
      <li><%= help_param OrlType.human_attribute_name( :label ) -%></li>
      <li><%= help_param OrlType.human_attribute_name( :o_group_id ) -%></li>
      <li><%= help_param OrlType.human_attribute_name( :r_group_id ) -%></li>
    </ul>
    <%= help_footer FEATURE_ID_ORL_TYPES %>
  </div> <!-- /container -->
