<% help_title "Help on #{ OrlCategory.model_name.human }" %>
  <div class="container">
    <%= helpcrumbs %>
    <%= help_header %>
    <p class="lead">Create and Maintain Observation/Response Log (ORL) Categories</p>
    <h3>Introduction</h3>
    <p>An ORL Category represents the agreement between two project groups to participate in a
      process where an ORL Subject (e.g. a document or a site) presented by the
      <%= help_term OrlCategory.human_attribute_name( :r_group_id )-%> to the 
      <%= help_term OrlCategory.human_attribute_name( :o_group_id )-%> for review and comments.</p>
    <p>ORL Categories are thus used to group Observation/Response Logs having the same kind of subjects and
      the same originating and receiving project groups. For example, all reviews of project 
      documents by the client's organisation would be one ORL Category; another ORL Category would be all
      reviews of civil works documents by the systems groups; again another ORL Category would be all
      internal reviews within a group.</p>
    <p>The following attributes are administered per category:</p>
    <ul>
      <li><%= help_param OrlCategory.human_attribute_name( :id ) -%> is the unique identifier of each 
        individual ORL Category.</li>
      <li><%= help_param OrlCategory.human_attribute_name( :label ) -%> is the name of the ORL Category.
        The link here will lead to all ORL Subjects within this ORL Category.</li>
      <li><%= help_param OrlCategory.human_attribute_name( :o_group_id ) -%> is the project group providing 
        observations and comments on the ORL Subjects in this ORL Category.</li>
      <li><%= help_param OrlCategory.human_attribute_name( :r_group_id ) -%> is the project group presenting
        the ORL Subjects to be observed and commented on. This is group also provides the responses to
        any observations and comments.</li>
      <li><%= help_param OrlCategory.human_attribute_name( :o_owner_id )-%> is the default owner for
        the <%= help_term OrlCategory.human_attribute_name( :o_group_id )-%> for any
        new ORL Subjects in this ORL Category. This parameter is required to ensure that there is always
        an owner defined for any ORL Subject.</li>
      <li><%= help_param OrlCategory.human_attribute_name( :r_owner_id )-%> is the default owner for
        the <%= help_term OrlCategory.human_attribute_name( :r_group_id )-%> for any
        new ORL Subjects in this ORL Category. This parameter is required to ensure that there is always
        an owner defined for any ORL Subject.</li>
      <li><%= help_param OrlCategory.human_attribute_name( :o_deputy_id )-%> can be used to define a
        default deputy for the <%= help_term OrlCategory.human_attribute_name( :o_owner_id )-%>.
      <li><%= help_param OrlCategory.human_attribute_name( :r_deputy_id )-%> can be used to define a
        default deputy for the <%= help_term OrlCategory.human_attribute_name( :r_owner_id )-%>.
    </ul>
    <p>Any accounts (owner or deputy) must have the necessary permissions for their respective group 
      to manage the ORL Subjects in this ORL Category.</p>
    <%= help_footer FEATURE_ID_ORL_CATEGORIES %>
  </div> <!-- /container -->

