<% help_title "Help on #{ TiaMember.model_name.human }" %>
  <div class="container">
    <%= helpcrumbs %>
    <%= help_header %>
    <p class="lead">Administer project members so they become eligible to own, view,
      or even update a task, issue, or action item assigned to them.</p>
    <p>List members can be any member of the project team having an account (so she or he can be assigned
      to a task, issue, or action item and then view her or his items. The required information for each
      member are:</p>
    <ul>
      <li><%= help_param TiaMember.human_attribute_name( :account_id ) -%> needs to be the account number
        of the project member to be added to the list of members. You can find this information under the
        link <%= help_param I18n.t( 'base.menu.my_data' )-%> or on the list of project member
        accounts accessible on the link <%= help_term t( 'our_tia_items.form.account_link' )%>
        next to this field on the create or update form. On the index listing, the link under the
        <%= help_term TiaMember.human_attribute_name( :account_id ) -%> leads to the contact
        information of the account's owner.</li>
      <li><%= help_param TiaMember.human_attribute_name( :to_access ) -%> is a flag which - when set - 
        permits this project member to view details of his or her tasks, issues, action items.
        When this flag is not set, that person can still be assigned as owner to an item on this list
        but he or she cannot view details of his items.</li>
      <li><%= help_param TiaMember.human_attribute_name( :to_update ) -%> permits - when set - the
        project member to comment on item in the list for which he is assigned as owner. However,
        this flag is ignored when this person is not permitted to access this item (refer to 
        <%= help_term TiaMember.human_attribute_name( :to_access ) -%>)</li>
    </ul>
    <%= help_footer FEATURE_ID_OUR_TIA_MEMBERS %>
  </div> <!-- /container -->