<% help_title "Help on PCP - Present-Comment Process"%>
  <div class="container">
    <%= helpcrumbs %>
    <%= help_header %>
    <p class="lead">The Present-Comment Process (PCP) reflects processes in a project environment
      where one project group presents work results (documents, drawings, site conditions), and another
      project group records observations and makes comments on this work result.</p>
    <h3>Other Introductions</h3>
    <p>For a quick introduction into specific topics for practical use, see the following help pages:</p>
    <ul>
    	<li><%= link_to_help :pcp_why, t( 'pcp_help.pcp_why' )%></li>
      <li><%= link_to_help :pcp_how_to_03, t( 'pcp_help.pcp_how_to_03' )%></li>
      <li><%= link_to_help :pcp_how_to_04, t( 'pcp_help.pcp_how_to_04' )%></li>
      <li><%= link_to_help :pcp_how_to_05, t( 'pcp_help.pcp_how_to_05' )%></li>
      <li><%= link_to_help :pcp_how_to_06, t( 'pcp_help.pcp_how_to_06' )%></li>
      <li><%= link_to_help :pcp_how_to_16, t( 'pcp_help.pcp_how_to_16' )%></li>
      <li><%= link_to_help :pcp_how_to_07, t( 'pcp_help.pcp_how_to_07' )%></li>
      <li><%= link_to_help :pcp_how_to_08, t( 'pcp_help.pcp_how_to_08' )%></li>
      <li><%= link_to_help :pcp_how_to_09, t( 'pcp_help.pcp_how_to_09' )%></li>
      <li><%= link_to_help :pcp_how_to_10, t( 'pcp_help.pcp_how_to_10' )%></li>
      <li><%= link_to_help :pcp_how_to_01, t( 'pcp_help.pcp_how_to_01' )%></li>
      <li><%= link_to_help :pcp_how_to_12, t( 'pcp_help.pcp_how_to_12' )%></li>
      <li><%= link_to_help :pcp_how_to_02, t( 'pcp_help.pcp_how_to_02' )%></li>
      <li><%= link_to_help :pcp_how_to_11, t( 'pcp_help.pcp_how_to_11' )%></li>
      <li><%= link_to_help :pcp_how_to_13, t( 'pcp_help.pcp_how_to_13' )%></li>
      <li><%= link_to_help :pcp_how_to_14, t( 'pcp_help.pcp_how_to_14' )%></li>
      <li><%= link_to_help :pcp_how_to_15, t( 'pcp_help.pcp_how_to_15' )%></li>
      <li><%= link_to_help :pcp_how_to_17, t( 'pcp_help.pcp_how_to_17' )%></li>
    </ul>
    <h3>Overview</h3>
    <p>The following model represents the Present-Comment Process (PCP):</p>
    <%= image_tag 'pcp_drawing.png', alt: 'Schematic Drawing of the PCP', class: 'img-responsive' -%>
    <ul>
      <li><%= help_param 'PCP Categories' -%> reflect an agreement between two project parties to
        perform a Present-Comment Process (PCP). For example, the review of Civil Works drawings by the
        Systems Engineering Group is such an agreement between the Civil Works group and the 
        Systems group. Statistics on the status of the all subjects in each PCP Category can be
        produced at any time. In addition, hashtags can be used to further define sub-categories
        for statistics; for example, the status of Civil Works drawings can be reported on a
        location by location basis by using location-specific hashtags.</li>
      <li><%= help_param 'PCP Subjects' -%> are items on which the Present-Comment Process is
        performed: a PCP Subject could be single document, an individual drawing, or a punch
        list for a specific site.</li>
      <li>While in the Present-Comment Process, a PCP Subject will be handled by either the
        <%= help_term 'Presenting Group'-%>, or by the <%= help_term 'Commenting Group'-%>.
        The handing-over from one <%= help_param 'PCP Group'-%> to the
        other is called <%= help_param 'Release'-%> (in the PCP context this is sometimes
        described as 'technical release' to distinguish this action from a 'formal release'
        which involves the formal exchange of documents between project entities, often
        performed by the document management group.<br/>
        Initially, the Presenting
        Group will release the PCP Subject to the Commenting Group. The Commenting Group will
        then report its observations and  an overall assessment of the PCP Subject.<br/>
        In the next step, the Commenting Group will release the PCP Subject (back) to the
        Presenting Group. The Presenting Group can now respond to the observations by 
        commenting on each and every observation. Once this step is completed, the PCP Subject
        is released again to the Commenting Group. With documents or drawings, this step 
        often involves the submission of a new revision of the document or drawing.</li>
      <li>Each of the above steps is named <%= help_param 'PCP Step'-%>. The first
        step would be the <%= help_term PcpStep::STEP_LABELS[ 0 ]-%>, the second 
        <%= help_term PcpStep::STEP_LABELS[ 1 ]-%>, the third
        <%= help_term PcpStep::STEP_LABELS[ 2 ]-%>, and so on.<br/>
        The transition from one PCP Step to the next PCP Step is performed as the 
        technical release by the currently acting PCP Group. This action includes the
        preparation of a 'Release' document containing the current status of the PCP Subject
        including all current (and public) observations and comments.</li>
      <li>Observations and comments on a PCP Subject are collected on a <%= help_param 'PCP Item'-%>
        basis: Each single observation is added to a PCP Subject as an individual PCP Item with a
        reference to the specific location of the issue (e.g. chapter, page, area). An initial
        assessment of the issue becomes the basis for the initial overall assessment of the PCP
        Subject.<br/>
        In subsequent PCP Steps, comments can be added to PCP Items as response to the original 
        observation. These comments can be public or non-public/internal. Public comments will
        become visible by anyone once the respective PCP Step is released. Non-public/internal
        comments are only visible to the originating group (either the Presenting or the
        Commenting Group).<br/>
        Before a PCP Subject can be released, at least one public comment must be made for each
        and every PCP Item as a response to the current PCP Step.</li>
      <li>Public PCP Items and Comments can be viewed after they have been released. Adding
        comments and subsequently responses are only allowed by the owner and the deputy for the
        PCP Subject as well as by the specified <%= help_param 'PCP Participants'-%>. These are
        users administered by the owner or the deputy of the PCP Subject - each for her 
        respective group.</li>
    </ul>
    <h3>Roles in PCP Categories</h3>
    <p>The PCP Categories are managed by one or more persons having specific access rights. PCP
    Categories are created based on a specific agreement (explicit or implicit by the project
    environment) between two Project Groups. Hence, changes to any attributes would be a change
    to that agreement.</p>
    <p>Each party is expected to name a representative and a deputy. These two persons would be entered
    as owner and deputy for their respective PCP Groups (PCP Category attributes
    <%= help_term PcpCategory.human_attribute_name( :p_owner_id )-%> and
    <%= help_term PcpCategory.human_attribute_name( :p_deputy_id )-%>, and as 
    <%= help_term PcpCategory.human_attribute_name( :c_owner_id )-%> and
    <%= help_term PcpCategory.human_attribute_name( :c_deputy_id )-%> respectively).</p>
    <p>Access to information on PCP Categories must be explicitly granted (feature
    <%= help_term Feature.find_by_id( FEATURE_ID_PCP_CATEGORIES ).label_with_id-%>).</p>
    <h3>Roles for PCP Subjects</h3>
    <p>Each PCP Subject has at least two owners, optionally also a deputy:
      <%= help_term PcpSubject.human_attribute_name( :p_owner_id )-%> and
      <%= help_term PcpSubject.human_attribute_name( :p_deputy_id )-%>, and 
      <%= help_term PcpSubject.human_attribute_name( :c_owner_id )-%> and
      <%= help_term PcpSubject.human_attribute_name( :c_deputy_id )-%> respectively.
      These roles are defined initially be the defaults as defined by the respective PCP Category.</p>
    <p>Each <%= help_term 'Owner'%> and each <%= help_term 'Deputy'%> has the right to edit attributes of the PCP Subject and to perform the technical release for his respective group (presenting or
    commenting).</p>
    <p>The <%= help_term 'Owner'%> must have access permissions for his respective group
      as defined by the attributes 
      <%= help_term PcpSubject.human_attribute_name( :p_group_id )-%> and the
      <%= help_term PcpSubject.human_attribute_name( :c_group_id )-%> respectively.</p>
    <p>For each <%= help_term 'Deputy'%>, this condition is not tested such that any user
      can be appointed as 'Deputy' as long as he has access to this feature
      (<%= help_term Feature.find_by_id( FEATURE_ID_MY_PCP_SUBJECTS ).label_with_id-%>).</p> 
    <p>In addition to Owners and Deputies, the creator of a PCP Subject (i.e. the user who
      initially created the PCP Subject record) will be (a) permitted to modify PCP Subject
      attributes before the first release, and will be (b) treated as a PCP Participant, i.e.
      he can add responses to any PCP Items. The reason for this special role is that most
      likely the responsible person for a specific PCP Subject (a document, drawing, or a
      site) will often be responsible to respond to any observations by the commenting
      party, too.</p>
    <p>All PCP Subject Owners and Deputies need the respective permissions for the
      feature <%= help_term Feature.find_by_id( FEATURE_ID_MY_PCP_SUBJECTS ).label_with_id-%>.
      The entry point for this feature provides a user with a list of all PCP Subjects where
      he is either the group owner, the group deputy, or the subject creator, or a specified
      PCP Participant (see below).</p>
    <p>The feature <%= help_term Feature.find_by_id( FEATURE_ID_ALL_PCP_SUBJECTS ).label_with_id-%>
      is an entry point to all PCP Subjects of a given project group (i.e. where the permission
      is given to view records of a group which can be either the presenting or the commenting
      group. This feature is provided for users who need to see all items on a project group
      basis rather than the basis of any responsibility for specific PCP Subjects.</p>
    <h3>Roles for PCP Items</h3>
      <p>An Owner or Deputy may also assign other users as <%= help_param 'PCP Participants'-%>
        of the Present-Comment Process for his PCP Subject. These users are then eligable to add
        and edit observations and/or comments (like the Owner, his Deputy, or the creator of 
        the PCP Subject.</p>
      <p>PCP Participants of the Commenting Group may make create observations (PCP Items),
        or add comments to existing PCP Items; PCP Participants of the Presenting Group may
        comment on PCP Items.</p>
      <p>All observations and comments are created non-public/internal and can be viewed only by the
        respective PCP Participants for this PCP Subject. Only a PCP Subject owner or deputy (for his group) can make flag a comment as public or create a public comment. Once a PCP
        Step is released, the comments marked as public can be viewed by anyone.</p>
    <h3>Principles of Reporting</h3>
      <p>Generally, only the status at the most-recent release will be shown. However,
        the detailed status of a specific PCP Subject will be visible to the participants
        of the currently responsible group (owner, deputy and any other user). This
        ensures that the current work-status is restricted to those actually working on
        the PCP Subject.</p>
    <%= help_footer FEATURE_ID_HELP_PAGES %>
  </div> <!-- /container -->
