<% help_title "Help on #{ PcpSubject.model_name.human }" %>
  <div class="container">
    <%= helpcrumbs %>
    <%= help_header %>
    <p class="lead">Manage Instances of the Present-Comment Process (PCP)</p>
    <p>For general information on the PCP, see
      <%= link_to_help :pcp_general, t( 'pcp_help.pcp_general')-%>.</p>
    <h3>Attributes of PCP Subjects</h3>
    <p>A PCP Subject represents an instance of a Present-Comment Process (PCP):
      It is often a document to be reviewed by another project group.
      Any review comments are returned to the originating/presenting project group.
      Issues are resolved by providing an updated version of the original document
      or by clarifying responses to the initial comments. The updated document is
      re-submitted and the process is repeated until the document has reached an
      'Approved' status and the PCP Subject reaches a 'closed' state.</p>
    <p>Each PCP Subject belongs to a specific PCP Category. Overall statistics
      on the status of all subjects will be collected per PCP Category.</p>
    <p>The status of each process step (submission - review - response - re-review -...)
      is collected in the current <a href='#pcp_step'>PCP Step section</a>
      of the PCP Subject.</p>
    <ul>
      <li><%= help_param PcpSubject.human_attribute_name( :id ) -%> is the unique
        identifier of the PCP Subject.</li>
      <li><%= help_param PcpSubject.human_attribute_name( :pcp_category_id ) -%> shows
        which category this PCP Subject belongs to. The initial assignment
        to specific project groups (originating/responding and reviewing/commenting group)
        is taken from the PCP Category setting when a new PCP Subject is created.</li>
      <li><%= help_param PcpSubject.human_attribute_name( :title )-%> is a description
        of the subject under review; for documents, this should be the document's title;
        others could be the event (a site visit) where observations were made which 
        require a resolution.</li>
      <li>The <%= help_param PcpSubject.human_attribute_name( :note )-%> provides a field
        for remarks and tags on the specific PCP Subject. Tags can be used to categorize
        statistics on the PCP Subjects within a specific PCP Category, or to filter PCP
        Subjects.</li>
      <li>The <%= help_param PcpSubject.human_attribute_name( :project_doc_id )-%> should
        be used to enter the complete document DMS code for the document under review - 
        without the version code: This will be entered further below in the <a href='#pcp_step'>PCP Step
        section</a>.<br/>
        If you enter just a number (unsigned integer) here, the tool will automatically
        retrieve the complete code and the title of the document from the project's document
        log having this sequence number. The title of the document will then be used as
        <%= help_term PcpSubject.human_attribute_name( :title )-%> for the PCP Subject. Note: If
        this document DMS code there includes a version, you need to (manually) remove this
        version suffix as the version is added later again by this feature!<br/>
        The presenting party can change this DMS code whenever it is the currently active
        group. If you want to use this field for an DMS code of a site-acceptance
        checklist (when using the PCP for hand-over/take-over processes), feel free
        to do so: Only remember that the version or revision code
        (<%= help_term PcpStep.human_attribute_name( :subject_version )-%>
        is appended to this string for the release report.</li>
      <li><%= help_param PcpSubject.human_attribute_name( :p_group_id )-%> is the 
        project group presenting the PCP Subject for review and comment. For documents
        and drawings, this would be the project group which prepared the document or
        drawing.</li>
      <li><%= help_param PcpSubject.human_attribute_name( :p_owner_id )-%> is the
        principal owner of this PCP Subject when the 
        <%= help_term PcpSubject.human_attribute_name( :p_group_id )-%> is responsible
        for the PCP Subject. Both, the 
        <%= help_term PcpSubject.human_attribute_name( :p_owner_id )-%> and the
        <%= help_param PcpSubject.human_attribute_name( :p_deputy_id )-%>, are
        authorized to release a PCP Subject to the next process step. The 
        <%= help_term PcpSubject.human_attribute_name( :p_group_id )-%> must be
        a member of the <%= help_term PcpSubject.human_attribute_name( :p_group_id )-%>
        whereas the <%= help_term PcpSubject.human_attribute_name( :p_deputy_id )-%>
        may belong to any project group.</li>
      <li><%= help_param PcpSubject.human_attribute_name( :c_group_id )-%> is the
        project group invited to review and comment on the presented PCP Subject.
        For documents and drawings, this would be the project group reviewing and
        preparing comments on the submitted document or drawing.</li>
      <li><%= help_param PcpSubject.human_attribute_name( :c_owner_id )-%> is the 
        principal owner of the PCP Subject when the
        <%= help_param PcpSubject.human_attribute_name( :c_group_id )-%> is responsible
        for the PCP Subject. Both, the  
        <%= help_term PcpSubject.human_attribute_name( :c_owner_id )-%> and the
        <%= help_param PcpSubject.human_attribute_name( :c_deputy_id )-%>, are
        authorized to release a PCP Subject to the next process step. The 
        <%= help_term PcpSubject.human_attribute_name( :c_group_id )-%> must be
        a member of the <%= help_term PcpSubject.human_attribute_name( :c_group_id )-%>
        whereas the <%= help_term PcpSubject.human_attribute_name( :c_deputy_id )-%>
        may belong to any project group.
        </li>
      <li><%= help_param PcpSubject.human_attribute_name( :report_doc_id )%> is a field
        to hold the project's document code for the release report. This document code
        will be amended with a version retrieved from the
        <%= help_term PcpStep.human_attribute_name( :report_version )-%> field in the 
        respective PCP Step.<br/>
        If you enter just a number (unsigned integer) here, the tool will automatically
        retrieve the complete code of the document from the project's document
        log having this sequence number.</li>
      <li><%= help_param PcpSubject.human_attribute_name( :archived )-%> is a flag which 
        can be used to 'hide' closed PCP Subjects: This flag becomes visible for
        modification when an PCP Subject has a 'closed' status. If this flag is set,
        this PCP Subject will not be listed anymore here. However, it will still be 
        used for any statistics on the PCP Subjects.</li>
    </ul>
    <h3 id='pcp_step'>Attributes on the Current PCP Step</h3>
    <p>These attributes can only be set by the PCP Group currently in charge of the
      process; i.e. either the Presenting or the Commenting Group:</p>
    <ul>
      <li><%= help_param PcpStep.human_attribute_name( :subject_date )-%> is the date
        on which the PCP Subject has reached the current status: For documents, this
        could be the release date as shown on the document's meta data. For site
        visits, this would be the date of the site visit. The 
        <%= help_term PcpSubject.human_attribute_name( :p_group_id )-%> can
        set this attribute, the 
        <%= help_term PcpSubject.human_attribute_name( :c_group_id )-%>
        can only view this attribute.</li>
      <li><%= help_param PcpStep.human_attribute_name( :subject_version )-%> should be
        the version identifier of a document or drawing submitted for review. This is
        normally a suffix to the 
        <%= help_term PcpSubject.human_attribute_name( :project_doc_id )-%>. This
        attribute can only be set by the 
        <%= help_term PcpSubject.human_attribute_name( :p_group_id )-%>.</li>
      <li><%= help_param PcpStep.human_attribute_name( :report_version )-%> must be the
        version identifier for the release report. This string is appended to the
        <%= help_term PcpSubject.human_attribute_name( :report_doc_id )-%> to form the
        complete document code of the release document. A release cannot be done unless
        this field contains a version code.</li>
      <li><%= help_param PcpStep.human_attribute_name( :note )-%> is a field
        which can be used during any step to make step-specific remarks. The contents of this
        field will not be carried over to the next step, i.e. it will be cleared for the next
        step once the current step is released. This field is only shown to members of the 
        acting group.</li>
      <li><%= help_param PcpStep.human_attribute_name( :release_notice )-%> can be used
        to add release-specific comments to the release document. This is simply text to
        be published with a release.</li>
      <li><%= help_param PcpStep.human_attribute_name( :due_date )-%> is an attribute of a
        PCP Step shown as 
        <%= help_param t( 'pcp_subjects.form.this_due_date', step: '...' )-%> for the
        current step, and as 
        <%= help_param t( 'pcp_subjects.form.next_due_date', step: '...' )-%> for the
        next step with ... being <%= help_param PcpStep::STEP_STATES[ 0 ] -%> and 
        <%= help_param PcpStep::STEP_STATES[ 1 ] -%> accordingly.</li>
      <li><%= help_param PcpStep.human_attribute_name( :prev_assmt )-%> is the assessment code
        by the Commenting Group for the current PCP Step. This code is replaced by the
        <%= help_param PcpStep.human_attribute_name( :new_assmt )-%> once the PCP Subject
        is released by the Commenting Group.</li>
      <li>The <%= help_param PcpStep.human_attribute_name( :subject_status )-%> is automatically
        set to <%= help_term PcpStep.human_attribute_name( :subject_states )[ 0 ]-%> when a
        new subject is created; after the first round -&nbsp;when the initial observations are
        released by the Commenting Group (back) to the Presenting Group&nbsp;- the status changes to
        <%= help_term PcpStep.human_attribute_name( :subject_states )[ 1 ]-%>;
        finally, the status is set to 
        <%= help_term PcpStep.human_attribute_name( :subject_states )[ 2 ]-%>
        when any of the terminal assessment states for the PCP Subject have been reached 
        following a release of the PCP Subject. Consequently, a further release in such a final state
        for more reviews is not possible anymore.<br/>
        On the index page, the link under <%= help_term t('pcp_subjects.index.status_subj' )-%>
        leads directly to the list of all items of this PCP Subject.</li>
        </li>
    </ul>
    <h3 id='pcp_release'>Release a PCP Step</h3>
    <p>In order to close the current PCP Step and to release it to the other party, use the
      <%= help_term t( 'button_label.release' )-%> button on the
      <%= link_to t( 'pcp_subjects.show.form_title' ), '#pcp_release' -%> page. This action
      can only be performed by either the owner or the deputy of the currently responsible
      party (as defined for this PCP Subject).</p>
    <p>The Presenting Group can only perform the initial 'Release' a PCP Subject if a
      <%= help_term PcpSubject.human_attribute_name( :title )-%> or a
      <%= help_term PcpSubject.human_attribute_name( :project_doc_id )-%> is given.</p>
    <p>The Commenting Group can only release a new PCP Step when:
      <ul>
        <li>each item has an assessment, and an overall 
          <%= help_term PcpStep.human_attribute_name( :new_assmt )-%> is set for the PCP Step.</li>
        <li>For each PCP Item with comments, at least one comment added for this PCP Step has a
        <%= help_term PcpComment.human_attribute_name( :is_public )-%> flag set.</li>
      </ul></p>
    <p>Subsequent releases by the Presenting Group require at least one public comment on each
      open PCP Item.</p>
    <p>A successful release will open a new window with a 
      <%= help_term t( 'pcp_subjects.reldoc.main_heading')%>. This report is formatted
      to be printed on A4 paper directly from your browser - or to be saved as PDF-formatted
      file using your favourite PDF printer driver.</p>
    <h3><%= t( 'pcp_subjects.index.form_title' )%></h3>
    <p>When you filter by a specific group, all PCP Subjects will be listed where the given 
      group is either
      the <%= help_term PcpSubject.human_attribute_name( :p_group_id )-%> or
      the <%= help_term PcpSubject.human_attribute_name( :c_group_id )-%>.<br/>
      The values shown in column <%= help_term t( 'pcp_subjects.index.acting_group' )%> will be either
      the selected group (when currently responsible for the PCP Subject) or the other PCP Group
      (currently being responsible for this PCP Subject).</p>
    <h3 id='pcp_history'>Show History of PCP Subject</h3>
    <p>A complete history of all steps for the current PCP Subject can be requested via the
      <%= help_term t( 'button_label.history' )-%> button on the  
      <%= link_to t( 'pcp_subjects.show.form_title' ), '#pcp_history' -%> page. The history
      of a PCP Subject consists of the PCP Subject attributes and a listing of all
      PCP Step attributes for each of the previous releases at the time of the release. The
      PCP Steps are listed in reverse chronological order, i.e. the most currently active
      step is listed first, the initial release step is listed last.</p>
    <p>The <%= help_term PcpSubject.human_attribute_name( :report_doc_id )%> attribute has
      a link to the respective release document.</p>
    <h3>Responsibilities</h3>
    <p>When creating a new PCP Subject, the initial owner of the PCP Subject is the creating
     account, <%= help_term PcpSubject.human_attribute_name( :p_group_id )-%>,  
     <%= help_term PcpSubject.human_attribute_name( :p_deputy_id )-%>,  
     <%= help_term PcpSubject.human_attribute_name( :c_group_id )-%>,  
     <%= help_term PcpSubject.human_attribute_name( :c_owner_id )-%>, and  
     <%= help_term PcpSubject.human_attribute_name( :c_deputy_id )-%> will be taken from
     the selected PCP Category.<br/>
     You can always change these responsibilities for your respective party (presenting or
     commenting) but any owner or deputy must have access to the specified group.<br/>
     It is also possible set any values to the defaults defined in the selected PCP Category
     by simply selecting <%= help_term t( 'pcp_subjects.form.c_prompt' )%> from the group
     selection and clearing any field (owner and/or deputy) which should be set to the
     corresponding value of the given PCP Category. The owner/deputy settings in the resulting
     configuration must also have access to the default group from the PCP Category.</p>
    <h3>Further Notes</h3>
    <p>At this time, no need was seen to implement a 'withdrawn' status in order to allow
      PCP Subjects to be removed from this process before they reach a terminal, closing
      status. If this is necessary, such PCP Subjects should be deleted. This means they
      will disappear from the system and will not be reported anymore in any statistics.</p>
    <%= help_footer FEATURE_ID_MY_PCP_SUBJECTS %>
  </div> <!-- /container -->
