<% help_title "Help on #{ Reference.model_name.human }" %>
  <div class="container">
    <%= helpcrumbs %>
    <%= help_header %>
    <p class="lead">This table provides references (to documents) of various kinds.</p>
    <p>References explain the source of information: This is often a document but can also be
    any other statement:</p>
    <ul>
      <li><%= help_param Reference.human_attribute_name( :code ) -%> is an abbreviation of
        the reference (document) which is used as key to the record; this code must be unique
        among all references. I suggest to use uppercase character strings which can also be
        used within other documents, for example in the format /XYZ/.</li>
      <li><%= help_param Reference.human_attribute_name( :description ) -%> specifies further
        details on the reference. If you refer to a document, I suggest to use the following
        sequence of information<br/>
        &lt;title&gt;; Revision: &lt;rev_id&gt; (where &lt;rev_id&gt; could be a number or
        a date)<br/>
        Just ensure that this description allows the reader of this reference to verify the
        source of the information.</li>
      <li><%= help_param Reference.human_attribute_name( :project_doc_id ) -%> can be used
        to specify the document code when the referenced document is stored in the project's
        document management system.</li>
    </ul>
    <%= help_footer FEATURE_ID_REFERENCES %>
  </div> <!-- /container -->
