      <div class="form-group">
        <%= form.label :id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%= display_value form.object.id %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :code, class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%= form.text_field :code, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :label, class: 'col-sm-3 control-label' %>
        <div class="col-sm-3">
          <%= form.text_field :label, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :owner_account_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%= form.text_field :owner_account_id, class: 'form-control' %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( 'general.accounts_link' ), account_list_path, class: 'btn btn-sm btn-block btn-default', target: '_blank' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :deputy_account_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%= form.text_field :deputy_account_id, class: 'form-control' %>
        </div>
      </div>
