<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="table-responsive col-sm-10">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="col-sm-2"><%= TiaList.human_attribute_name( :code   )%></th>
          <th class="col-sm-3"><%= TiaList.human_attribute_name( :label  )%></th>
          <th class="col-sm-2"><%= TiaList.human_attribute_name( :owner  )%></th>
          <th class="col-sm-2"><%= TiaList.human_attribute_name( :deputy )%></th>
          <th class="col-sm-1 hidden-print"><%= t( 'action_title.header' )%></th>
        </tr>
      </thead>
      <tbody>
      <% if @tia_lists.length.zero? %>
        <%= render partial: 'shared/index_empty_row', locals:{ columns: 4, with_link: true }%>
      <% else %>
        <% @tia_lists.each do |tl| %>
          <tr>
            <td><%= tl.code %></td>
            <td><%= link_to tl.label, my_tia_list_our_tia_items_path( tl.id ) unless tl.label.nil? %></td>
            <td><%= link_to_contact_list( tl.owner_account  )%></td>
            <td><%= link_to_contact_list( tl.deputy_account )%></td>
            <td><%= render partial: 'shared/actions', object: tl %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <%= render partial: 'shared/footer' %>
  </div>
</div>
