<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="table-responsive">
    <%= form_tag({},{ method: :get }) do %>
    <%= will_paginate @dcc_codes %>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="col-sm-1"><%= DccCode.human_attribute_name( :id     )%></th>
          <th class="col-sm-1"><%= label_tag :as_code, DccCode.human_attribute_name( :code   ), class: 'control-label' %></th>
          <th class="col-sm-5"><%= label_tag :as_desc, DccCode.human_attribute_name( :label  ), class: 'control-label' %></th>
          <th class="col-sm-1"><%= DccCode.human_attribute_name( :active   )%></th>
          <th class="col-sm-1"><%= DccCode.human_attribute_name( :master   )%></th>
          <th class="col-sm-1"><%= DccCode.human_attribute_name( :heading  )%></th>
          <th class="col-sm-1"><%= DccCode.human_attribute_name( :standard )%></th>
          <th class="col-sm-1 hidden-print"><%= filter_action_title_header -%></th>
        </tr>
      </thead>
      <tbody>
        <tr <%= filter_row( @filter_fields ) -%>>
          <td></td>
          <td><%= filter_field @filter_fields, :as_code, :sw -%></td>
          <td><%= filter_field @filter_fields, :as_desc, :sw -%></td>
          <td colspan="4"></td>
          <td><%= filter_action_button -%></td>
        </tr>
      <% if @dcc_codes.length.zero? %>
        <%= render partial: 'shared/index_empty_row', locals:{ columns: 7, with_link: true }%>
      <% else %>
        <% @dcc_codes.each do |fc| %>
          <tr>
            <td><%= fc.to_id %></td>
            <td><%= fc.code  %></td>
            <td><%= fc.label %></td>
            <td><%= DccCode.human_attribute_name( :active   ) if fc.active   %></td>
            <td><%= DccCode.human_attribute_name( :master   ) if fc.master   %></td>
            <td><%= DccCode.human_attribute_name( :heading  ) if fc.heading  %></td>
            <td><%= DccCode.human_attribute_name( :standard ) if fc.standard %></td>
            <td><%= render partial: 'shared/actions', object: fc %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <% end %>
    <%= render partial: 'shared/download_xls' %>
    <%= render partial: 'shared/footer' %>
  </div>
</div>
