<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="form-horizontal" role="form">
    <%= form_for @group do |g| %>
      <%= render partial: 'shared/notice' %>
      <div class="form-group">
        <%= g.label :id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value g.object.to_id %>
        </div>
      </div>
      <div class="form-group">
        <%= g.label :code, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value g.object.code %>
        </div>
      </div>
      <div class="form-group">
        <%= g.label :label, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= display_value g.object.label %>
        </div>
      </div>
      <div class="form-group">
        <%= g.label :notes, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= display_value g.object.notes %>
        </div>
      </div>
      <div class="form-group">
        <%= g.label :seqno, class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%= display_value g.object.seqno %>
        </div>
      </div>
      <div class="form-group">
        <%= g.label :group_category_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= display_value g.object.group_category.label %>
        </div>
      </div>
      <div class="form-group">
        <%= g.label :sub_group_of_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= display_value g.object.sub_group_of.try( :code_and_label )%>
        </div>
      </div>
      <div class="form-group">
        <%= g.label :participating, class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%= display_check_box g.object.participating %>
        </div>
      </div>   
      <div class="form-group">
        <%= g.label :s_sender_code, class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%= display_check_box g.object.s_sender_code %>
        </div>
      </div>   
      <div class="form-group">
        <%= g.label :s_receiver_code, class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%= display_check_box g.object.s_receiver_code %>
        </div>
      </div>   
      <div class="form-group">
        <%= g.label :active, class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%= display_check_box g.object.active %>
        </div>
      </div>   
      <div class="form-group">
        <%= g.label :standard, class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%= display_check_box g.object.standard %>
        </div>
      </div>   
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
          <%= link_to t( 'button_label.edit' ), edit_group_path( @group ), class: 'btn btn-lg btn-block btn-default' %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( 'button_label.go_to_index' ), groups_path, class: 'btn btn-lg btn-block btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
