<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="table-responsive">
    <%= form_tag({},{ method: :get, class: 'form-inline' }) do %>
    <%= will_paginate @hashtags %>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="col-sm-1"><%= Hashtag.human_attribute_name( :id ) -%></th>
          <th class="col-sm-2"><%= label_tag :ff_code,    Hashtag.human_attribute_name( :code       ), class: 'control-label' %></th>
          <th class="col-sm-4"><%= label_tag :ff_label,   Hashtag.human_attribute_name( :label      ), class: 'control-label' %></th>
          <th class="col-sm-3"><%= label_tag :ff_feature, Hashtag.human_attribute_name( :feature_id ), class: 'control-label' %></th>
          <th class="col-sm-1"><%= Hashtag.human_attribute_name( :seqno ) %></th>
          <th class="col-sm-1 hidden-print"><%= filter_action_title_header %></th>
        </tr>
      </thead>
      <tbody>
        <tr <%= filter_row( @filter_fields ) -%>>
          <td></td>
          <td><%= filter_field @filter_fields, :ff_code, :sl -%></td>
          <td><%= filter_field @filter_fields, :ff_label, :sw -%></td>
          <td><%= filter_single_select @filter_fields, :ff_feature, @all_features, :label -%></td>
          <td></td>
          <td><%= filter_action_button -%></td>
        </tr>
      <% if @hashtags.length.zero? %>
        <%= render partial: 'shared/index_empty_row', locals:{ columns: 4, with_link: true }%>
      <% else %>
        <% @hashtags.each do |ht| %>
          <tr>
            <td><%= ht.to_id %></td>
            <td><%= ht.code %></td>
            <td><%= ht.label %></td>
            <td><%= ht.feature.label %></td>
            <td><%= ht.seqno %>
            <td><%= render partial: 'shared/actions', object: ht %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <% end %>
    <%= render partial: 'shared/footer' %>
  </div>
</div>
