<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="form-horizontal" role="form">
    <%= form_for @cfr_record do |f| %>
      <%= render partial: 'shared/notice' %>
      <%= render partial: 'shared/errors', object: @cfr_record.errors %>
      <%- if @cfr_record.rec_frozen then -%>
        <%= render partial: 'show_all', object: f %>
      <%- else -%>
        <%= render partial: 'form', object: f %>
      <%- end -%>
      <%= render partial: 'locations_header' %>
      <!-- Locations -->
      <%= f.fields_for :cfr_locations, @cfr_record.cfr_locations do |l| -%>
        <%= render partial: 'location', locals: { cfr_record: f, cfr_location: l, action_type: :edit } %>
      <%- end -%>
      <%= f.fields_for :cfr_locations, @cfr_record.cfr_locations.new, { child_index: 'template' } do |l| %>
        <%= render partial: 'location', locals: { cfr_record: f, cfr_location: l, action_type: :edit }%>
      <% end %>
      <!-- button to add another location record -->
      <div class="form-group">
        <div class="col-sm-1">
          <%= link_to '+', '#', class: 'btn btn-info btn-default btn-block add-subform-button' %>
        </div>
        <label class="col-sm-4"><%= t( 'cfr_records.form.l_add_label' )%></label>
      </div>
      <!-- Relations -->
      <%= render partial: 'relations_header' %>
      <%= f.fields_for :src_relations, @cfr_record.src_relations do |r| -%>
        <%= render partial: 'relation', locals: { cfr_relation: r, action_type: :edit } %>
      <%- end -%>
      <%= f.fields_for :dst_relations, @cfr_record.dst_relations do |r| -%>
        <%= render partial: 'relation', locals: { cfr_relation: r, action_type: :edit } %>
      <%- end -%>
      <%= f.fields_for :src_relations, @cfr_record.src_relations.new, { child_index: 'template' } do |r| %>
        <%= render partial: 'relation', locals: { cfr_relation: r, action_type: :edit }%>
      <%- end -%>
      <div class="form-group">
        <div class="col-sm-1">
          <%= link_to '+', '#', class: 'btn btn-info btn-default btn-block add-subform-button' %>
        </div>
        <label class="col-sm-4"><%= t( 'cfr_records.form.r_add_label' )%></label>
      </div>
      <%= render partial: 'relations_footer' %>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
          <%= f.submit t( 'button_label.defaults' ), class: 'btn btn-lg btn-block btn-default' %>
        </div>
        <div class="col-sm-2">
          <%= f.submit class: 'btn btn-lg btn-block btn-primary' %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( 'button_label.cancel_to_show' ), cfr_record_details_path( @cfr_record ), class: 'btn btn-lg btn-block btn-default' %>
        </div>
      <div>
    <% end %>
  </div>
</div>
