<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="form-horizontal" role="form">
    <%= form_for @cfr_record do |f| %>
      <%= render partial: 'shared/notice' %>
      <div class="form-group">
        <%= f.label :id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value f.object.to_id %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :title, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= display_value f.object.title %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :note, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= display_value f.object.note %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :group_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value f.object.group_code %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :conf_level, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value CfrRecord::CONF_LEVEL_LABELS[ f.object.conf_level ] %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :doc_version, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value f.object.doc_version %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :doc_date, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value f.object.doc_date %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :doc_owner, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= display_value f.object.doc_owner %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :extension, class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%= display_value f.object.extension %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :cfr_file_type_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-3">
          <%= display_value f.object.file_type_label %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :hash_function, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value f.object.hash_function_label %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :hash_value, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= display_value f.object.hash_value %>
        </div>
      </div>
      <%= render partial: 'locations_header', locals: { action_type: :show } %>
      <!-- Location Info -->
      <%- if f.object.cfr_locations.empty? -%>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4"><%= t( '.no_locations' ) %></div>
      </div>
      <%- else -%>
        <%= f.fields_for :cfr_locations, f.object.cfr_locations do |l| %>
          <%= render partial: 'location', locals: { cfr_record: f, cfr_location: l, action_type: :show } %>
        <%- end -%>
      <%- end -%>
      <%= render partial: 'relations_header', locals: { action_type: :show } %>
      <!-- Relation Info -->
      <%- if @all_relations.empty? -%>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4"><%= t( '.no_locations' ) %></div>
      </div>
      <%- else -%>
        <%- setup = true -%>
        <%= f.fields_for :src_relations, @all_relations do |r| %>
          <%= render partial: 'relation', locals: { cfr_record: f, cfr_relation: r, action_type: :show, setup: setup } %>
          <%- setup = false -%>
        <%- end -%>
      <%- end -%>      
      <%= render partial: 'relations_footer' %>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
          <%= link_to t( 'button_label.edit' ), edit_cfr_record_path( @cfr_record ), class: 'btn btn-lg btn-block btn-default' %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( 'button_label.show' ), @cfr_record, class: 'btn btn-lg btn-block btn-default' %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( 'button_label.go_to_index' ), cfr_records_path, class: 'btn btn-lg btn-block btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
