<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title_w( @cfr_record.to_id ) %>
  <div class="form-horizontal" role="form">
    <%= form_for @cfr_record do |f| %>
      <%= render partial: 'shared/notice' %>
      <div class="form-group p-group">
        <p class="col-sm-3 p-label"><%= CfrRecord.human_attribute_name( :title ) %></p>
        <p class="col-sm-6"><%= @cfr_record.title %></p>
      </div>
      <%- unless @cfr_record.note.blank? -%>
        <div class="form-group p-group">
          <p class="col-sm-3 p-label"><%= CfrRecord.human_attribute_name( :note ) %></p>
          <p class="col-sm-6"><%= @cfr_record.note %></p>
        </div>
      <%- end -%>
      <%- unless @cfr_record.group_id.nil? %>
      <div class="form-group p-group">
        <p class="col-sm-3 p-label"><%= CfrRecord.human_attribute_name( :group_id ) %></p>
        <p class="col-sm-2"><%= @cfr_record.group_code unless @cfr_record.group_id.nil? %></p>
      </div>
      <%- end -%>
      <div class="form-group p-group">
        <p class="col-sm-3 p-label"><%= CfrRecord.human_attribute_name( :conf_level ) %></p>
        <p class="col-sm-3"><%= CfrRecord::CONF_LEVEL_LABELS[ f.object.conf_level ] %></p>
      </div>
      <%- unless @cfr_record.doc_version.blank? && @cfr_record.doc_date.blank? %>
        <div class="form-group p-group">
          <p class="col-sm-3 p-label"><%= t( '.version_date' ) %></p>
          <p class="col-sm-3"><%= @cfr_record.doc_version %></p>
          <p class="col-sm-3"><%= @cfr_record.doc_date %></p>
        </div>
      <%- end -%>
      <%- unless @cfr_record.doc_owner.blank? %>
        <div class="form-group p-group">
          <p class="col-sm-3 p-label"><%= CfrRecord.human_attribute_name( :doc_owner ) %></p>
          <p class="col-sm-6"><%= @cfr_record.doc_owner %></p>
        </div>
      <%- end -%>
      <%- unless @cfr_record.extension.blank? && @cfr_record.cfr_file_type_id.nil? -%>
      <div class="form-group p-group">
        <p class="col-sm-3 p-label"><%= t( '.ext_labels' ) %></p>
        <p class="col-sm-3"><%= @cfr_record.file_type_label %></p>
        <p class="col-sm-3"><%= "(.#{ @cfr_record.extension })" unless @cfr_record.extension.blank? %></p>
      </div>
      <%- end -%>
      <%- unless @cfr_record.hash_function.blank? && @cfr_record.hash_value.blank? %>
      <div class="form-group p-group">
        <p class="col-sm-3 p-label"><%= t( '.hash_label' )%></p>
        <p class="col-sm-3"><%= @cfr_record.hash_function_label %></p>
        <p class="col-sm-6"><%= @cfr_record.hash_value %></p>
      </div>
      <%- end -%>
      <%- if @cfr_record.rec_frozen %>
      <div class="form-group p-group">
        <p class="col-sm-3 p-label"><%= t( '.rec_frozen' )%></p>
        <p class="col-sm-2"><%= db_formatted_dt @cfr_record.freeze_date %></p>
      </div>
      <%- end -%>
      <!-- Divider Line -->
      <div class="form-group">
        <hr style="margin:4px"/>  
      </div>
      <!-- Location Info -->
      <%- if @cfr_record.cfr_locations.empty? -%>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-4"><%= t( '.no_locations' ) %></div>
        </div>
      <%- else -%>
        <%- n = 0 -%>
        <%= f.fields_for :cfr_locations, f.object.cfr_locations do |l| %>
          <%- n = n + 1 -%>
          <div class="form-group p-group">
            <p class="col-sm-3 p-label"><%= t( l.object.is_main_location ? '.main_location' : '.othr_location' ) + " (#{ n })"%></p>
            <p class="col-sm-6"><%= l.object.cfr_location_type.try( :label )%></p>
          </div>
          <%- unless l.object.doc_code.blank? && l.object.doc_version.blank? %>
            <div class="form-group p-group">
              <p class="col-sm-3 p-label"><%= t( '.doc_code_ver' )%></p>
              <p class="col-sm-6"><%= l.object.complete_code %></p>
            </div>
          <%- end -%>
          <%- unless l.object.file_name.blank? %>
            <div class="form-group p-group">
              <p class="col-sm-3 p-label"><%= CfrLocation.human_attribute_name( :file_name )%></p>
              <p class="col-sm-6"><%= l.object.file_name %></p>
            </div>
          <%- end -%>
          <%- unless l.object.uri.blank? %>
            <div class="form-group p-group">
              <p class="col-sm-3 p-label"><%= CfrLocation.human_attribute_name( :uri )%></p>
              <p class="col-sm-9"><%= link_to_file( l.object.uri )%></p>
            </div>
          <%- end -%>
        <%- end -%>
      <%- end -%>
      <!-- Divider Line -->
      <div class="form-group">
        <hr style="margin:4px"/>  
      </div>
      <!-- Relation Info -->
      <%- if @all_relations.empty? -%>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-4"><%= t( '.no_relations' ) %></div>
        </div>
      <%- else -%>
        <%- n = 0 -%>
        <%= f.fields_for :src_relations, @all_relations do |r| %>
          <%- n = n + 1 -%>
          <div class="form-group p-group">
          <%- if n == 1 -%>
            <p class="col-sm-3 p-label"><%= t( '.relations', id: @cfr_record.to_id )-%></p>
            <p class="col-sm-9"><%= display_relationship( r.object, @cfr_record )%></p>
          <%- else -%>
            <p class="col-sm-offset-3 col-sm-9"><%= display_relationship( r.object, @cfr_record )%></p>
          <%- end -%>
          </div>
        <%- end -%>
      <%- end -%>
      <%= render partial: 'relations_footer' %>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
          <%= link_to t( 'button_label.edit' ), edit_cfr_record_path( @cfr_record ), class: 'btn btn-lg btn-block btn-default' %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( 'button_label.all' ), cfr_record_details_path( @cfr_record ), class: 'btn btn-lg btn-block btn-default' %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( 'button_label.go_to_index' ), cfr_records_path, class: 'btn btn-lg btn-block btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
