<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="form-horizontal" role="form">
    <%= form_for @network_line do |f| %>
      <%= render partial: 'shared/notice' %>
      <div class="form-group">
        <%= f.label :id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value f.object.id %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :code, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value f.object.code %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :label, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= display_value f.object.label %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :seqno, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value f.object.seqno %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :location_code_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value f.object.location_code.try( :code )%>
        </div>
        <div class="col-sm-4">
          <%= display_value f.object.location_code.try( :label )%>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :note, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= display_value f.object.note %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
          <%= link_to t( 'button_label.edit' ), edit_network_line_path( @network_line ), class: 'btn btn-lg btn-block btn-default' %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( 'button_label.goto_to_list' ), network_lines_path, class: 'btn btn-lg btn-block btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
