      <div class="form-group">
        <%= form.label :id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value form.object.to_id %>
        </div>
      </div>
        <div class="form-group">
          <%= form.label :pcp_category_id, class: 'col-sm-3 control-label' %>
          <div class="col-sm-4">
            <%- if @valid_subject_params.include? :pcp_category_id then -%>
              <%= form.select :pcp_category_id, @pcp_categories, { prompt: t( '.g_prompt' )}, { class: 'form-control', required: true }%>
            <%- else -%>
              <%= display_value form.object.pcp_category.label %>
            <%- end -%>
          </div>
        </div>
        <div class="form-group">
          <%= form.label :title, class: 'col-sm-3 control-label' %>
          <div class="col-sm-6">
            <%- if @valid_subject_params.include? :title then -%>
              <%= form.text_field :title, class: 'form-control' %>
            <%- else -%>
              <%= display_value form.object.title %>
            <%- end -%>
          </div>
        </div>
        <div class="form-group">
          <%= form.label :note, class: 'col-sm-3 control-label' %>
          <div class="col-sm-6">
            <%- if @valid_subject_params.include? :note then -%>
              <%= form.text_field :note, class: 'form-control' %>
            <%- else -%>
              <%= display_value form.object.note %>
            <%- end -%>
          </div>
        </div>
        <div class="form-group">
          <%= form.label :project_doc_id, class: 'col-sm-3 control-label' %>
          <div class="col-sm-6">
            <%- if @valid_subject_params.include? :project_doc_id then -%>
              <%= form.text_field :project_doc_id, class: 'form-control' %>
            <%- else -%>
              <%= display_value form.object.project_doc_id %>
            <%- end -%>
          </div>
        </div>
        <div class="form-group">
        <%- if @valid_subject_params.include? :cfr_record_id then -%>
          <%= form.label :cfr_record_id, t( '.cfr_record_id' ), class: 'col-sm-3 control-label' %>
          <div class="col-sm-1">
            <%= form.text_field :cfr_record_id, class: 'form-control' %>
          </div>
          <div class="col-sm-2">
            <%= link_to t( '.cfr_record_link' ), cfr_records_path, class: 'btn btn-sm btn-block btn-default', target: '_blank' %>
          </div>
        <%- else -%>
          <%= form.label :cfr_record_id, class: 'col-sm-3 control-label' %>
          <div class="col-sm-6">
            <%= display_value form.object.cfr_record.try( :text_and_id, :title ) %>
          </div>
        <%- end -%>
        </div>
      <!-- request input for groups and accounts only when updating -->
      <%- unless action_name == 'new' -%>
       <div class="form-group">
        <%= form.label :p_group_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%- if @valid_subject_params.include? :p_group_id then -%>
            <%= form.select :p_group_id, @pcp_groups, { include_blank: t( '.c_prompt' )},{ class: 'form-control' }%>
          <%- else -%>
            <%= display_value form.object.p_group.try( :code_and_label) %>
          <%- end -%>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :p_owner_id, t( '.p_owner_id' ), class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%- if @valid_subject_params.include? :p_owner_id then -%>
            <%= form.text_field :p_owner_id, class: 'form-control' %>
        </div>
        <div class="col-sm-2">
            <%= link_to t( 'general.accounts_link' ), account_list_path, class: 'btn btn-sm btn-block btn-default', target: '_blank' %>
          <%- else -%>
            <%= display_value form.object.p_owner_id %>
          <%- end -%>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :p_deputy_id, t( '.p_deputy_id' ), class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%- if @valid_subject_params.include? :p_deputy_id then -%>
            <%= form.text_field :p_deputy_id, class: 'form-control' %>
          <%- else -%>
            <%= display_value form.object.p_deputy_id %>
          <%- end -%>
        </div>
      </div>
      <%# do not show subject owner if current user is not in the presenting group %>
      <%- if PcpSubject.same_group?( 0, @pcp_viewing_group_map ) -%>
      <div class="form-group">
        <%= form.label :s_owner_id, t( '.s_owner_id' ), class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%- if @valid_subject_params.include? :s_owner_id then -%>
            <%= form.text_field :s_owner_id, class: 'form-control' %>
          <%- else -%>
            <%= display_value form.object.s_owner_id %>
          <%- end -%>
        </div>
      </div>
      <%- end -%>
      <div class="form-group">
        <%= form.label :c_group_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%- if @valid_subject_params.include? :c_group_id then -%>
            <%= form.select :c_group_id, @pcp_groups, { include_blank: t( '.c_prompt' )},{ class: 'form-control' }%>
          <%- else -%>
            <%= display_value form.object.c_group.try( :code_and_label )%>
          <%- end -%>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :c_owner_id, t( '.c_owner_id' ), class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%- if @valid_subject_params.include? :c_owner_id then -%>
          <%= form.text_field :c_owner_id, class: 'form-control' %>
        </div>
        <div class="col-sm-2">
            <%= link_to t( 'general.accounts_link' ), account_list_path, class: 'btn btn-sm btn-block btn-default', target: '_blank' %>
          <%- else -%>
            <%= display_value form.object.c_owner_id %>
          <%- end -%>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :c_deputy_id, t( '.c_deputy_id' ), class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%- if @valid_subject_params.include? :c_deputy_id then -%>
            <%= form.text_field :c_deputy_id, class: 'form-control' %>
          <%- else -%>
            <%= display_value form.object.c_deputy_id %>
          <%- end -%>
        </div>
      </div>
      <%- end -%>
      <div class="form-group">
        <%= form.label :report_doc_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%- if @valid_subject_params.include? :report_doc_id then -%>
            <%= form.text_field :report_doc_id, class: 'form-control' %>
          <%- else -%>
            <%= display_value form.object.report_doc_id %>
          <%- end -%>
        </div>
      </div>
      <%- unless @pcp_curr_step.nil? -%>
        <div class="form-group">
          <%= form.label :subject_status, class: 'col-sm-3 control-label' %>
          <div class="col-sm-2">
            <%= display_value @pcp_curr_step.subject_status_label %>
          </div>
        </div>
      <%- end -%>
      <%- if @valid_subject_params.include? :archived then %>
      <div class="form-group">
        <%= form.label :archived, class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%= form.check_box :archived %>
        </div>
      </div>
      <%- end -%>
      <!-- data on current step -->
      <%- unless @pcp_curr_step && @pcp_curr_step.status_closed? then -%>
      <%= form.fields_for :pcp_steps, @pcp_curr_step do |os| -%>
        <div class="form-group">
          <%= os.label :step_no, t( '.cs_heading', label: os.object.step_label ), class: 'col-sm-3 control-label' %>
          <div class="col-sm-6"><hr /></div>
        </div>
        <div class="form-group">
          <%= os.label :subject_date, class: 'col-sm-3 control-label' %>
          <div class="col-sm-2">
            <%- if @valid_step_params.include? :subject_date then -%>
              <div class="input-group date" data-provide="datepicker">
                <%= os.text_field :subject_date, class: 'form-control' %>
                <span class="input-group-addon">:::</span>
              </div>
            <%- else -%>
              <%= display_value os.object.subject_date %>
            <%- end -%>
          </div>
        </div>
        <div class="form-group">
          <%= os.label :subject_version, class: 'col-sm-3 control-label' %>
          <%- if @valid_step_params.include? :subject_version -%>
            <div class="col-sm-1">
              <%= os.text_field :subject_version, class: 'form-control' %>
            </div>
            <%- unless @pcp_prev_step.nil? -%>
              <div class="col-sm-1"><p class="form-control-static"><%= t( '.prev_version' )%></p></div>
              <div class="col-sm-1"><%= display_value @pcp_prev_step.subject_version %></div>
            <%- end -%>
          <%- else -%>
            <div class="col-sm-1">
              <%= display_value os.object.subject_version %>
            </div>
          <%- end -%>
        </div>
        <div class="form-group">
          <%= os.label :report_version, class: 'col-sm-3 control-label' %>
          <div class="col-sm-1">
            <%- if @valid_step_params.include? :report_version -%>
              <%= os.text_field :report_version, class: 'form-control' %>
            <%- else -%>
              <%= display_value os.object.report_version -%>
            <%- end -%>       
          </div>
          <%- unless @pcp_prev_step.nil? -%>
            <div class="col-sm-1"><p class="form-control-static"><%= t( '.prev_version' )%></p></div>
            <div class="col-sm-1"><%= display_value @pcp_prev_step.report_version %></div>
          <%- end -%>
        </div>
        <div class="form-group">
          <%= os.label :note, class: 'col-sm-3 control-label' %>
          <div class="col-sm-4">
            <%- if @valid_step_params.include? :note -%>
              <%= os.text_field :note, class: 'form-control' %>
            <%- else -%>
              <%= display_value os.object.note %>
            <%- end -%>
          </div>
        </div>
        <div class="form-group">
          <%= os.label :release_notice, class: 'col-sm-3 control-label' %>
          <div class="col-sm-6">
            <%- if @valid_step_params.include? :release_notice -%>
              <%= os.text_field :release_notice, class: 'form-control' %>
            <%- else -%>
              <%= display_value os.object.release_notice %>
            <%- end -%> 
          </div>
        </div>
        <%# show current step due date (from previous step) only for steps > 0 %>
        <%- if os.object.step_no > 0 then -%>
        <div class="form-group">
          <%= os.label :due_date, t( '.this_due_date', step: PcpStep.step_state_label( os.object.step_no )), class: 'col-sm-3 control-label' %> 
          <div class="col-sm-2">  
            <%= display_value db_formatted_d( @pcp_prev_step.due_date )%>
          </div>
        </div>
        <%- end -%>
        <div class="form-group">
          <%= os.label :due_date, t( '.next_due_date', step: PcpStep.step_state_label( os.object.step_no + 1 )), class: 'col-sm-3 control-label' %>
          <div class="col-sm-2">
            <%- if @valid_step_params.include? :due_date -%>
              <div class="input-group date" data-provide="datepicker">
                <%= os.text_field :due_date, class: 'form-control' %>
                <span class="input-group-addon">:::</span>
              </div>
            <%- else -%>
              <%= display_value db_formatted_d( os.object.due_date )%>
            <%- end -%>
          </div>
        </div>
        <%- if os.object.step_no > 0 then %>
          <div class="form-group">
            <%= os.label :prev_assmt, class: 'col-sm-3 control-label' %>
            <div class="col-sm-4">
              <%= display_value PcpStep.assessment_label( os.object.prev_assmt )%>
            </div>
          </div>
          <%- if os.object.in_commenting_group? then -%>
            <div class="form-group">
              <%= os.label :new_assmt, class: 'col-sm-3 control-label' %>
              <div class="col-sm-4">
                <%- if @valid_step_params.include? :new_assmt -%>
                  <%= os.select :new_assmt, select_options( PcpStep::ASSESSMENT_LABELS ), { prompt: t( '.g_prompt' ) }, { class: 'form-control' }%>
                <%- else -%>
                  <%= display_value PcpStep.assessment_label( os.object.new_assmt) %>
                <%- end %>
              </div>
            </div>
            <%= render partial: 'stats' %>
          <%- end -%>
        <%- end -%>
      <%- end -%>
      <%- end -%>
