<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="table-responsive col-sm-11">
    <%= form_tag({},{ method: :get, class: 'form_inline' }) do %>
    <%= will_paginate @pcp_subjects %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="col-sm-1"><%= PcpSubject.human_attribute_name( :id )%></th>
          <th class="col-sm-4"><%= PcpSubject.human_attribute_name( :title )%> /
                               <%= PcpSubject.human_attribute_name( :project_doc_id )%></th>
          <th class="col-sm-1"><%= t( '.status_subj' )%></th>
          <th class="col-sm-1"><%= t( '.assessment' )%></th>
          <th class="col-sm-2"><%= t( '.status_step' )%></th>
          <th class="col-sm-1"><%= t( '.acting_group' )%></th>
          <th class="col-sm-1 hidden-print"><%= filter_action_title_header %></th>
        </tr>
      </thead>
      <tbody>
      <% if @pcp_subjects.length.zero? %>
        <%= render partial: 'shared/index_empty_row', locals:{ columns: 6, with_link: true }%>
      <% else %>
        <% @pcp_subjects.each do |ps| %>
          <% cs = ps.current_step %>
          <tr>
            <td><%= ps.id %></td>
            <td><%= display_two_items_w_br ps.title, ps.project_doc_id %></td>
            <td><%= cs.try :subject_status_label %></td>
            <td><%= PcpStep.assessment_code( cs.try :current_assmt )%></td>
            <td><%= cs.try :step_label %></td>
            <td><%= ps.get_acting_group( cs.try :acting_group_index ).code %></td>
            <td><%= render partial: 'shared/actions', object: ps %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <% end %>
    <%= render partial: 'shared/footer' %>
  </div>
</div>
