<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="table-responsive col-sm-11">
    <%= form_tag({},{ method: :get }) do %>
    <%= will_paginate @pcp_subjects %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="col-sm-1"><%= label_tag :ff_id, PcpSubject.human_attribute_name( :id ), class: 'control-label'%></th>
          <th class="col-sm-4"><%= label_tag :ff_titl, PcpSubject.human_attribute_name( :title ) + ' / ' + PcpSubject.human_attribute_name( :project_doc_id )%></th>
          <th class="col-sm-1"><%= t( '.status_subj' )%></th>
          <th class="col-sm-1"><%= t( '.assessment' )%></th>
          <th class="col-sm-2"><%= t( '.status_step' )%></th>
          <th class="col-sm-1"><%= label_tag :ff_igrp, t( '.acting_group' ), class: 'control-label'%></th>
          <th class="col-sm-1 hidden-print"><%= filter_action_title_header %></th>
        </tr>
      </thead>
      <tbody>
        <tr <%= filter_row( @filter_fields )%>>
          <td><%= filter_field @filter_fields, :ff_id, :id %></td>
          <td><%= filter_field @filter_fields, :ff_titl, :sw %></td>
          <td colspan="3"><%= filter_field @filter_fields, :ff_note, :ns %></td>
          <td><%= filter_select_from_array @filter_fields, :ff_igrp, @filter_groups %></td>
          <td><%= filter_action_button -%></td>
        </tr>
      <% if @pcp_subjects.length.zero? %>
        <%= render partial: 'shared/index_empty_row', locals:{ columns: 7, with_link: true }%>
      <% else %>
        <% @pcp_subjects.each do |ps| %>
          <%- if @pcp_category != ps.pcp_category then -%>
            <tr>
              <td colspan="6"><strong><%= ps.pcp_category.label %></strong></td>
              <td class="hidden-print"></td>
            <tr>
            <%- @pcp_category = ps.pcp_category -%>
          <%- end -%>
          <%- cs = ps.current_steps[ 0 ] -%>
          <tr>
            <td><%= ps.to_id %></td>
            <td><%= display_two_items_w_br ps.title, ps.project_doc_id %></td>
            <td><%= link_to PcpStep.subject_status_label( cs.try :subject_status ), pcp_subject_pcp_items_path( ps )%></td>
            <td><%= PcpStep.assessment_code( cs.try :current_assmt )%></td>
            <td><%= cs.try :step_label %></td>
            <td><%= ps.get_acting_group( cs.try :acting_group_index ).code %></td>
            <td><%= render partial: 'shared/actions', object: ps %></td>
          </tr>
        <%- end -%>
      <%- end -%>
      </tbody>
    </table>
    <%- end -%>
    <%= render partial: 'shared/footer' %>
  </div>
</div>
