      <div class="form-group">
        <%= form.label :id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value form.object.to_id %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :network_station_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= form.collection_select( :network_station_id, NetworkStation.all, :id, :code_and_label, { prompt: true }, { class: 'form-control' })%>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :network_line_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= form.collection_select( :network_line_id, NetworkLine.all, :id, :code_and_label, { prompt: true }, { class: 'form-control' })%>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :stop_no, class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%= form.text_field :stop_no, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :code, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= form.text_field :code, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :location_code_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= form.collection_select( :location_code_id, LocationCode.all, :id, :code_and_label, { include_blank: true }, { class: 'form-control' })%>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :note, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= form.text_field :note, class: 'form-control' %>
        </div>
      </div>

