<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="form-horizontal" role="form">
    <%= form_for @network_stop do |f| %>
      <%= render partial: 'shared/notice' %>
      <div class="form-group">
        <%= f.label :id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value f.object.to_id %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :network_station_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value f.object.network_station_id %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :network_line_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value f.object.network_line_id %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :stop_no, class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%= display_value f.object.stop_no %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :code, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value f.object.code %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :location_code_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value f.object.location_code_id %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :note, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= display_value f.object.note %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
          <%= link_to t( 'button_label.edit' ), edit_network_stop_path( @network_stop ), class: 'btn btn-lg btn-block btn-default' %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( 'button_label.go_to_index' ), network_stops_path, class: 'btn btn-lg btn-block btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
