      <div class="form-group">
        <%= form.label :id, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= display_value form.object.id %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :pcp_item, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= form.text_field :pcp_item, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :pcp_step, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= form.text_field :pcp_step, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :desc, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= form.text_field :desc, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :author, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= form.text_field :author, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :public, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= form.text_field :public, class: "form-control" %>
        </div>
      </div>

