<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Pcp item</th>
          <th>Pcp step</th>
          <th>Desc</th>
          <th>Author</th>
          <th>Public</th>
          <th><%= t( 'action_title.header' )%></th>
        </tr>
      </thead>
      <tbody>
      <% if @pcp_comments.length.zero? %>
        <%= render partial: 'shared/index_empty_row', locals:{ columns: 6, with_link: true }%>
      <% else %>
        <% @pcp_comments.each do |pcp_comment| %>
          <tr>
            <td><%= pcp_comment.id %></td>
            <td><%= pcp_comment.pcp_item %></td>
            <td><%= pcp_comment.pcp_step %></td>
            <td><%= pcp_comment.desc %></td>
            <td><%= pcp_comment.author %></td>
            <td><%= pcp_comment.public %></td>
            <td><%= render partial: 'shared/actions', object: pcp_comment %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <%= render partial: 'shared/footer' %>
  </div>
</div>
