      <div class="form-group">
        <%= form.label :id, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= display_value form.object.id %>
        </div>
      </div>
      <%- if @workflow.permitted_to_show?( :title ) then -%>
      <div class="form-group">
        <%= form.label :title, class: "col-sm-3 control-label" %>
        <div class="col-sm-6">
          <%= display_value form.object.title %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :title ) then -%>
      <div class="form-group">
        <%= form.label :title, class: "col-sm-3 control-label" %>
        <div class="col-sm-6">
          <%= form.text_field :title, class: "form-control", max_length: MAX_LENGTH_OF_TITLE %>
        </div>
      </div>
      <%- end -%>
      <div class="form-group">
        <%= form.label :document_status, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= display_value form.object.document_status_label %>
        </div>
      </div>
      <%- if @workflow.permitted_to_show?( :document_status_b ) then -%>
      <div class="form-group">
        <%= form.label :document_status_b, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= display_value form.object.document_status_b_label %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :document_status_b ) then %>
      <div class="form-group">
        <%= form.label :document_status_b, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= form.text_field :document_status_b, class: "form-control" %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_show?( :project_doc_id ) then -%>
      <div class="form-group">
        <%= form.label :project_doc_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= display_value form.object.project_doc_id %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :project_doc_id ) then %>
      <div class="form-group">
        <%= form.label :project_doc_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= form.text_field :project_doc_id, class: "form-control", max_length: MAX_LENGTH_OF_DOC_ID %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_show?( :sender_group_id ) then -%>
      <div class="form-group">
        <%= form.label :sender_group_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= display_value form.object.sender_group_code %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :sender_group_id ) then %>
      <div class="form-group">
        <%= form.label :sender_group_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= form.select :sender_group_id, @dsr_sender_groups, { prompt: t( '.g_prompt' )}, class: "form-control", required: true %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_show?( :sender_group_b_id ) then -%>
      <div class="form-group">
        <%= form.label :sender_group_b_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= display_value form.object.sender_group_b_code %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :sender_group_b_id ) then %>
      <div class="form-group">
        <%= form.label :sender_group_b_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= form.select :sender_group_b_id, @dsr_sender_groups, { prompt: t( '.g_prompt' )}, class: "form-control", required: true %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_show?( :sender_doc_id ) then -%>
      <div class="form-group">
        <%= form.label :sender_doc_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= display_value form.object.sender_doc_id %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :sender_doc_id ) then %>
      <div class="form-group">
        <%= form.label :sender_doc_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= form.text_field :sender_doc_id, class: "form-control", max_length: MAX_LENGTH_OF_DOC_ID %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_show?( :receiver_group_id ) then -%>
      <div class="form-group">
        <%= form.label :receiver_group_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= display_value form.object.receiver_group_code %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :receiver_group_id ) then %>
      <div class="form-group">
        <%= form.label :receiver_group_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= form.select :receiver_group_id, @dsr_receiver_groups, { prompt: t( '.g_prompt' )}, class: "form-control" %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_show?( :receiver_doc_id ) then -%>
      <div class="form-group">
        <%= form.label :receiver_doc_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= display_value form.object.receiver_doc_id %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :receiver_doc_id ) then %>
      <div class="form-group">
        <%= form.label :receiver_doc_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= form.text_field :receiver_doc_id, class: "form-control", max_length: MAX_LENGTH_OF_DOC_ID %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_show?( :sub_purpose ) then -%>
      <div class="form-group">
        <%= form.label :sub_purpose, class: "col-sm-3 control-label" %>
        <div class="col-sm-3">
          <%= display_value form.object.sub_purpose_label %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :sub_purpose ) then %>
      <div class="form-group">
        <%= form.label :sub_purpose, class: "col-sm-3 control-label" %>
        <div class="col-sm-3">
          <%= form.select :sub_purpose, select_options( DsrStatusRecord::DSR_SUB_PURPOSE_LABELS ), { prompt: t( '.g_prompt' ) }, { class: "form-control" }%>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_show?( :sub_frequency ) then -%>
      <div class="form-group">
        <%= form.label :sub_frequency, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= display_value form.object.sub_frequency_label %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :sub_frequency ) then %>
      <div class="form-group">
        <%= form.label :sub_frequency, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= form.select :sub_frequency, select_options( DsrStatusRecord::DSR_SUB_FREQUENCY_LABELS ), { prompt: t( '.g_prompt' ) }, { class: "form-control" }%>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_show?( :quantity ) then -%>
      <div class="form-group">
        <%= form.label :quantity, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= display_value form.object.quantity %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :quantity ) then %>
      <div class="form-group">
        <%= form.label :quantity, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= form.text_field :quantity, class: "form-control" %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_show?( :quantity_b ) then -%>
      <div class="form-group">
        <%= form.label :quantity_b, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= display_value form.object.quantity_b %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :quantity_b ) then %>
      <div class="form-group">
        <%= form.label :quantity_b, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= form.text_field :quantity_b, class: "form-control" %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_show?( :weight ) then -%>
      <div class="form-group">
        <%= form.label :weight, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= display_value db_formatted_weight( form.object.weight )%>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :weight ) then %>
      <div class="form-group">
        <%= form.label :weight, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= form.text_field :weight, class: "form-control" %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_show?( :weight_b ) then -%>
      <div class="form-group">
        <%= form.label :weight_b, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= display_value db_formatted_weight( form.object.weight_b )%>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :weight_b ) then %>
      <div class="form-group">
        <%= form.label :weight_b, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= form.text_field :weight_b, class: "form-control" %>
        </div>
      </div>
      <%- end -%>
      <%- if @dsr_show_add_checkbox -%>
      <div class="form-group">
        <%= form.label :check_box_add, class: "col-sm-3 control-label" %>
        <div class="col-sm-6">
          <%= check_box_tag :check_box_add, @dsr_previous_record %>&nbsp;
          <%= label_tag :check_box_add, t( '.cb_add_text', dsr_id: some_id( @dsr_previous_record )) %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_show?( :dsr_doc_group_id ) then -%>
      <div class="form-group">
        <%= form.label :dsr_doc_group_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= display_value form.object.doc_group_code %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :dsr_doc_group_id ) then %>
      <div class="form-group">
        <%= form.label :dsr_doc_group_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= form.text_field :dsr_doc_group_id, class: "form-control" %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( '.ddg_link' ), dsr_doc_groups_path, class: 'btn btn-sm btn-block btn-default', target: '_blank' %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_show?( :submission_group_id ) then -%>
      <div class="form-group">
        <%= form.label :submission_group_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= display_value form.object.submission_group_code %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :submission_group_id ) then %>
      <div class="form-group">
        <%= form.label :submission_group_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= form.select :submission_group_id, @submission_groups, { prompt: t( '.g_prompt'), include_blank: true }, class: "form-control" %>
        </div>
      </div>
      <%- end -%>

      <%- if @workflow.permitted_to_show?( :prep_activity_id ) then -%>
      <div class="form-group">
        <%= form.label :prep_activity_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-6">
          <%= display_value form.object.activity_label( :prep_activity_id ) %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :prep_activity_id ) then %>
      <div class="form-group">
        <%= form.label :prep_activity_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= form.text_field :prep_activity_id, class: "form-control" %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( '.ppa_link' ), programme_activities_path, class: 'btn btn-sm btn-block btn-default', target: '_blank' %>
        </div>
      </div>
      <%- end -%>

      <%- if @workflow.permitted_to_show?( :subm_activity_id ) then -%>
      <div class="form-group">
        <%= form.label :subm_activity_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-6">
          <%= display_value form.object.activity_label( :subm_activity_id ) %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :subm_activity_id ) then %>
      <div class="form-group">
        <%= form.label :subm_activity_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= form.text_field :subm_activity_id, class: "form-control" %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( '.ppa_link' ), programme_activities_path, class: 'btn btn-sm btn-block btn-default', target: '_blank' %>
        </div>
      </div>
      <%- end -%>

      <%- if @workflow.permitted_to_show?( :estm_prep_start ) then -%>
      <div class="form-group">
        <%= form.label :estm_prep_start, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= display_value db_formatted_d( form.object.estm_prep_start ) %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :estm_prep_start ) then %>
      <div class="form-group">
        <%= form.label :estm_prep_start, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <div class="input-group date" data-provide="datepicker"> 
            <%= form.text_field :estm_prep_start, class: "form-control" %>
            <span class="input-group-addon">:::</span>
          </div>
        </div>
      </div>
      <%- end -%>

      <%- if @workflow.permitted_to_show?( :plnd_prep_start ) then -%>
      <div class="form-group">
        <%= form.label :plnd_prep_start, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= display_value db_formatted_d( form.object.plnd_prep_start ) %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :plnd_prep_start ) then %>
      <div class="form-group">
        <%= form.label :plnd_prep_start, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <div class="input-group date" data-provide="datepicker"> 
            <%= form.text_field :plnd_prep_start, class: "form-control" %>
            <span class="input-group-addon">:::</span>
          </div>
        </div>
      </div>
      <%- end -%>

      <%- if @workflow.permitted_to_show?( :plnd_prep_start_b ) then -%>
      <div class="form-group">
        <%= form.label :plnd_prep_start_b, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= display_value db_formatted_d( form.object.plnd_prep_start_b ) %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :plnd_prep_start_b ) then %>
      <div class="form-group">
        <%= form.label :plnd_prep_start_b, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <div class="input-group date" data-provide="datepicker"> 
            <%= form.text_field :plnd_prep_start_b, class: "form-control" %>
            <span class="input-group-addon">:::</span>
          </div>
        </div>
      </div>
      <%- end -%>

      <%- if @workflow.permitted_to_show?( :actl_prep_start ) then -%>
      <div class="form-group">
        <%= form.label :actl_prep_start, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= display_value db_formatted_d( form.object.actl_prep_start ) %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :actl_prep_start ) then %>
      <div class="form-group">
        <%= form.label :actl_prep_start, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <div class="input-group date" data-provide="datepicker"> 
            <%= form.text_field :actl_prep_start, class: "form-control" %>
            <span class="input-group-addon">:::</span>
          </div>
        </div>
      </div>
      <%- end -%>

      <%- if @workflow.permitted_to_show?( :estm_submission ) then -%>
      <div class="form-group">
        <%= form.label :estm_submission, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= display_value db_formatted_d( form.object.estm_submission ) %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :estm_submission ) then %>
      <div class="form-group">
        <%= form.label :estm_submission, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <div class="input-group date" data-provide="datepicker"> 
            <%= form.text_field :estm_submission, class: "form-control" %>
            <span class="input-group-addon">:::</span>
          </div>
        </div>
      </div>
      <%- end -%>

      <%- if @workflow.permitted_to_show?( :plnd_submission_1 ) then -%>
      <div class="form-group">
        <%= form.label :plnd_submission_1, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= display_value db_formatted_d( form.object.plnd_submission_1 ) %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :plnd_submission_1 ) then %>
      <div class="form-group">
        <%= form.label :plnd_submission_1, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <div class="input-group date" data-provide="datepicker"> 
            <%= form.text_field :plnd_submission_1, class: "form-control" %>
            <span class="input-group-addon">:::</span>
          </div>
        </div>
      </div>
      <%- end -%>

      <%- if @workflow.permitted_to_show?( :plnd_submission_b ) then -%>
      <div class="form-group">
        <%= form.label :plnd_submission_b, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= display_value db_formatted_d( form.object.plnd_submission_b ) %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :plnd_submission_b ) then %>
      <div class="form-group">
        <%= form.label :plnd_submission_b, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <div class="input-group date" data-provide="datepicker"> 
            <%= form.text_field :plnd_submission_b, class: "form-control" %>
            <span class="input-group-addon">:::</span>
          </div>
        </div>
      </div>
      <%- end -%>

      <%- if @workflow.permitted_to_show?( :actl_submission_1 ) then -%>
      <div class="form-group">
        <%= form.label :actl_submission_1, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= display_value db_formatted_d( form.object.actl_submission_1 ) %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :actl_submission_1 ) then %>
      <div class="form-group">
        <%= form.label :actl_submission_1, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <div class="input-group date" data-provide="datepicker"> 
            <%= form.text_field :actl_submission_1, class: "form-control" %>
            <span class="input-group-addon">:::</span>
          </div>
        </div>
      </div>
      <%- end -%>

      <%- if @workflow.permitted_to_show?( :next_submission ) then -%>
      <div class="form-group">
        <%= form.label :next_submission, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= display_value db_formatted_d( form.object.next_submission ) %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :next_submission ) then %>
      <div class="form-group">
        <%= form.label :next_submission, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <div class="input-group date" data-provide="datepicker"> 
            <%= form.text_field :next_submission, class: "form-control" %>
            <span class="input-group-addon">:::</span>
          </div>
        </div>
      </div>
      <%- end -%>

      <%= unless form.object.dsr_current_submission_id.nil? then fields_for :dsr_submission, @dsr_current_submission do |cs| %>
        <hr/>
        <div class="form-group">
          <%= cs.label :submission_no, class: "col-sm-3 control-label" %>
          <div class="col-sm-1">
            <%= display_value cs.object.submission_no %>
          </div>
        </div>

        <%- if @workflow.permitted_to_show?( :sender_doc_id_version ) then %>
        <div class="form-group">
          <%= cs.label :sender_doc_id_version, class: "col-sm-3 control-label" %>
          <div class="col-sm-4">
            <%= display_value form.object.sender_doc_id %>
          </div>
          <div class="col-sm-1">
            <%= display_value cs.object.sender_doc_id_version %>
          </div>
        </div>
        <%- end -%>
        <%- if @workflow.permitted_to_edit?( :sender_doc_id_version ) then %>
        <div class="form-group">
          <%= cs.label :sender_doc_id_version, class: "col-sm-3 control-label" %>
          <div class="col-sm-4">
            <%= display_value form.object.sender_doc_id %>
          </div>
          <div class="col-sm-1">
            <%= cs.text_field :sender_doc_id_version, class: "form-control" %>
          </div>
        </div>
        <%- end -%>

        <%- if @workflow.permitted_to_show?( :project_doc_id_version ) then %>
        <div class="form-group">
          <%= cs.label :project_doc_id_version, class: "col-sm-3 control-label" %>
          <div class="col-sm-4">
            <%= display_value form.object.project_doc_id %>
          </div>
          <div class="col-sm-1">
            <%= display_value cs.object.project_doc_id_version %>
          </div>
        </div>
        <%- end -%>
        <%- if @workflow.permitted_to_edit?( :project_doc_id_version ) then %>
        <div class="form-group">
          <%= cs.label :project_doc_id_version, class: "col-sm-3 control-label" %>
          <div class="col-sm-4">
            <%= display_value form.object.project_doc_id %>
          </div>
          <div class="col-sm-1">
            <%= cs.text_field :project_doc_id_version, class: "form-control" %>
          </div>
        </div>
        <%- end -%>

        <%- if @workflow.permitted_to_show?( :receiver_doc_id_version ) then %>
        <div class="form-group">
          <%= cs.label :receiver_doc_id_version, class: "col-sm-3 control-label" %>
          <div class="col-sm-4">
            <%= display_value form.object.receiver_doc_id %>
          </div>
          <div class="col-sm-1">
            <%= display_value cs.object.receiver_doc_id_version %>
          </div>
        </div>
        <%- end -%>
        <%- if @workflow.permitted_to_edit?( :receiver_doc_id_version ) then %>
        <div class="form-group">
          <%= cs.label :receiver_doc_id_version, class: "col-sm-3 control-label" %>
          <div class="col-sm-4">
            <%= display_value form.object.receiver_doc_id %>
          </div>
          <div class="col-sm-1">
            <%= cs.text_field :receiver_doc_id_version, class: "form-control" %>
          </div>
        </div>
        <%- end -%>

        <%- if @workflow.permitted_to_show?( :submission_receiver_doc_id ) then %>
        <div class="form-group">
          <%= cs.label :submission_receiver_doc_id, class: "col-sm-3 control-label" %>
          <div class="col-sm-4">
            <%= display_value cs.object.submission_receiver_doc_id %>
          </div>
        </div>
        <%- end -%>
        <%- if @workflow.permitted_to_edit?( :submission_receiver_doc_id ) then %>
        <div class="form-group">
          <%= cs.label :submission_receiver_doc_id, class: "col-sm-3 control-label" %>
          <div class="col-sm-4">
            <%= cs.text_field :submission_receiver_doc_id, class: "form-control" %>
          </div>
        </div>
        <%- end -%>

        <%- if @workflow.permitted_to_show?( :submission_project_doc_id ) then %>
        <div class="form-group">
          <%= cs.label :submission_project_doc_id, class: "col-sm-3 control-label" %>
          <div class="col-sm-4">
            <%= display_value cs.object.submission_project_doc_id %>
          </div>
        </div>
        <%- end -%>
        <%- if @workflow.permitted_to_edit?( :submission_project_doc_id ) then %>
        <div class="form-group">
          <%= cs.label :submission_project_doc_id, class: "col-sm-3 control-label" %>
          <div class="col-sm-4">
            <%= cs.text_field :submission_project_doc_id, class: "form-control" %>
          </div>
        </div>
        <%- end -%>

        <%- if @workflow.permitted_to_show?( :response_sender_doc_id ) then %>
        <div class="form-group">
          <%= cs.label :response_sender_doc_id, class: "col-sm-3 control-label" %>
          <div class="col-sm-4">
            <%= display_value cs.object.response_sender_doc_id %>
          </div>
        </div>
        <%- end -%>
        <%- if @workflow.permitted_to_edit?( :response_sender_doc_id ) then %>
        <div class="form-group">
          <%= cs.label :response_sender_doc_id, class: "col-sm-3 control-label" %>
          <div class="col-sm-4">
            <%= cs.text_field :response_sender_doc_id, class: "form-control" %>
          </div>
        </div>
        <%- end -%>

        <%- if @workflow.permitted_to_show?( :response_project_doc_id ) then %>
        <div class="form-group">
          <%= cs.label :response_project_doc_id, class: "col-sm-3 control-label" %>
          <div class="col-sm-4">
            <%= display_value cs.object.response_project_doc_id %>
          </div>
        </div>
        <%- end -%>
        <%- if @workflow.permitted_to_edit?( :response_project_doc_id ) then %>
        <div class="form-group">
          <%= cs.label :response_project_doc_id, class: "col-sm-3 control-label" %>
          <div class="col-sm-4">
            <%= cs.text_field :response_project_doc_id, class: "form-control" %>
          </div>
        </div>
        <%- end -%>

        <%- if @workflow.permitted_to_show?( :plnd_submission ) then -%>
        <div class="form-group">
          <%= cs.label :plnd_submission, class: "col-sm-3 control-label" %>
          <div class="col-sm-2">
            <%= display_value db_formatted_d( cs.object.plnd_submission ) %>
          </div>
        </div>
        <%- end -%>
        <%- if @workflow.permitted_to_edit?( :plnd_submission ) then %>
        <div class="form-group">
          <%= cs.label :plnd_submission, class: "col-sm-3 control-label" %>
          <div class="col-sm-2">
            <div class="input-group date" data-provide="datepicker"> 
              <%= cs.text_field :plnd_submission, class: "form-control" %>
              <span class="input-group-addon">:::</span>
            </div>
          </div>
        </div>
        <%- end -%>

        <%- if @workflow.permitted_to_show?( :actl_submission ) then -%>
        <div class="form-group">
          <%= cs.label :actl_submission, class: "col-sm-3 control-label" %>
          <div class="col-sm-2">
            <%= display_value db_formatted_d( cs.object.actl_submission ) %>
          </div>
        </div>
        <%- end -%>
        <%- if @workflow.permitted_to_edit?( :actl_submission ) then %>
        <div class="form-group">
          <%= cs.label :actl_submission, class: "col-sm-3 control-label" %>
          <div class="col-sm-2">
            <div class="input-group date" data-provide="datepicker"> 
              <%= cs.text_field :actl_submission, class: "form-control" %>
              <span class="input-group-addon">:::</span>
            </div>
          </div>
        </div>
        <%- end -%>

        <%- if @workflow.permitted_to_show?( :xpcd_response ) then -%>
        <div class="form-group">
          <%= cs.label :xpcd_response, class: "col-sm-3 control-label" %>
          <div class="col-sm-2">
            <%= display_value db_formatted_d( cs.object.xpcd_response ) %>
          </div>
        </div>
        <%- end -%>
        <%- if @workflow.permitted_to_edit?( :xpcd_response ) then %>
        <div class="form-group">
          <%= cs.label :xpcd_response, class: "col-sm-3 control-label" %>
          <div class="col-sm-2">
            <div class="input-group date" data-provide="datepicker">
              <%= cs.text_field :xpcd_response, class: "form-control" %>
              <span class="input-group-addon">:::</span>
            </div>
          </div>
          <div class="col-sm-1 text-center">&nbsp;+&nbsp;</div>
          <%= cs.label :xpcd_response_delta, class: 'control-label visible-xs-block col-sm-3' %>
          <div class="col-sm-1">
            <%= cs.text_field :xpcd_response_delta, class: 'form-control' %>
          </div>
          <%= cs.label :xpcd_response_delta, class: 'control-label hidden-xs' %>
        </div>
        <%- end -%>

        <%- if @workflow.permitted_to_show?( :actl_response ) then -%>
        <div class="form-group">
          <%= cs.label :actl_response, class: "col-sm-3 control-label" %>
          <div class="col-sm-2">
            <%= display_value db_formatted_d( cs.object.actl_response ) %>
          </div>
        </div>
        <%- end -%>
        <%- if @workflow.permitted_to_edit?( :actl_response ) then %>
        <div class="form-group">
          <%= cs.label :actl_response, class: "col-sm-3 control-label" %>
          <div class="col-sm-2">
            <div class="input-group date" data-provide="datepicker">
              <%= cs.text_field :actl_response, class: "form-control" %>
              <span class="input-group-addon">:::</span>
            </div>
          </div>
        </div>
        <%- end -%>

        <%- if @workflow.permitted_to_show?( :response_status ) then -%>
        <div class="form-group">
          <%= cs.label :response_status, class: "col-sm-3 control-label" %>
          <div class="col-sm-4">
            <%= display_value cs.object.response_status_label %>
          </div>
        </div>
        <%- end -%>
        <%- if @workflow.permitted_to_edit?( :response_status ) then %>
        <div class="form-group">
          <%= cs.label :response_status, class: "col-sm-3 control-label" %>
          <div class="col-sm-4">
            <%= cs.select :response_status, select_options( DsrSubmission::DSR_RESPONSE_STATUS_LABELS ), { prompt: t('.g_prompt') }, { class: "form-control" }%>
          </div>
        </div>
        <%- end -%>

        <hr/>
      <%- end -%>
      <%- end -%>

      <%- if @workflow.permitted_to_show?( :estm_completion ) then -%>
      <div class="form-group">
        <%= form.label :estm_completion, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= display_value db_formatted_d( form.object.estm_completion ) %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :estm_completion ) then %>
      <div class="form-group">
        <%= form.label :estm_completion, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <div class="input-group date" data-provide="datepicker">
            <%= form.text_field :estm_completion, class: "form-control" %>
            <span class="input-group-addon">:::</span>
          </div>
        </div>
      </div>
      <%- end -%>

      <%- if @workflow.permitted_to_show?( :plnd_completion ) then -%>
      <div class="form-group">
        <%= form.label :plnd_completion, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= display_value db_formatted_d( form.object.plnd_completion ) %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :plnd_completion ) then %>
      <div class="form-group">
        <%= form.label :plnd_completion, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <div class="input-group date" data-provide="datepicker">
            <%= form.text_field :plnd_completion, class: "form-control" %>
            <span class="input-group-addon">:::</span>
          </div>
        </div>
      </div>
      <%- end -%>

      <%- if @workflow.permitted_to_show?( :plnd_completion_b ) then -%>
      <div class="form-group">
        <%= form.label :plnd_completion_b, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= display_value db_formatted_d( form.object.plnd_completion_b ) %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :plnd_completion_b ) then %>
      <div class="form-group">
        <%= form.label :plnd_completion_b, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <div class="input-group date" data-provide="datepicker">
            <%= form.text_field :plnd_completion_b, class: "form-control" %>
            <span class="input-group-addon">:::</span>
          </div>
        </div>
      </div>
      <%- end -%>

      <%- if @workflow.permitted_to_show?( :actl_completion ) then -%>
      <div class="form-group">
        <%= form.label :actl_completion, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= display_value db_formatted_d( form.object.actl_completion ) %>
        </div>
      </div>
      <%- end -%>
      <%- if @workflow.permitted_to_edit?( :actl_completion ) then %>
      <div class="form-group">
        <%= form.label :actl_completion, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <div class="input-group date" data-provide="datepicker">
            <%= form.text_field :actl_completion, class: "form-control" %>
            <span class="input-group-addon">:::</span>
          </div>
        </div>
      </div>
      <%- end -%>

      <div class="form-group">
        <%= form.label :notes, class: "col-sm-3 control-label" %>
        <div class="col-sm-6">
          <%= form.text_field :notes, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :current_status_task, class: "col-sm-3 control-label" %>
        <div class="col-sm-6">
          <%= form.text_field :current_status_task, class: "form-control", value: @workflow.status_task_label, disabled: true %>
        </div>
      </div>

      <%- if @workflow.permitted_to_edit?( :current_status_b ) then -%>
      <div class="form-group">
        <%= form.label :current_status_b, class: "col-sm-3 control-label" %>
        <div class="col-sm-3">
          <%= form.text_field :current_status_b, class: "form-control" %>
        </div>
      </div>
      <%- end -%>

      <%- if @workflow.permitted_to_edit?( :current_task_b ) then -%>
      <div class="form-group">
        <%= form.label :current_task_b, class: "col-sm-3 control-label" %>
        <div class="col-sm-3">
          <%= form.text_field :current_task_b, class: "form-control" %>
        </div>
      </div>
      <%- end -%>

      <div class="form-group">
        <%= form.label :next_status_task, class: "col-sm-3 control-label" %>
        <div class="col-sm-6">
          <%= select_tag :next_status_task,
            options_for_select( @workflow.next_status_task_labels_for_select, selected: 0 ), { class: "form-control" }%>
        </div>
      </div>
