<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title_w_sub_title t('dsr_status_records.sub_title', stats_date: db_formatted_dt( Time.now ))%>
  <div class="table-responsive col-sm-8">
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th class="col-sm-2"><%= t('dsr_status_records.stats.progress_wgt') %></th>
          <th colspan="2" class="th-center col-sm-2"><%= t('dsr_status_records.stats.curr') %></th>
          <th colspan="2" class="th-center col-sm-2"><%= t('dsr_status_records.stats.base') %></th>
          <th colspan="2" class="th-center col-sm-2"><%= t('dsr_status_records.stats.var' ) %></th>
        </tr>
        <tr>
          <th class="col-sm-2"><%= SubmissionGroup.human_attribute_name( :code ) %></th>
          <th class="th-right col-sm-1"><%= t('dsr_status_records.stats.abs') %></th>
          <th class="th-right col-sm-1"><%= t('dsr_status_records.stats.rel') %></th>
          <th class="th-right col-sm-1"><%= t('dsr_status_records.stats.abs') %></th>
          <th class="th-right col-sm-1"><%= t('dsr_status_records.stats.rel') %></th>
          <th class="th-right col-sm-1"><%= t('dsr_status_records.stats.abs') %></th>
          <th class="th-right col-sm-1"><%= t('dsr_status_records.stats.rel') %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong><%= t('dsr_status_records.stats.grand_total' ) %></strong></td>
          <td class="td-right"><%= db_formatted_pct( v1 = @dsr_stats_gt[ 0 ] > 0 ? @dsr_stats_gt[ 1 ] / @dsr_stats_gt[ 0 ] : 0 )%></td>
          <td class="td-right"><%= db_formatted_pct 100 %></td>
          <td class="td-right"><%= db_formatted_pct( v2 = @dsr_stats_gt[ 2 ] > 0 ? @dsr_stats_gt[ 3 ] / @dsr_stats_gt[ 2 ] : 0 )%></td>
          <td class="td-right"><%= db_formatted_pct 100 %></td>
          <td class="td-right"><%= db_formatted_pct v1 - v2 %></td>
          <td class="td-right"><%= db_formatted_pct( variance_pct( v1, v2 ))%></td>
        </tr>
        <%- unless @dsr_stats_st.nil? -%>
          <%- @dsr_stats_st.each do |st| -%>
            <tr>
              <td><strong><%= @dsr_groups.assoc( st[ 0 ])[ 1 ] %></strong></td>
              <td class="td-right"><%= db_formatted_pct( v1 = st[ 2 ] > 0 ? st[ 2 ] / st[ 1 ] : 0 )%></td>
              <td class="td-right"><%= db_formatted_pct( percent_abs( st[ 2 ], @dsr_stats_gt[ 1 ]))%></td>
              <td class="td-right"><%= db_formatted_pct( v2 = st[ 4 ] > 0 ? st[ 4 ] / st[ 3 ] : 0 )%></td>
              <td class="td-right"><%= db_formatted_pct( percent_abs( st[ 4 ], @dsr_stats_gt[ 3 ]))%></td>
              <td class="td-right"><%= db_formatted_pct( v1 - v2 )%></td>
              <td class="td-right"><%= db_formatted_pct( variance_pct( v1, v2 ))%></td>
            </tr>
          <%- end -%>
        <%- end -%>
      </tbody>
    </table>
    <%= render partial: 'shared/footer', locals: { cr_details: 'stats_10' } %>
  </div>
</div>
