      <div class="form-group">
        <%= form.label :id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value form.object.id %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :label, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form.text_field :label, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :street_address, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form.text_area :street_address, cols: DEFAULT_COLS_TEXTAREA, rows: DEFAULT_ROWS_TEXTAREA, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :postal_address, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= form.text_area :postal_address, cols: DEFAULT_COLS_TEXTAREA, rows: DEFAULT_ROWS_TEXTAREA, class: 'form-control' %>
        </div>
      </div>
