<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
    <%= form_tag({},{ method: :get, class: 'form-inline' }) do %>
    <%= will_paginate @a5_codes %>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="col-sm-1"><%= A5Code.human_attribute_name( :id     )%></th>
            <th class="col-sm-1"><%= label_tag :as_code, A5Code.human_attribute_name( :code   ), class: 'control-label' %></th>
            <th class="col-sm-5"><%= label_tag :as_desc, t( '.labels_head' ), class: 'control-label' %></th>
            <th class="col-sm-1"><%= A5Code.human_attribute_name( :active   )%></th>
            <th class="col-sm-1"><%= A5Code.human_attribute_name( :master   )%></th>
            <th class="col-sm-1"><%= A5Code.human_attribute_name( :mapping )%></th>
            <th class="col-sm-1 hidden-print"><%= filter_action_title_header -%></th>
          </tr>
        </thead>
        <tbody>
          <tr <%= filter_row( @filter_fields ) -%>>
            <td></td>
            <td><%= filter_field @filter_fields, :as_code, :sw -%></td>
            <td><%= filter_field @filter_fields, :as_desc, :sw -%></td>
            <td colspan="3"></td>
            <td><%= filter_action_button -%></td>
          </tr>
        <% if @a5_codes.length.zero? %>
          <%= render partial: 'shared/index_empty_row', locals:{ columns: 6, with_link: true }%>
        <% else %>
          <% @a5_codes.each do |a5| %>
            <%- rowspan = a5.desc.blank? ? 1 : 2 -%>
            <tr>
              <td rowspan="<%= rowspan -%>"><%= a5.to_id %></td>
              <td rowspan="<%= rowspan -%>"><%= a5.code %></td>
              <td><%= a5.label %></td>
              <td><%= A5Code.human_attribute_name( :active ) if a5.active %></td>
              <td><%= A5Code.human_attribute_name( :master ) if a5.master %></td>
              <td><%= a5.mapping %></td>
              <td rowspan="<%= rowspan -%>"><%= render partial: 'shared/actions', object: a5 %></td>
            </tr>
            <%- unless a5.desc.blank? -%>
            <tr>
              <td colspan="4"><small><%= a5.desc %></small></td>
            </tr>
            <%- end -%>
          <% end %>
        <% end %>
        </tbody>
      </table>
    <% end %>
    <%= render partial: 'shared/footer' %>
  </div>
</div>
