<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="col-sm-1"><%= Reference.human_attribute_name( :id             )%></th>
          <th class="col-sm-2"><%= Reference.human_attribute_name( :code           )%></th>
          <th class="col-sm-5"><%= Reference.human_attribute_name( :description    )%></th>
          <th class="col-sm-3"><%= Reference.human_attribute_name( :project_doc_id )%></th>
          <th class="col-sm-1 hidden-print"><%= t( 'action_title.header' )%></th>
        </tr>
      </thead>
      <tbody>
      <% if @references.length.zero? %>
        <%= render partial: 'shared/index_empty_row', locals:{ columns: 4, with_link: true }%>
      <% else %>
        <% @references.each do |reference| %>
          <tr>
            <td><%= reference.to_id %></td>
            <td><%= reference.code %></td>
            <td><%= reference.description %></td>
            <td><%= reference.project_doc_id %></td>
            <td><%= render partial: 'shared/actions', object: reference %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <%= render partial: 'shared/download_xls' %>
    <%= render partial: 'shared/footer' %>
  </div>
</div>
