      <div class="form-group">
        <%= form.label :id, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= display_value form.object.id %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :orl_category_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= form.select :orl_category_id, @orl_categories, { prompt: t( '.g_prompt' )}, { class: 'form-control', required: true }%>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :desc, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= form.text_field :desc, class: "form-control", length: MAX_LENGTH_OF_DESCRIPTION %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :note, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= form.text_field :note, class: "form-control", length: MAX_LENGTH_OF_NOTE %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :project_doc_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= form.text_field :project_doc_id, class: "form-control", length: MAX_LENGTH_OF_DOC_ID %>
        </div>
      </div>
      <!-- request input for groups and accounts only when updating -->
      <%- unless action_name == 'new' -%>
       <div class="form-group">
        <%= form.label :r_group_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%- if @orl_step.in_reviewing_group? then -%>
            <%= form.select :r_group_id, @group_selection, { prompt: t( '.g_prompt' )},{ class: 'form-control', required: true }%>
          <%- else -%>
            <%= display_value form.object.r_group.code_and_label %>
          <%- end -%>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :r_owner_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%- if @orl_step.in_reviewing_group? then -%>
            <%= form.text_field :r_owner_id, class: "form-control", required: true %>
        </div>
        <div class="col-sm-2">
            <%= link_to t( 'general.accounts_link' ), account_list_path, class: 'btn btn-sm btn-block btn-default', target: '_blank' %>
          <%- else -%>
            <%= display_value form.object.r_owner_id %>
          <%- end -%>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :r_deputy_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%- if @orl_step.in_reviewing_group? then -%>
            <%= form.text_field :r_deputy_id, class: "form-control" %>
          <%- else -%>
            <%= display_value form.object.r_deputy_id %>
          <%- end -%>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :o_group_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%- if @orl_step.in_originating_group? then -%>
            <%= form.select :o_group_id, @group_selection, { prompt: t( '.g_prompt' )},{ class: 'form-control', required: true }%>
          <%- else -%>
            <%= display_value form.object.o_group.code_and_label %>
          <%- end -%>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :o_owner_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%- if @orl_step.in_originating_group? then -%>
          <%= form.text_field :o_owner_id, class: "form-control", required: true %>
        </div>
        <div class="col-sm-2">
            <%= link_to t( 'general.accounts_link' ), account_list_path, class: 'btn btn-sm btn-block btn-default', target: '_blank' %>
          <%- else -%>
            <%= display_value form.object.o_owner_id %>
          <%- end -%>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :o_deputy_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%- if @orl_step.in_originating_group? then -%>
            <%= form.text_field :o_deputy_id, class: "form-control" %>
          <%- else -%>
            <%= display_value form.object.o_deputy_id %>
          <%- end -%>
        </div>
      </div>
      <%- end -%>
      <div class="form-group">
        <%= form.label :report_doc_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= form.text_field :report_doc_id, class: "form-control", length: MAX_LENGTH_OF_DOC_ID %>
        </div>
      </div>
      <%- if @orl_step.status_closed? %>
      <div class="form-group">
        <%= form.label :archived, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= form.check_box :archived %>
        </div>
      </div>
      <%- end -%>
      <!-- data on current step -->
      <%= form.fields_for :orl_steps, @orl_step do |os| -%>
        <div class="form-group">
          <%= os.label :step_no, t( '.cs_heading', label: os.object.step_label ), class: "col-sm-3 control-label" %>
          <div class="col-sm-4"><hr /></div>
        </div>
        <div class="form-group">
          <%= os.label :subject_date, class: "col-sm-3 control-label" %>
          <div class="col-sm-2">
            <%- if os.object.in_originating_group? then -%>
              <div class="input-group date" data-provide="datepicker">
                <%= os.text_field :subject_date, class: "form-control" %>
                <span class="input-group-addon">:::</span>
              </div>
            <%- else -%>
              <%= display_value os.object.subject_date %>
            <%- end -%>
          </div>
        </div>
        <div class="form-group">
          <%= os.label :subject_version, class: "col-sm-3 control-label" %>
          <div class="col-sm-2">
            <%- if os.object.in_originating_group? then -%>
              <%= os.text_field :subject_version, class: "form-control", length: MAX_LENGTH_OF_DOC_VERSION %>
            <%- else -%>
              <%= display_value os.object.subject_version %>
            <%- end -%>
          </div>
        </div>
        <div class="form-group">
          <%= os.label :note, class: "col-sm-3 control-label" %>
          <div class="col-sm-4">
            <%= os.text_field :note, class: "form-control", length: MAX_LENGTH_OF_NOTE %>
          </div>
        </div>
        <div class="form-group">
          <%= os.label :due_date, class: "col-sm-3 control-label" %>
          <div class="col-sm-2">
            <div class="input-group date" data-provide="datepicker">
              <%= os.text_field :due_date, class: "form-control" %>
              <span class="input-group-addon">:::</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= os.label :assessment, class: "col-sm-3 control-label" %>
          <div class="col-sm-4">
            <%- if os.object.in_reviewing_group? then -%>
              <%= os.select :assessment, select_options( OrlStep::ASSESSMENT_LABELS ), { prompt: t( '.g_prompt' ) }, { class: "form-control" }%>
            <%- else -%>
              <%= display_value os.object.assessment_label %>
            <%- end -%>
          </div>
        </div>
      <%- end -%>


