<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="form-horizontal" role="form">
    <%= form_for @orl_subject do |f| %>
      <%= render partial: 'shared/notice' %>
      <div class="form-group">
        <%= f.label :id, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= display_value f.object.id %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :orl_category_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= display_value f.object.orl_category.label %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :desc, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= display_value f.object.desc %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :note, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= display_value f.object.note %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :project_doc_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= display_value f.object.project_doc_id %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :r_group_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= display_value f.object.r_group.code_and_label %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :r_owner_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= display_value f.object.r_owner_id %>
        </div>
        <div class="col-sm-4">
          <p class="form-control-static"><%= link_to_contact_list f.object.r_owner %></p>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :r_deputy_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= display_value f.object.r_deputy_id %>
        </div>
        <div class="col-sm-4">
          <p class="form-control-static"><%= link_to_contact_list f.object.r_deputy %></p>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :o_group_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= display_value f.object.o_group.code_and_label %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :o_owner_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= display_value f.object.o_owner_id %>
        </div>
        <div class="col-sm-4">
          <p class="form-control-static"><%= link_to_contact_list f.object.o_owner %></p>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :o_deputy_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= display_value f.object.o_deputy_id %>
        </div>
        <div class="col-sm-4">
          <p class="form-control-static"><%= link_to_contact_list f.object.o_deputy %></p>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :report_doc_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= display_value f.object.report_doc_id %>
        </div>
      </div>
      <%- if @orl_step.status_closed? then -%>
      <div class="form-group">
        <%= f.label :archived, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= f.check_box :archived, disabled: true, readonly: true %>
        </div>
      </div>
      <%- end -%>
      <!-- data on current step -->
      <%= f.fields_for :orl_steps, @orl_step do |os| -%>
        <div class="form-group">
          <%= os.label :step_no, t( '.cs_heading', label: os.object.step_label ), class: "col-sm-3 control-label" %>
          <div class="col-sm-4"><hr /></div>
        </div>
        <div class="form-group">
          <%= os.label :subject_date, class: "col-sm-3 control-label" %>
          <div class="col-sm-2">
            <%= display_value os.object.subject_date %>
          </div>
        </div>
        <div class="form-group">
          <%= os.label :subject_version, class: "col-sm-3 control-label" %>
          <div class="col-sm-2">
            <%= display_value os.object.subject_version %>
          </div>
        </div>
        <div class="form-group">
          <%= os.label :note, class: "col-sm-3 control-label" %>
          <div class="col-sm-4">
            <%= display_value os.object.note %>
          </div>
        </div>
        <div class="form-group">
          <%= os.label :due_date, class: "col-sm-3 control-label" %>
          <div class="col-sm-2">
            <%= display_value db_formatted_d( os.object.due_date )%>
          </div>
        </div>
        <div class="form-group">
          <%= os.label :assessment, class: "col-sm-3 control-label" %>
          <div class="col-sm-4">
            <%= display_value os.object.assessment_label %>
          </div>
        </div>
        <div class="form-group">
          <%= os.label :subject_status, class: "col-sm-3 control-label" %>
          <div class="col-sm-2">
            <%= display_value os.object.subject_status_label %>
          </div>
        </div>
      <%- end -%>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
          <%= link_to t( 'button_label.edit' ), edit_orl_subject_path( @orl_subject ), class: "btn btn-lg btn-block btn-default" %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( 'button_label.goto_to_list' ), orl_subjects_path, class: "btn btn-lg btn-block btn-default" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
