      <div class="form-group">
        <%= form.label :id, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= display_value form.object.id %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :dsr_status_record_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= form.text_field :dsr_status_record_id, class: "form-control", required: true %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :submission_no, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= form.text_field :submission_no, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :sender_doc_id_version, class: "col-sm-3 control-label" %>
        <div class="col-sm-3">
          <%= display_value form.object.dsr_status_record.try( :sender_doc_id )%>
        </div>
        <div class="col-sm-1">
          <%= form.text_field :sender_doc_id_version, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :project_doc_id_version, class: "col-sm-3 control-label" %>
        <div class="col-sm-3">
          <%= display_value form.object.dsr_status_record.try( :project_doc_id )%>
        </div>
        <div class="col-sm-1">
          <%= form.text_field :project_doc_id_version, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :receiver_doc_id_version, class: "col-sm-3 control-label" %>
        <div class="col-sm-3">
          <%= display_value form.object.dsr_status_record.try( :receiver_doc_id )%>
        </div>
        <div class="col-sm-1">
          <%= form.text_field :receiver_doc_id_version, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :submission_receiver_doc_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= form.text_field :submission_receiver_doc_id, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :submission_project_doc_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= form.text_field :submission_project_doc_id, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :response_sender_doc_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= form.text_field :response_sender_doc_id, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :response_project_doc_id, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= form.text_field :response_project_doc_id, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :plnd_submission, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= form.text_field :plnd_submission, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :actl_submission, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= form.text_field :actl_submission, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :xpcd_response, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= form.text_field :xpcd_response, class: 'form-control' %>
        </div>
        <div class="col-sm-1 text-center">&nbsp;+&nbsp;</div>
        <%= form.label :xpcd_response_delta, class: 'control-label visible-xs-block col-sm-3' %>
        <div class="col-sm-1">
          <%= form.text_field :xpcd_response_delta, class: 'form-control' %>
        </div>
        <%= form.label :xpcd_response_delta, class: 'control-label hidden-xs' %>
      </div>
      <div class="form-group">
        <%= form.label :actl_response, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= form.text_field :actl_response, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :response_status, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= form.select :response_status, select_options( DsrSubmission::DSR_RESPONSE_STATUS_LABELS ), { prompt: t('.g_prompt') }, { class: "form-control" }%>
        </div>
      </div>
