<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="form-horizontal" role="form">
    <%= form_for @dsr_submission do |f| %>
      <%= render partial: 'shared/notice' %>
      <div class="form-group">
        <%= f.label :id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value f.object.to_id %>
        </div>
      </div>
       <div class="form-group">
        <%= f.label :dsr_status_record_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value f.object.dsr_status_record_id %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :submission_no, class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%= display_value f.object.submission_no %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :sender_doc_id_version, class: 'col-sm-3 control-label' %>
        <div class="col-sm-3">
          <%= display_value f.object.dsr_status_record.sender_doc_id %>
        </div>
        <div class="col-sm-1">
          <%= display_value f.object.sender_doc_id_version %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :project_doc_id_version, class: 'col-sm-3 control-label' %>
        <div class="col-sm-3">
          <%= display_value f.object.dsr_status_record.project_doc_id %>
        </div>
        <div class="col-sm-1">
          <%= display_value f.object.project_doc_id_version %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :receiver_doc_id_version, class: 'col-sm-3 control-label' %>
        <div class="col-sm-3">
          <%= display_value f.object.dsr_status_record.receiver_doc_id %>
        </div>
        <div class="col-sm-1">
          <%= display_value f.object.receiver_doc_id_version %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :submission_receiver_doc_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= display_value f.object.submission_receiver_doc_id %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :submission_project_doc_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= display_value f.object.submission_project_doc_id %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :response_sender_doc_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= display_value f.object.response_sender_doc_id %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :response_project_doc_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= display_value f.object.response_project_doc_id %>
        </div>
      </div>
     <div class="form-group">
        <%= f.label :plnd_submission, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value db_formatted_d( f.object.plnd_submission )%>
        </div>
      </div>
     <div class="form-group">
        <%= f.label :actl_submission, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value db_formatted_d( f.object.actl_submission )%>
        </div>
      </div>
     <div class="form-group">
        <%= f.label :xpcd_response, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value db_formatted_d( f.object.xpcd_response )%>
        </div>
      </div>
     <div class="form-group">
        <%= f.label :actl_response, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value db_formatted_d( f.object.actl_response )%>
        </div>
      </div>
     <div class="form-group">
        <%= f.label :response_status, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= display_value f.object.response_status_label %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
          <%= link_to t( 'button_label.edit' ), edit_dsr_submission_path( @dsr_submission ), class: 'btn btn-lg btn-block btn-default' %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( 'button_label.go_to_index' ), dsr_submissions_path, class: 'btn btn-lg btn-block btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
