<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="form-horizontal" role="form">
    <%= form_for @product_code do |fc| %>
      <%= render partial: 'shared/notice' %>
      <div class="form-group">
        <%= fc.label :id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= display_value fc.object.id %>
        </div>
      </div>
      <div class="form-group">
        <%= fc.label :code, class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= fc.text_field :code, class: 'form-control', readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <%= fc.label :label, class: 'col-sm-3 control-label' %>
        <div class="col-sm-4">
          <%= fc.text_field :label, class: 'form-control', readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <%= fc.label :active, class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%= fc.check_box :active, disabled: true, readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <%= fc.label :master, class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%= fc.check_box :master, disabled: true, readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <%= fc.label :standard, class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%= fc.check_box :standard, disabled: true, readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <%= fc.label :heading, class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%= fc.check_box :heading, disabled: true, readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <%= fc.label :note, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= fc.text_field :note, class: 'form-control', readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
          <%= link_to t( 'button_label.edit' ), edit_product_code_path( @product_code ), class: 'btn btn-lg btn-block btn-default' %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( 'button_label.goto_to_list' ), product_codes_path, class: 'btn btn-lg btn-block btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
