      <div class="form-group">
        <%= form.label :id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%= display_value form.object.id %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :label, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= form.text_field :label, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :hyperlink, class: 'col-sm-3 control-label' %>
        <div class="col-sm-9">
          <%= form.text_area :hyperlink, class: 'form-control', placeholder: t( '.req_link_prompt' ) %>
        </div> 
      </div>
      <div class="form-group">
        <%= form.label :seqno, class: 'col-sm-3 control-label' %>
        <div class="col-sm-1">
          <%= form.text_field :seqno, class: 'form-control' %>
        </div>
      </div>

