<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="table-responsive col-sm-8">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><%= WebLink.human_attribute_name( :label ) %></th>
          <th class="col-sm-1 hidden-print"><%= t( 'action_title.header' )%></th>
        </tr>
      </thead>
      <tbody>
      <% if @web_links.length.zero? %>
        <%= render partial: 'shared/index_empty_row', locals:{ columns: 1, with_link: true }%>
      <% else %>
        <% @web_links.each do |wl| %>
          <tr>
            <td><%= link_to_unless wl.hyperlink.blank?, wl.label, wl.hyperlink %></td>
            <td><%= render partial: 'shared/actions', object: wl %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <%= render partial: 'shared/footer' %>
  </div>
</div>
