<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="form-horizontal" role="form">
    <%= form_for @web_link do |f| %>
      <%= render partial: 'shared/notice' %>
      <div class="form-group">
        <%= f.label :id, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= display_value f.object.id %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :label, class: "col-sm-3 control-label" %>
        <div class="col-sm-6">
          <%= f.text_field :label, class: "form-control", readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :hyperlink, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_area :hyperlink, class: "form-control", readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :seqno, class: "col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= f.text_field :seqno, class: "form-control", readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
          <%= link_to t( 'button_label.edit' ), edit_web_link_path( @web_link ), class: "btn btn-lg btn-block btn-default" %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( 'button_label.goto_to_list' ), web_links_path, class: "btn btn-lg btn-block btn-default" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
