<div class="form-group form-group-sm form-set" <% if( permission4g.object._destroy || permission4g.index == 'template' )%>style="display:none"<% end %>>
  <div class="col-sm-1">
    <%= permission4g.hidden_field :_destroy %>
    <%= link_to '-', '#', class: 'btn btn-warning btn-default btn-sm btn-block del-subform-button' %>
  </div>
  <div class="col-sm-3">
    <%= permission4g.label :feature_id, class: 'hidden-md hidden-lg control-label' %>
    <%= permission4g.text_field :feature_id, class: 'form-control' %>
  </div>
  <div class="col-sm-2">
    <%= permission4g.label :group_id, class: 'hidden-md hidden-lg control-label' %>
    <%= permission4g.text_field :group_id, class: 'form-control' %>
  </div>
  <div class="col-sm-1">
    <%= permission4g.label :to_index, class: 'hidden-md hidden-lg control-label' %>
    <%= permission4g.text_field :to_index, class: 'form-control' %>
  </div>
  <div class="col-sm-1">
    <%= permission4g.label :to_create, class: 'hidden-md hidden-lg control-label' %>
    <%= permission4g.text_field :to_create, class: 'form-control' %>
  </div>
  <div class="col-sm-1">
    <%= permission4g.label :to_read, class: 'hidden-md hidden-lg control-label' %>
    <%= permission4g.text_field :to_read, class: 'form-control' %>
  </div>
  <div class="col-sm-1">
    <%= permission4g.label :to_update, class: 'hidden-md hidden-lg control-label' %>
    <%= permission4g.text_field :to_update, class: 'form-control' %>
  </div>
  <div class="col-sm-1">
    <%= permission4g.label :to_delete, class: 'hidden-md hidden-lg control-label' %>
    <%= permission4g.text_field :to_delete, class: 'form-control' %>
  </div>
</div>
