<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="table-responsive">
    <%= form_tag({},{ method: :get, class: 'form-inline' }) do %>
    <%= will_paginate @accounts %>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><%= label_tag :ff_id, Account.human_attribute_name( :id ), class: 'control-label' %></th>
          <th><%= label_tag :ff_name, Account.human_attribute_name( :name ), class: 'control-label' %></th>
          <th><%= label_tag :ff_person_id, Account.human_attribute_name( :person_id ), class: 'control-label'%></th>
          <th><%= label_tag :ff_active, Account.human_attribute_name( :active ), class: 'control-label'%></th>
          <th><%= filter_action_title_header -%></th>
        </tr>
      </thead>
      <tbody>
      <tr <%= filter_row( @filter_fields ) -%>>
        <td><%= filter_field @filter_fields, :ff_id, :id -%></td>
        <td><%= filter_field @filter_fields, :ff_name, :sw -%></td>
        <td><%= filter_field @filter_fields, :ff_person_id, :id -%></td>
        <td><%= filter_check_box @filter_fields, :ff_active, 'accounts' %></td>
        <td><%= filter_action_button -%></td>
      </tr>
      <% if @accounts.length.zero? %>
        <%= render partial: 'shared/index_empty_row', locals: { columns: 4, with_link: true }%>
      <% else %>
        <% @accounts.each do |a| %>
          <tr>
            <td><%= a.to_id %></td>
            <td><%= a.name %></td>
            <td><%= link_to( a.person.name_with_id, person_path( a.person_id )) unless a.person_id.nil? %></td>
            <td><%= display_boolean( a.active ) %></td>
            <td><%= render partial: 'shared/actions', object: a %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <% end %>
    <%= render partial: 'shared/footer' %>
  </div>
</div>
