<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <div class="form-horizontal" role="form">
    <%= form_for @siemens_phase do |sp| %>
      <%= render partial: 'shared/notice' %>
      <%= render partial: 'shared/errors', object: @siemens_phase.errors %>
      <%= render partial: 'form', object: sp %>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
          <%= sp.submit class: 'btn btn-lg btn-block btn-primary' %>
        </div>
        <div class="col-sm-2">
          <%= link_to t( 'button_label.cancel_to_index' ), siemens_phases_path, class: 'btn btn-lg btn-block btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>